---
layout: default
---
<div id="hero">
  <div class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" data-src="assets/images/hero-404.jpg" uk-parallax="bgy: -350;" uk-img>
    <div class="uk-container uk-text-center uk-width-2-3@m">
      <div>
        <p class="font-mono animated fadeInUp delay-2s fast" style="font-size:8rem; margin-top:60px; font-weight:700;">404</p>
        <p class="font-mono animated fadeInUp delay-2s fast" style="font-size:1.5rem; margin-top:-20px;">Page not found :(</p>
        <p class="animated fadeInUp delay-2s fast" style="font-size:1.3rem; margin-top:10px"">The requested page could not be found</p>
      </div>
    </div>
  </div>
</div>
