<footer>
  <!--Desktop-->
  <div class="uk-container uk-container-large uk-visible@m">
    <div class="uk-flex uk-flex-center" uk-grid>

      <div class="uk-width-1-5">
          <ul class="uk-list list-footer">
            <li><a href="{{ site.baseurl_root }}">Home</a></li>
            <li><a href="{{ site.baseurl_root }}/quienes-somos">¿Quiénes somos?</a>
              <li><a href="{{ site.baseurl_root }}/abrealcaldias-latam">Abre Alcaldías LATAM</a></li>
              <li><a href="{{ site.baseurl_root }}/abrealcaldias-chile">Abre Alcaldías Chile</a></li>
              <li><a href="{{ site.baseurl_root }}/metodo">Método</a></li>
              <li><a href="{{ site.baseurl_root }}/publicaciones" class="active">Publicaciones</a></li>
              <li><a href="{{ site.baseurl_root }}/contacto">Contacto</a></li>
          </ul>
      </div>

      <div class="uk-width-1-2 uk-flex uk-flex-middle logo-iconos">
        <ul class="uk-list logo-footer">
          <li><img class="logo-footer-80" data-src="../assets/images/logo-footer.svg" uk-img></li>
        </ul>
        <div class="iconos-rrss-footer">
          <div class="uk-flex uk-flex-center uk-margin-medium-top">
            <a href="mailto:info@ciudadaniai.org" target="_blank"><svg class="icon-footer" style="margin-left: -4px;" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.5 19.75C12.82 19.75 11.14 18.2625 10.3 17.625C6.1 14.65 4.84 13.5875 4 12.95V21.875C4 23.0484 4.94041 24 6.1 24H22.9C24.0596 24 25 23.0484 25 21.875V12.95C24.16 13.5875 22.9 14.65 18.7 17.625C17.86 18.2625 16.18 19.75 14.5 19.75ZM22.9 7H6.1C4.94041 7 4 7.9516 4 9.125V10.1875C5.68 11.4625 5.47 11.4625 11.56 15.925C12.19 16.35 13.45 17.625 14.5 17.625C15.55 17.625 16.81 16.35 17.44 16.1375C23.53 11.675 23.32 11.675 25 10.4V9.125C25 7.9516 24.0596 7 22.9 7Z" fill="white"/>
            </svg></a>
            <a href="https://gitlab.com/ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.52181 4.29481C8.38862 3.90173 7.84726 3.90173 7.70977 4.29481L5.28225 12.0151H10.9536C10.9493 12.0151 8.52181 4.29481 8.52181 4.29481V4.29481ZM4.04056 15.9017C3.92886 16.2551 4.05345 16.6481 4.34562 16.8734L14.9966 25L5.27796 12.0151L4.04056 15.9017ZM10.9493 12.0151L15.0009 25L19.0525 12.0151H10.9493ZM25.9613 15.9017L24.7239 12.0151L15.0009 25L25.6519 16.8734C25.9484 16.6481 26.0687 16.2551 25.9613 15.9017V15.9017ZM22.2921 4.29481C22.1589 3.90173 21.6175 3.90173 21.48 4.29481L19.0482 12.0151H24.7196L22.2921 4.29481Z" fill="white"/>
            </svg></a>
            <a href="https://twitter.com/ciudadania_i" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.8414 11.2367C22.8548 11.4226 22.8548 11.6086 22.8548 11.7945C22.8548 17.4656 18.5242 24 10.6092 24C8.17069 24 5.90547 23.2961 4 22.0742C4.34646 22.1141 4.67955 22.1273 5.03934 22.1273C7.05137 22.1273 8.90356 21.45 10.3826 20.2946C8.49049 20.2547 6.90482 19.0195 6.35849 17.3195C6.62501 17.3593 6.89149 17.3859 7.17134 17.3859C7.55775 17.3859 7.9442 17.3328 8.30395 17.2399C6.33187 16.8414 4.85276 15.1148 4.85276 13.0297V12.9766C5.42571 13.2953 6.09201 13.4945 6.79818 13.5211C5.63891 12.7507 4.87942 11.4359 4.87942 9.94841C4.87942 9.15155 5.09258 8.42108 5.4657 7.78357C7.58437 10.3867 10.769 12.0867 14.3401 12.2726C14.2735 11.9539 14.2335 11.6219 14.2335 11.2898C14.2335 8.92576 16.1523 7 18.5374 7C19.7766 7 20.8959 7.51797 21.6821 8.35469C22.6548 8.16876 23.5875 7.81015 24.4137 7.31875C24.0939 8.31487 23.4143 9.15159 22.5216 9.6828C23.3877 9.58988 24.2272 9.35076 25 9.01876C24.4138 9.86873 23.6809 10.6257 22.8414 11.2367V11.2367Z" fill="white"/>
            </svg></a>
            <a href="https://www.instagram.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.0022 9.14293C12.1645 9.14293 9.87563 11.5595 9.87563 14.5556C9.87563 17.5516 12.1645 19.9682 15.0022 19.9682C17.8399 19.9682 20.1288 17.5516 20.1288 14.5556C20.1288 11.5595 17.8399 9.14293 15.0022 9.14293ZM15.0022 18.0745C13.1684 18.0745 11.6693 16.4964 11.6693 14.5556C11.6693 12.6147 13.164 11.0366 15.0022 11.0366C16.8405 11.0366 18.3352 12.6147 18.3352 14.5556C18.3352 16.4964 16.836 18.0745 15.0022 18.0745V18.0745ZM21.5343 8.92153C21.5343 9.62343 20.9989 10.184 20.3385 10.184C19.6737 10.184 19.1428 9.61872 19.1428 8.92153C19.1428 8.22434 19.6782 7.65905 20.3385 7.65905C20.9989 7.65905 21.5343 8.22434 21.5343 8.92153ZM24.9297 10.2028C24.8539 8.5117 24.488 7.01369 23.3146 5.77948C22.1456 4.54527 20.7267 4.15899 19.1249 4.07419C17.4741 3.97527 12.5259 3.97527 10.8751 4.07419C9.27775 4.15428 7.8589 4.54056 6.68544 5.77477C5.51199 7.00898 5.15059 8.50699 5.07027 10.1981C4.97658 11.9411 4.97658 17.1653 5.07027 18.9083C5.14612 20.5994 5.51199 22.0974 6.68544 23.3316C7.8589 24.5658 9.27329 24.9521 10.8751 25.0369C12.5259 25.1358 17.4741 25.1358 19.1249 25.0369C20.7267 24.9568 22.1456 24.5706 23.3146 23.3316C24.4835 22.0974 24.8494 20.5994 24.9297 18.9083C25.0234 17.1653 25.0234 11.9458 24.9297 10.2028V10.2028ZM22.797 20.7784C22.449 21.7017 21.7752 22.413 20.8963 22.7852C19.58 23.3363 16.4568 23.2092 15.0022 23.2092C13.5477 23.2092 10.42 23.3316 9.1082 22.7852C8.23369 22.4178 7.55996 21.7064 7.20747 20.7784C6.68544 19.3888 6.80591 16.0913 6.80591 14.5556C6.80591 13.0199 6.68991 9.71764 7.20747 8.33269C7.55549 7.40939 8.22922 6.69807 9.1082 6.32592C10.4244 5.77477 13.5477 5.90195 15.0022 5.90195C16.4568 5.90195 19.5845 5.77948 20.8963 6.32592C21.7708 6.69336 22.4445 7.40468 22.797 8.33269C23.319 9.72235 23.1985 13.0199 23.1985 14.5556C23.1985 16.0913 23.319 19.3935 22.797 20.7784Z" fill="white"/>
            </svg></a>
            <a href="https://www.facebook.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.2792 16.8125L19.8496 13.012H16.2831V10.5457C16.2831 9.50598 16.7813 8.49248 18.3786 8.49248H20V5.25676C20 5.25676 18.5286 5 17.1218 5C14.1847 5 12.2649 6.82027 12.2649 10.1155V13.012H9V16.8125H12.2649V26H16.2831V16.8125H19.2792Z" fill="white"/>
            </svg></a>
            <a href="https://www.youtube.com/channel/UCtiq34lXdXDxo6GhIwnY5Sw" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.4776 9.65992C26.1901 8.61292 25.3429 7.78833 24.2673 7.50849C22.3177 7 14.5 7 14.5 7C14.5 7 6.68232 7 4.73266 7.50849C3.65706 7.78837 2.80992 8.61292 2.5224 9.65992C2 11.5577 2 15.5172 2 15.5172C2 15.5172 2 19.4767 2.5224 21.3744C2.80992 22.4214 3.65706 23.2117 4.73266 23.4915C6.68232 24 14.5 24 14.5 24C14.5 24 22.3177 24 24.2673 23.4915C25.3429 23.2117 26.1901 22.4214 26.4776 21.3744C27 19.4767 27 15.5172 27 15.5172C27 15.5172 27 11.5577 26.4776 9.65992V9.65992ZM11.9432 19.1121V11.9223L18.4772 15.5173L11.9432 19.1121V19.1121Z" fill="white"/>
            </svg></a>
            <a href="https://medium.com/@ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 4V26H26V4H4ZM22.2777 9.21027L21.0991 10.3397C20.996 10.4183 20.9469 10.546 20.9665 10.6688V18.9826C20.9469 19.1103 20.996 19.2379 21.0991 19.3116L22.2531 20.4411V20.6915H16.4585V20.4509L17.6518 19.292C17.7696 19.1741 17.7696 19.1397 17.7696 18.9629V12.2402L14.45 20.667H14.0031L10.1384 12.2402V17.8875C10.104 18.1232 10.1875 18.3638 10.3545 18.5357L11.9062 20.4165V20.667H7.49643V20.4165L9.04821 18.5357C9.21518 18.3638 9.28884 18.1232 9.24955 17.8875V11.3562C9.2692 11.1746 9.20045 10.9978 9.06295 10.875L7.68304 9.21027V8.95982H11.9701L15.2799 16.2277L18.192 8.96473H22.2777V9.21027Z" fill="white"/>
            </svg></a>
            <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9037 13.1735L13.4303 13.9399C13.012 13.0715 12.3108 13.0559 12.2123 13.0559C11.2307 13.0559 10.7388 13.704 10.7388 15.0004C10.7388 16.0459 11.1473 16.945 12.2123 16.945C12.8541 16.945 13.3056 16.6305 13.5682 16.002L14.9233 16.6895C14.6496 17.2 13.7838 18.4184 12.0358 18.4184C11.0333 18.4184 8.75528 17.9607 8.75528 15.0009C8.75528 12.3977 10.6625 11.5829 11.9768 11.5829C13.3394 11.5825 14.3143 12.1129 14.9037 13.1735V13.1735ZM21.2487 13.1735L19.7948 13.9399C19.3734 13.063 18.654 13.0559 18.5573 13.0559C17.5752 13.0559 17.0838 13.704 17.0838 15.0004C17.0838 16.045 17.4932 16.945 18.5573 16.945C19.1982 16.945 19.6506 16.6305 19.9119 16.002L21.2869 16.6895C21.1937 16.8558 20.3381 18.4184 18.3998 18.4184C17.3934 18.4184 15.1193 17.9806 15.1193 15.0009C15.1193 12.3986 17.0252 11.5829 18.3408 11.5829C19.7029 11.5825 20.673 12.1129 21.2487 13.1735V13.1735ZM14.9805 4C8.64573 4 4 9.10347 4 15C4 21.1427 9.03871 26 14.9805 26C20.7435 26 26 21.5259 26 15C26 8.8848 21.2709 4 14.9805 4V4ZM15.0191 23.9956C10.0274 23.9956 5.98399 19.8688 5.98399 15C5.98399 10.3241 9.77323 5.98399 15.02 5.98399C20.0112 5.98399 24.016 9.95198 24.016 14.9996C24.0156 20.3971 19.5947 23.9956 15.0191 23.9956V23.9956Z" fill="white"/>
            </svg></a>
          </div>
        </div>

      </div>


      <div class="uk-width-1-5 fci-logo">
        <li><p>Un proyecto de</p></li>
        <li>
         <a class="logo-footer-fci" href="https://ciudadaniai.org" target="_blank">
           <svg class="logo-footer-60" width="177" height="52" viewBox="0 0 177 52" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M22.3289 3.76781C22.5289 3.93599 22.7288 4.07053 22.9954 4.17144C23.262 4.27234 23.5287 4.30598 23.8619 4.30598C24.5285 4.30598 25.0284 4.1378 25.4283 3.76781C25.7949 3.39783 25.9949 2.92694 25.9949 2.35514C25.9949 1.78334 25.7949 1.31245 25.4283 0.94246C25.0617 0.572473 24.5285 0.404297 23.8619 0.404297C23.5287 0.404297 23.262 0.437932 22.9954 0.538838C22.7288 0.639743 22.5289 0.774284 22.3289 0.94246C22.1289 1.11064 21.9956 1.31245 21.8956 1.58153C21.7957 1.81697 21.729 2.08606 21.729 2.38877C21.729 2.65785 21.7957 2.92694 21.8956 3.19602C21.9956 3.39783 22.1289 3.59964 22.3289 3.76781Z" fill="white"/>
             <path d="M29.5613 17.457H25.6954V6.05469H17.9302V9.08185H21.9961V17.457H17.9302V20.4505H29.5613V17.457Z" fill="white"/>
             <path d="M34.6932 19.307C35.1264 19.8115 35.6597 20.1815 36.2929 20.4169C36.8928 20.6524 37.5926 20.7533 38.3258 20.7533C39.1257 20.7533 39.8922 20.5515 40.5587 20.1478C41.2253 19.7442 41.8252 19.1724 42.2918 18.4661L42.4917 20.4842H45.8244V6.05469H42.1251V16.1789C41.8918 16.6834 41.5252 17.0534 41.092 17.3225C40.6254 17.5916 40.0255 17.7261 39.3256 17.7261C38.8924 17.7261 38.5258 17.6588 38.2259 17.5579C37.9259 17.457 37.6926 17.2888 37.4927 17.0198C37.2927 16.7843 37.1594 16.448 37.0927 16.0443C36.9928 15.6407 36.9594 15.1362 36.9594 14.5644V6.05469H33.2935V14.598C33.2935 15.6744 33.4268 16.6161 33.6601 17.3897C33.8933 18.1634 34.2599 18.8024 34.6932 19.307Z" fill="white"/>
             <path d="M50.5235 18.6675C50.9901 19.3066 51.59 19.8111 52.2898 20.1811C52.9897 20.5511 53.7562 20.7193 54.6227 20.7193C55.4226 20.7193 56.1225 20.5511 56.7223 20.2484C57.3222 19.9457 57.8555 19.5084 58.322 18.9366L58.522 20.4502H61.8214V0H58.1221V7.33247C57.6888 6.82794 57.1889 6.45796 56.6224 6.18887C56.0558 5.91979 55.3893 5.78525 54.6561 5.78525C53.7562 5.78525 52.9897 5.95343 52.2898 6.32341C51.59 6.6934 51.0234 7.16429 50.5235 7.837C50.0236 8.47607 49.657 9.24968 49.4237 10.1578C49.1571 11.066 49.0571 12.075 49.0571 13.1514V13.4204C49.0571 14.4631 49.1904 15.4386 49.4237 16.3467C49.657 17.2212 50.0236 17.9948 50.5235 18.6675ZM52.6898 13.1514C52.6898 12.5459 52.7564 11.9741 52.8564 11.436C52.9564 10.8978 53.123 10.4605 53.3563 10.0569C53.5896 9.6533 53.8895 9.35058 54.2561 9.11514C54.6227 8.87969 55.056 8.77878 55.5892 8.77878C56.2224 8.77878 56.7223 8.91332 57.1556 9.18241C57.5555 9.45149 57.8888 9.82147 58.1554 10.326V16.1785C57.9221 16.6494 57.5888 17.0194 57.1556 17.3221C56.7223 17.5912 56.2224 17.7257 55.5892 17.7257C55.056 17.7257 54.6227 17.6248 54.2561 17.3894C53.8895 17.1539 53.5896 16.8512 53.3563 16.4812C53.123 16.1113 52.9564 15.6404 52.8564 15.1358C52.7564 14.6313 52.6898 14.0595 52.6898 13.4541V13.1514Z" fill="white"/>
             <path d="M68.2538 20.4169C68.8537 20.6187 69.5203 20.7532 70.2535 20.7532C70.6867 20.7532 71.12 20.7196 71.5199 20.6187C71.9198 20.5178 72.2531 20.4169 72.5864 20.2824C72.9196 20.1478 73.1862 19.9796 73.4529 19.7778C73.7195 19.576 73.9528 19.3742 74.1527 19.1388C74.186 19.4078 74.2527 19.6433 74.3194 19.8787C74.386 20.1142 74.4527 20.316 74.5526 20.4842H78.2853V20.2487C78.0853 19.8787 77.952 19.4415 77.852 18.9369C77.752 18.4324 77.7187 17.7934 77.7187 17.0197V10.8309C77.7187 9.98999 77.5521 9.25001 77.2521 8.61094C76.9522 7.97188 76.5189 7.43371 75.9857 7.03009C75.4525 6.62647 74.7859 6.29012 74.0527 6.08831C73.3195 5.88649 72.5197 5.75195 71.6532 5.75195C70.6867 5.75195 69.8535 5.88649 69.087 6.12194C68.3538 6.35739 67.7206 6.69374 67.1874 7.131C66.6875 7.53462 66.2875 8.03915 66.0209 8.57731C65.7543 9.11547 65.621 9.72091 65.621 10.3263H69.287C69.287 9.78818 69.4536 9.35092 69.7869 9.01457C70.1201 8.67821 70.6867 8.54367 71.4199 8.54367C72.2531 8.54367 72.9196 8.74549 73.3529 9.14911C73.7861 9.55273 74.0194 10.0909 74.0194 10.7972V11.6381H71.9865C69.7535 11.6381 68.0872 12.0417 66.9541 12.8826C65.821 13.7235 65.2544 14.9007 65.2544 16.4143C65.2544 17.0197 65.3877 17.6252 65.621 18.1297C65.8543 18.6679 66.2209 19.1051 66.6541 19.5087C67.1207 19.9124 67.6539 20.2151 68.2538 20.4169ZM69.1537 15.2371C69.287 14.968 69.4536 14.7325 69.7202 14.5307C69.9868 14.3289 70.3201 14.1608 70.72 14.0598C71.12 13.9589 71.6199 13.8917 72.1864 13.8917H74.0527V16.3807C73.9528 16.5825 73.7861 16.7507 73.6195 16.9188C73.4195 17.087 73.2196 17.2552 72.9529 17.3897C72.6863 17.5243 72.4197 17.6588 72.0864 17.7261C71.7532 17.827 71.4199 17.8606 71.0533 17.8606C70.3534 17.8606 69.8202 17.6924 69.4869 17.3561C69.1537 17.0197 68.9537 16.6161 68.9537 16.1116C68.9537 15.8089 69.0204 15.5062 69.1537 15.2371Z" fill="white"/>
             <path d="M84.7176 20.1811C85.4175 20.5511 86.184 20.7193 87.0505 20.7193C87.8503 20.7193 88.5502 20.5511 89.1501 20.2484C89.75 19.9457 90.2832 19.5084 90.7498 18.9366L90.9497 20.4502H94.2491V0H90.5498V7.33247C90.1166 6.82794 89.6167 6.45796 89.0501 6.18887C88.4835 5.91979 87.817 5.78525 87.0838 5.78525C86.184 5.78525 85.4175 5.95343 84.7176 6.32341C84.0177 6.6934 83.4512 7.16429 82.9513 7.837C82.4513 8.47607 82.0848 9.24968 81.8515 10.1578C81.5848 11.066 81.4849 12.075 81.4849 13.1514V13.4204C81.4849 14.4631 81.6182 15.4386 81.8515 16.3467C82.1181 17.2549 82.4847 17.9948 82.9513 18.6675C83.4512 19.3066 84.0177 19.8111 84.7176 20.1811ZM85.1508 13.1514C85.1508 12.5459 85.2175 11.9741 85.3175 11.436C85.4175 10.8978 85.5841 10.4605 85.8174 10.0569C86.0507 9.6533 86.3506 9.35058 86.7172 9.11514C87.0838 8.87969 87.5171 8.77878 88.0503 8.77878C88.6835 8.77878 89.1834 8.91332 89.6167 9.18241C90.0166 9.45149 90.3499 9.82147 90.6165 10.326V16.1785C90.3832 16.6494 90.0499 17.0194 89.6167 17.3221C89.1834 17.5912 88.6835 17.7257 88.0503 17.7257C87.5171 17.7257 87.0838 17.6248 86.7172 17.3894C86.3506 17.1539 86.0507 16.8512 85.8174 16.4812C85.5841 16.1113 85.4175 15.6404 85.3175 15.1358C85.2175 14.6313 85.1508 14.0595 85.1508 13.4541V13.1514Z" fill="white"/>
             <path d="M110.179 17.0197V10.8309C110.179 9.98999 110.013 9.25001 109.713 8.61094C109.413 7.97188 108.979 7.43371 108.446 7.03009C107.913 6.62647 107.246 6.29012 106.513 6.08831C105.78 5.88649 104.98 5.75195 104.114 5.75195C103.147 5.75195 102.314 5.88649 101.547 6.12194C100.814 6.35739 100.181 6.69374 99.6478 7.131C99.1479 7.53462 98.748 8.03915 98.4814 8.57731C98.2147 9.11547 98.0814 9.72091 98.0814 10.3263H101.747C101.747 9.78818 101.914 9.35092 102.247 9.01457C102.581 8.67821 103.147 8.54367 103.88 8.54367C104.714 8.54367 105.38 8.74549 105.813 9.14911C106.247 9.55273 106.48 10.0909 106.48 10.7972V11.6381H104.447C102.214 11.6381 100.548 12.0417 99.4145 12.8826C98.2814 13.7235 97.7148 14.9007 97.7148 16.4143C97.7148 17.0197 97.8481 17.6252 98.0814 18.1297C98.3147 18.6679 98.6813 19.1051 99.1146 19.5087C99.5478 19.8787 100.081 20.1815 100.681 20.4169C101.281 20.6187 101.947 20.7532 102.681 20.7532C103.114 20.7532 103.547 20.7196 103.947 20.6187C104.347 20.5178 104.68 20.4169 105.013 20.2824C105.347 20.1478 105.613 19.9796 105.88 19.7778C106.147 19.576 106.38 19.3742 106.58 19.1388C106.613 19.4078 106.68 19.6433 106.746 19.8787C106.813 20.1142 106.88 20.316 106.98 20.4842H110.712V20.2487C110.512 19.8787 110.379 19.4415 110.279 18.9369C110.212 18.4324 110.179 17.7934 110.179 17.0197ZM106.48 16.347C106.38 16.5488 106.213 16.717 106.047 16.8852C105.847 17.0534 105.647 17.2216 105.38 17.3561C105.113 17.4906 104.847 17.6252 104.514 17.6924C104.18 17.7934 103.847 17.827 103.48 17.827C102.781 17.827 102.247 17.6588 101.914 17.3225C101.581 16.9861 101.381 16.5825 101.381 16.078C101.381 15.7416 101.447 15.4389 101.581 15.1698C101.714 14.9007 101.881 14.6653 102.147 14.4635C102.414 14.2617 102.747 14.0935 103.147 13.9926C103.547 13.8917 104.047 13.8244 104.614 13.8244H106.48V16.347V16.347Z" fill="white"/>
             <path d="M117.978 10.2246C118.244 9.78731 118.611 9.41732 119.044 9.18188C119.477 8.9128 120.01 8.81189 120.644 8.81189C121.077 8.81189 121.444 8.84553 121.777 8.94643C122.11 9.04734 122.41 9.18188 122.643 9.38369C122.877 9.5855 123.077 9.88822 123.177 10.2582C123.31 10.6282 123.376 11.0991 123.376 11.6709V20.4833H127.042V11.6036C127.042 10.5609 126.909 9.65277 126.676 8.94643C126.443 8.20646 126.109 7.60102 125.643 7.16377C125.209 6.69287 124.676 6.35652 124.076 6.15471C123.476 5.9529 122.81 5.81836 122.11 5.81836C121.21 5.81836 120.41 6.02017 119.677 6.42379C118.944 6.82742 118.311 7.36558 117.811 8.10555L117.644 6.05381H114.312V20.4833H117.978V10.2246Z" fill="white"/>
             <path d="M139.274 6.05469H131.309V9.08185H135.574V17.457H131.309V20.4505H143.373V17.457H139.274V6.05469Z" fill="white"/>
             <path d="M142.44 0.537109H138.407L135.941 4.27061H138.774L142.44 0.537109Z" fill="white"/>
             <path d="M158.836 17.0197V10.8309C158.836 9.98999 158.67 9.25001 158.37 8.61094C158.07 7.97188 157.637 7.43371 157.103 7.03009C156.57 6.62647 155.904 6.29012 155.17 6.08831C154.437 5.88649 153.637 5.75195 152.771 5.75195C151.804 5.75195 150.971 5.88649 150.205 6.12194C149.471 6.35739 148.838 6.69374 148.305 7.131C147.805 7.53462 147.405 8.03915 147.139 8.57731C146.872 9.11547 146.739 9.72091 146.739 10.3263H150.405C150.405 9.78818 150.571 9.35092 150.905 9.01457C151.238 8.67821 151.804 8.54367 152.538 8.54367C153.371 8.54367 154.037 8.74549 154.471 9.14911C154.904 9.55273 155.137 10.0909 155.137 10.7972V11.6381H153.104C150.871 11.6381 149.205 12.0417 148.072 12.8826C146.939 13.7235 146.372 14.9007 146.372 16.4143C146.372 17.0197 146.505 17.6252 146.739 18.1297C146.972 18.6679 147.339 19.1051 147.772 19.5087C148.205 19.8787 148.738 20.1815 149.338 20.4169C149.938 20.6187 150.605 20.7532 151.338 20.7532C151.771 20.7532 152.204 20.7196 152.604 20.6187C153.004 20.5178 153.337 20.4169 153.671 20.2824C154.004 20.1478 154.271 19.9796 154.537 19.7778C154.804 19.576 155.037 19.3742 155.237 19.1388C155.27 19.4078 155.337 19.6433 155.404 19.8787C155.47 20.1142 155.537 20.316 155.637 20.4842H159.37V20.2487C159.17 19.8787 159.036 19.4415 158.936 18.9369C158.87 18.4324 158.836 17.7934 158.836 17.0197ZM155.17 16.347C155.07 16.5488 154.904 16.717 154.737 16.8852C154.537 17.0534 154.337 17.2216 154.071 17.3561C153.804 17.4906 153.537 17.6252 153.204 17.6924C152.871 17.7934 152.538 17.827 152.171 17.827C151.471 17.827 150.938 17.6588 150.605 17.3225C150.271 16.9861 150.071 16.5825 150.071 16.078C150.071 15.7416 150.138 15.4389 150.271 15.1698C150.405 14.9007 150.571 14.6653 150.838 14.4635C151.105 14.2617 151.438 14.0935 151.838 13.9926C152.238 13.8917 152.738 13.8244 153.304 13.8244H155.17V16.347V16.347Z" fill="white"/>
             <path d="M175.1 20.4492H163.069V23.3418H175.1V20.4492Z" fill="white"/>
             <path d="M1.43311 30.4393H5.06575V43.8261H1.43311V46.8196H12.531V43.8261H8.79838V30.4393H12.531V27.4121H1.43311V30.4393Z" fill="white"/>
             <path d="M28.8612 33.4997C28.428 33.0288 27.8947 32.6925 27.2949 32.4906C26.695 32.2888 26.0284 32.1543 25.3286 32.1543C24.4287 32.1543 23.6289 32.3561 22.8957 32.7597C22.1625 33.1634 21.5293 33.7015 21.0294 34.4415L20.7961 32.457H17.4634V46.8865H21.1627V36.6278C21.4293 36.1905 21.7959 35.8205 22.2291 35.5851C22.6624 35.316 23.1956 35.2151 23.8288 35.2151C24.2621 35.2151 24.6287 35.2487 24.962 35.3496C25.2952 35.4505 25.5952 35.5851 25.8285 35.7869C26.0618 35.9887 26.2617 36.2914 26.3617 36.6614C26.495 37.0314 26.5617 37.5023 26.5617 38.0741V46.8865H30.2276V38.0068C30.2276 36.9641 30.0943 36.056 29.861 35.3496C29.6277 34.5424 29.2945 33.937 28.8612 33.4997Z" fill="white"/>
             <path d="M61.2549 34.1051C60.6884 33.4997 60.0218 32.9952 59.222 32.6588C58.4221 32.3225 57.489 32.1543 56.4558 32.1543C55.456 32.1543 54.5562 32.3225 53.6897 32.6925C52.8565 33.0624 52.1233 33.567 51.4901 34.2397C50.8902 34.9124 50.3903 35.686 50.057 36.5941C49.7238 37.5023 49.5571 38.5113 49.5571 39.6213V40.1595C49.5571 41.1349 49.7238 42.043 50.0904 42.8839C50.4236 43.7248 50.9235 44.4648 51.5901 45.1038C52.2233 45.7429 52.9898 46.2138 53.8896 46.5838C54.7895 46.9538 55.7893 47.122 56.8891 47.122C57.5889 47.122 58.2555 47.0547 58.8554 46.8865C59.4553 46.752 60.0218 46.5502 60.5217 46.2811C61.0216 46.0456 61.4549 45.7429 61.8215 45.4402C62.1881 45.1375 62.488 44.8011 62.7213 44.4648L60.8883 42.4803C60.6884 42.7494 60.4217 42.9848 60.1551 43.1866C59.8885 43.3884 59.5552 43.5566 59.2553 43.6912C58.922 43.8257 58.5887 43.9266 58.2222 43.9939C57.8556 44.0612 57.5223 44.0948 57.1557 44.0948C56.6558 44.0948 56.1892 44.0275 55.756 43.8593C55.3227 43.6912 54.9561 43.4894 54.6228 43.1866C54.2896 42.8839 54.0229 42.5476 53.7897 42.1439C53.5897 41.7403 53.4231 41.3031 53.3564 40.7985H63.0546V39.2177C63.0546 38.175 62.9213 37.1996 62.6213 36.3251C62.2547 35.4842 61.8215 34.7106 61.2549 34.1051ZM59.3553 38.2759H53.3231C53.4231 37.805 53.5564 37.3678 53.723 36.9978C53.8896 36.6278 54.1229 36.2914 54.3895 36.0223C54.6562 35.7533 54.9561 35.5514 55.2894 35.3833C55.6226 35.2487 56.0226 35.1478 56.4225 35.1478C56.8891 35.1478 57.289 35.2151 57.6556 35.3833C58.0222 35.5178 58.3221 35.7196 58.5554 35.9887C58.7887 36.2578 58.9887 36.5269 59.122 36.8969C59.2553 37.2332 59.3219 37.6032 59.3553 38.0068V38.2759V38.2759Z" fill="white"/>
             <path d="M74.186 26.3691H66.1875V29.3963H70.4867V43.8258H66.1875V46.8193H78.2852V43.8258H74.186V26.3691Z" fill="white"/>
             <path d="M89.8165 32.4238H82.0513V35.451H86.1172V43.8262H82.0513V46.8197H93.6824V43.8262H89.8165V32.4238Z" fill="white"/>
             <path d="M87.9503 26.7402C87.617 26.7402 87.3504 26.7739 87.0838 26.8748C86.8172 26.9757 86.6172 27.1102 86.4173 27.2784C86.2173 27.4466 86.084 27.6484 85.984 27.9175C85.884 28.1529 85.8174 28.422 85.8174 28.7247C85.8174 28.9938 85.884 29.2629 85.984 29.532C86.084 29.7674 86.2173 29.9692 86.4173 30.171C86.6172 30.3392 86.8172 30.4737 87.0838 30.5746C87.3504 30.6756 87.617 30.7092 87.9503 30.7092C88.6169 30.7092 89.1168 30.541 89.5167 30.171C89.8833 29.801 90.0832 29.3301 90.0832 28.7583C90.0832 28.1865 89.8833 27.7157 89.5167 27.3457C89.1168 26.942 88.6169 26.7402 87.9503 26.7402Z" fill="white"/>
             <path d="M125.843 34.1051C125.276 33.4997 124.61 32.9952 123.81 32.6588C123.01 32.3225 122.077 32.1543 121.044 32.1543C120.044 32.1543 119.144 32.3225 118.278 32.6925C117.444 33.0624 116.711 33.567 116.078 34.2397C115.478 34.9124 114.978 35.686 114.645 36.5941C114.312 37.5023 114.145 38.5113 114.145 39.6213V40.1595C114.145 41.1349 114.312 42.043 114.678 42.8839C115.012 43.7248 115.511 44.4648 116.178 45.1038C116.811 45.7429 117.578 46.2138 118.478 46.5838C119.377 46.9538 120.377 47.122 121.477 47.122C122.177 47.122 122.843 47.0547 123.443 46.8865C124.043 46.752 124.61 46.5502 125.11 46.2811C125.61 46.0456 126.043 45.7429 126.409 45.4402C126.776 45.1375 127.076 44.8011 127.309 44.4648L125.476 42.4803C125.276 42.7494 125.01 42.9848 124.743 43.1866C124.476 43.3884 124.143 43.5566 123.843 43.6912C123.51 43.8257 123.177 43.9266 122.81 43.9939C122.443 44.0612 122.11 44.0948 121.744 44.0948C121.244 44.0948 120.777 44.0275 120.344 43.8593C119.911 43.6912 119.544 43.4894 119.211 43.1866C118.877 42.8839 118.611 42.5476 118.378 42.1439C118.178 41.7403 118.011 41.3031 117.944 40.7985H127.642V39.2177C127.642 38.175 127.509 37.1996 127.209 36.3251C126.809 35.4842 126.376 34.7106 125.843 34.1051ZM123.943 38.2759H117.911C118.011 37.805 118.144 37.3678 118.311 36.9978C118.478 36.6278 118.711 36.2914 118.977 36.0223C119.244 35.7533 119.544 35.5514 119.877 35.3833C120.211 35.2487 120.61 35.1478 121.01 35.1478C121.477 35.1478 121.877 35.2151 122.243 35.3833C122.61 35.5178 122.91 35.7196 123.143 35.9887C123.377 36.2578 123.577 36.5269 123.71 36.8969C123.843 37.2332 123.91 37.6032 123.943 38.0068V38.2759V38.2759Z" fill="white"/>
             <path d="M142.773 33.4997C142.34 33.0288 141.806 32.6925 141.206 32.4906C140.607 32.2888 139.94 32.1543 139.24 32.1543C138.34 32.1543 137.54 32.3561 136.807 32.7597C136.074 33.1634 135.441 33.7015 134.941 34.4415L134.708 32.457H131.375V46.8865H135.074V36.6278C135.341 36.1905 135.708 35.8205 136.141 35.5851C136.574 35.316 137.107 35.2151 137.74 35.2151C138.174 35.2151 138.54 35.2487 138.874 35.3496C139.207 35.4505 139.507 35.5851 139.74 35.7869C139.973 35.9887 140.173 36.2914 140.273 36.6614C140.407 37.0314 140.473 37.5023 140.473 38.0741V46.8865H144.139V38.0068C144.139 36.9641 144.006 36.056 143.773 35.3496C143.539 34.5424 143.206 33.937 142.773 33.4997Z" fill="white"/>
             <path d="M176 39.2513C176 38.2086 175.867 37.2332 175.567 36.3587C175.267 35.4842 174.867 34.7442 174.3 34.1051C173.734 33.4997 173.067 32.9952 172.267 32.6588C171.467 32.3225 170.534 32.1543 169.501 32.1543C168.501 32.1543 167.602 32.3225 166.735 32.6925C165.902 33.0624 165.169 33.567 164.536 34.2397C163.936 34.9124 163.436 35.686 163.102 36.5941C162.769 37.5023 162.603 38.5113 162.603 39.6213V40.1595C162.603 41.1349 162.769 42.043 163.136 42.8839C163.469 43.7248 163.969 44.4648 164.635 45.1038C165.269 45.7429 166.035 46.2138 166.935 46.5838C167.835 46.9538 168.835 47.122 169.934 47.122C170.634 47.122 171.301 47.0547 171.901 46.8865C172.501 46.752 173.067 46.5502 173.567 46.2811C174.067 46.0456 174.5 45.7429 174.867 45.4402C175.233 45.1375 175.533 44.8011 175.767 44.4648L173.934 42.4803C173.734 42.7494 173.467 42.9848 173.2 43.1866C172.934 43.3884 172.601 43.5566 172.301 43.6912C171.967 43.8257 171.634 43.9266 171.268 43.9939C170.901 44.0612 170.568 44.0948 170.201 44.0948C169.701 44.0948 169.235 44.0275 168.801 43.8593C168.368 43.6912 168.001 43.4894 167.668 43.1866C167.335 42.8839 167.068 42.5476 166.835 42.1439C166.635 41.7403 166.468 41.3031 166.402 40.7985H176.1V39.2513H176ZM172.401 38.2759H166.368C166.468 37.805 166.602 37.3678 166.768 36.9978C166.935 36.6278 167.168 36.2914 167.435 36.0223C167.702 35.7533 168.001 35.5514 168.335 35.3833C168.668 35.2487 169.068 35.1478 169.468 35.1478C169.934 35.1478 170.334 35.2151 170.701 35.3833C171.068 35.5178 171.368 35.7196 171.601 35.9887C171.834 36.2578 172.034 36.5269 172.167 36.8969C172.301 37.2332 172.367 37.6032 172.401 38.0068V38.2759V38.2759Z" fill="white"/>
             <path d="M106.48 33.7692C106.046 33.2311 105.546 32.8274 104.947 32.5584C104.347 32.2893 103.647 32.1211 102.78 32.1211C101.881 32.1211 101.081 32.2893 100.381 32.6593C99.6809 33.0292 99.0477 33.5001 98.5478 34.1728C98.0479 34.8119 97.648 35.5855 97.3814 36.4937C97.1148 37.4018 96.9814 38.4109 96.9814 39.4872V39.7563C96.9814 40.799 97.1148 41.7744 97.3814 42.6825C97.648 43.5907 98.0479 44.3307 98.5478 45.0034C99.0477 45.6424 99.6476 46.147 100.347 46.517C101.047 46.8869 101.847 47.0551 102.747 47.0551C103.514 47.0551 104.18 46.9206 104.747 46.6515C105.313 46.3824 105.813 46.0124 106.246 45.5415V46.3824V48.1314C106.246 48.1987 106.246 48.2323 106.213 48.2996C106.18 48.7369 105.946 48.9723 105.513 48.9723H98.8144V51.9995H107.846C108.446 51.9995 108.946 51.7977 109.346 51.3941C109.746 50.9904 109.912 50.755 109.912 50.1159V46.3488V45.3397V32.4238H106.58L106.48 33.7692ZM106.28 42.6825C106.046 43.1198 105.713 43.4898 105.28 43.7252C104.847 43.9607 104.347 44.0952 103.68 44.0952C103.147 44.0952 102.714 43.9943 102.347 43.7589C101.981 43.5234 101.647 43.2207 101.414 42.8507C101.181 42.4807 100.981 42.0098 100.881 41.5053C100.747 41.0008 100.714 40.429 100.714 39.8236V39.5545C100.714 38.949 100.781 38.3772 100.914 37.8391C101.047 37.3009 101.214 36.8637 101.481 36.46C101.747 36.0564 102.047 35.7537 102.414 35.5182C102.78 35.2828 103.247 35.1819 103.747 35.1819C104.38 35.1819 104.88 35.3164 105.313 35.5519C105.746 35.7873 106.08 36.1573 106.313 36.5946V42.6825H106.28Z" fill="white"/>
             <path d="M154.171 28.8926H150.505V32.4243H147.239V35.1487H150.505V41.7076V44.7347V44.9702C150.505 45.5756 150.705 45.8447 151.071 46.2483C151.471 46.652 151.971 46.8538 152.571 46.8538H153.671H158.37H159.436V46.551V43.8266H159.103H155.337H154.871C154.437 43.8266 154.204 43.5912 154.171 43.1539C154.171 43.1203 154.171 43.0866 154.171 43.053V41.0349V35.1487H159.503V32.4243H154.171V28.8926Z" fill="white"/>
             <path d="M40.4921 28.8926H36.8261V32.4243H33.5601V35.1487H36.8261V41.7076V44.7347V44.9702C36.8261 45.5756 37.0261 45.8447 37.3927 46.2483C37.7926 46.652 38.2925 46.8538 38.8924 46.8538H39.9922H44.6913H45.7578V46.551V43.8266H45.4245H41.6585H41.1919C40.7587 43.8266 40.5254 43.5912 40.4921 43.1539C40.4921 43.1203 40.4921 43.0866 40.4921 43.053V41.0349V35.1487H45.8244V32.4243H40.4921V28.8926Z" fill="white"/>
             <path d="M10.3647 8.40819H13.964V7.90367C13.964 7.70185 13.964 7.50004 13.9307 7.29823C13.8974 6.45735 13.7307 5.68374 13.4974 4.9774C13.1975 4.10289 12.7642 3.36291 12.1644 2.72385C11.5645 2.11841 10.8646 1.64752 9.99811 1.31117C9.1316 0.974817 8.13179 0.806641 7.032 0.806641C6.39879 0.806641 5.7989 0.873911 5.23234 1.00845C4.86575 1.10936 4.53248 1.2439 4.1992 1.37844C3.3327 1.8157 2.56618 2.38749 1.96629 3.1611C1.33308 3.93471 0.866503 4.84286 0.533232 5.91919C0.166635 6.99552 0 8.17275 0 9.48452V10.7627V12.0744C0 13.3526 0.166635 14.5298 0.466578 15.6061C0.799849 16.6824 1.2331 17.5906 1.83299 18.3306C2.43287 19.0705 3.16607 19.676 4.0659 20.1132C4.23253 20.1805 4.39917 20.2478 4.59913 20.315C5.33232 20.5505 6.13217 20.685 7.032 20.685C8.16512 20.685 9.1316 20.5169 9.99811 20.1805C10.8646 19.8442 11.5978 19.3733 12.1644 18.7678C12.7642 18.1624 13.1975 17.3888 13.4974 16.5143C13.7307 15.8416 13.864 15.1352 13.9307 14.3616C13.964 14.0925 13.964 13.8571 13.964 13.588V13.1171H10.3647V13.6216C10.3647 13.8235 10.3647 14.1262 10.3647 14.3953C10.298 15.5725 9.96478 16.4134 9.39822 16.9179C8.83166 17.4224 8.06514 17.6915 7.09866 17.6915C5.93221 17.6915 5.09903 17.2206 4.5658 16.3125C4.03257 15.4043 3.76595 13.9916 3.76595 12.0744V9.41725C3.76595 8.54273 3.83261 7.73549 3.96592 7.02915C4.09922 6.32281 4.29919 5.75101 4.5658 5.24649C4.83242 4.74196 5.19902 4.40561 5.63227 4.13652C6.06552 3.90108 6.56542 3.76654 7.13198 3.76654C7.66521 3.76654 8.13179 3.83381 8.53172 4.00198C8.93164 4.13652 9.26491 4.37197 9.53153 4.64105C9.79814 4.94377 9.96478 5.31376 10.0981 5.75101C10.2314 6.18827 10.3314 6.6928 10.3647 7.2646C10.3647 7.50004 10.3647 7.70185 10.3647 7.87003V8.40819Z" fill="white"/>
            </svg>
           </a>
        </li>
      </div>

    </div>
  </div>
    <!--end Desktop-->


    <!--Mobile-->
    <div class="uk-container uk-hidden@m">
      <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>

        <div class="uk-width-1-2 uk-flex uk-flex-middle">
          <ul class="uk-list list-footer">
            <li><img class="logo-footer-80" data-src="../assets/images/logo-footer.svg" uk-img></li>
          </ul>
        </div>

        <div class="uk-width-1-2">
          <ul class="uk-list footer-fci">
            <li><p class="font-mono">{% t footer.fci %}</p></li>
            <li>
              <a class="logo-footer-fci" href="https://ciudadaniai.org" target="_blank">
                <svg class="logo-footer-70" width="177" height="52" viewBox="0 0 177 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.3289 3.76781C22.5289 3.93599 22.7288 4.07053 22.9954 4.17144C23.262 4.27234 23.5287 4.30598 23.8619 4.30598C24.5285 4.30598 25.0284 4.1378 25.4283 3.76781C25.7949 3.39783 25.9949 2.92694 25.9949 2.35514C25.9949 1.78334 25.7949 1.31245 25.4283 0.94246C25.0617 0.572473 24.5285 0.404297 23.8619 0.404297C23.5287 0.404297 23.262 0.437932 22.9954 0.538838C22.7288 0.639743 22.5289 0.774284 22.3289 0.94246C22.1289 1.11064 21.9956 1.31245 21.8956 1.58153C21.7957 1.81697 21.729 2.08606 21.729 2.38877C21.729 2.65785 21.7957 2.92694 21.8956 3.19602C21.9956 3.39783 22.1289 3.59964 22.3289 3.76781Z" fill="white"/>
                  <path d="M29.5613 17.457H25.6954V6.05469H17.9302V9.08185H21.9961V17.457H17.9302V20.4505H29.5613V17.457Z" fill="white"/>
                  <path d="M34.6932 19.307C35.1264 19.8115 35.6597 20.1815 36.2929 20.4169C36.8928 20.6524 37.5926 20.7533 38.3258 20.7533C39.1257 20.7533 39.8922 20.5515 40.5587 20.1478C41.2253 19.7442 41.8252 19.1724 42.2918 18.4661L42.4917 20.4842H45.8244V6.05469H42.1251V16.1789C41.8918 16.6834 41.5252 17.0534 41.092 17.3225C40.6254 17.5916 40.0255 17.7261 39.3256 17.7261C38.8924 17.7261 38.5258 17.6588 38.2259 17.5579C37.9259 17.457 37.6926 17.2888 37.4927 17.0198C37.2927 16.7843 37.1594 16.448 37.0927 16.0443C36.9928 15.6407 36.9594 15.1362 36.9594 14.5644V6.05469H33.2935V14.598C33.2935 15.6744 33.4268 16.6161 33.6601 17.3897C33.8933 18.1634 34.2599 18.8024 34.6932 19.307Z" fill="white"/>
                  <path d="M50.5235 18.6675C50.9901 19.3066 51.59 19.8111 52.2898 20.1811C52.9897 20.5511 53.7562 20.7193 54.6227 20.7193C55.4226 20.7193 56.1225 20.5511 56.7223 20.2484C57.3222 19.9457 57.8555 19.5084 58.322 18.9366L58.522 20.4502H61.8214V0H58.1221V7.33247C57.6888 6.82794 57.1889 6.45796 56.6224 6.18887C56.0558 5.91979 55.3893 5.78525 54.6561 5.78525C53.7562 5.78525 52.9897 5.95343 52.2898 6.32341C51.59 6.6934 51.0234 7.16429 50.5235 7.837C50.0236 8.47607 49.657 9.24968 49.4237 10.1578C49.1571 11.066 49.0571 12.075 49.0571 13.1514V13.4204C49.0571 14.4631 49.1904 15.4386 49.4237 16.3467C49.657 17.2212 50.0236 17.9948 50.5235 18.6675ZM52.6898 13.1514C52.6898 12.5459 52.7564 11.9741 52.8564 11.436C52.9564 10.8978 53.123 10.4605 53.3563 10.0569C53.5896 9.6533 53.8895 9.35058 54.2561 9.11514C54.6227 8.87969 55.056 8.77878 55.5892 8.77878C56.2224 8.77878 56.7223 8.91332 57.1556 9.18241C57.5555 9.45149 57.8888 9.82147 58.1554 10.326V16.1785C57.9221 16.6494 57.5888 17.0194 57.1556 17.3221C56.7223 17.5912 56.2224 17.7257 55.5892 17.7257C55.056 17.7257 54.6227 17.6248 54.2561 17.3894C53.8895 17.1539 53.5896 16.8512 53.3563 16.4812C53.123 16.1113 52.9564 15.6404 52.8564 15.1358C52.7564 14.6313 52.6898 14.0595 52.6898 13.4541V13.1514Z" fill="white"/>
                  <path d="M68.2538 20.4169C68.8537 20.6187 69.5203 20.7532 70.2535 20.7532C70.6867 20.7532 71.12 20.7196 71.5199 20.6187C71.9198 20.5178 72.2531 20.4169 72.5864 20.2824C72.9196 20.1478 73.1862 19.9796 73.4529 19.7778C73.7195 19.576 73.9528 19.3742 74.1527 19.1388C74.186 19.4078 74.2527 19.6433 74.3194 19.8787C74.386 20.1142 74.4527 20.316 74.5526 20.4842H78.2853V20.2487C78.0853 19.8787 77.952 19.4415 77.852 18.9369C77.752 18.4324 77.7187 17.7934 77.7187 17.0197V10.8309C77.7187 9.98999 77.5521 9.25001 77.2521 8.61094C76.9522 7.97188 76.5189 7.43371 75.9857 7.03009C75.4525 6.62647 74.7859 6.29012 74.0527 6.08831C73.3195 5.88649 72.5197 5.75195 71.6532 5.75195C70.6867 5.75195 69.8535 5.88649 69.087 6.12194C68.3538 6.35739 67.7206 6.69374 67.1874 7.131C66.6875 7.53462 66.2875 8.03915 66.0209 8.57731C65.7543 9.11547 65.621 9.72091 65.621 10.3263H69.287C69.287 9.78818 69.4536 9.35092 69.7869 9.01457C70.1201 8.67821 70.6867 8.54367 71.4199 8.54367C72.2531 8.54367 72.9196 8.74549 73.3529 9.14911C73.7861 9.55273 74.0194 10.0909 74.0194 10.7972V11.6381H71.9865C69.7535 11.6381 68.0872 12.0417 66.9541 12.8826C65.821 13.7235 65.2544 14.9007 65.2544 16.4143C65.2544 17.0197 65.3877 17.6252 65.621 18.1297C65.8543 18.6679 66.2209 19.1051 66.6541 19.5087C67.1207 19.9124 67.6539 20.2151 68.2538 20.4169ZM69.1537 15.2371C69.287 14.968 69.4536 14.7325 69.7202 14.5307C69.9868 14.3289 70.3201 14.1608 70.72 14.0598C71.12 13.9589 71.6199 13.8917 72.1864 13.8917H74.0527V16.3807C73.9528 16.5825 73.7861 16.7507 73.6195 16.9188C73.4195 17.087 73.2196 17.2552 72.9529 17.3897C72.6863 17.5243 72.4197 17.6588 72.0864 17.7261C71.7532 17.827 71.4199 17.8606 71.0533 17.8606C70.3534 17.8606 69.8202 17.6924 69.4869 17.3561C69.1537 17.0197 68.9537 16.6161 68.9537 16.1116C68.9537 15.8089 69.0204 15.5062 69.1537 15.2371Z" fill="white"/>
                  <path d="M84.7176 20.1811C85.4175 20.5511 86.184 20.7193 87.0505 20.7193C87.8503 20.7193 88.5502 20.5511 89.1501 20.2484C89.75 19.9457 90.2832 19.5084 90.7498 18.9366L90.9497 20.4502H94.2491V0H90.5498V7.33247C90.1166 6.82794 89.6167 6.45796 89.0501 6.18887C88.4835 5.91979 87.817 5.78525 87.0838 5.78525C86.184 5.78525 85.4175 5.95343 84.7176 6.32341C84.0177 6.6934 83.4512 7.16429 82.9513 7.837C82.4513 8.47607 82.0848 9.24968 81.8515 10.1578C81.5848 11.066 81.4849 12.075 81.4849 13.1514V13.4204C81.4849 14.4631 81.6182 15.4386 81.8515 16.3467C82.1181 17.2549 82.4847 17.9948 82.9513 18.6675C83.4512 19.3066 84.0177 19.8111 84.7176 20.1811ZM85.1508 13.1514C85.1508 12.5459 85.2175 11.9741 85.3175 11.436C85.4175 10.8978 85.5841 10.4605 85.8174 10.0569C86.0507 9.6533 86.3506 9.35058 86.7172 9.11514C87.0838 8.87969 87.5171 8.77878 88.0503 8.77878C88.6835 8.77878 89.1834 8.91332 89.6167 9.18241C90.0166 9.45149 90.3499 9.82147 90.6165 10.326V16.1785C90.3832 16.6494 90.0499 17.0194 89.6167 17.3221C89.1834 17.5912 88.6835 17.7257 88.0503 17.7257C87.5171 17.7257 87.0838 17.6248 86.7172 17.3894C86.3506 17.1539 86.0507 16.8512 85.8174 16.4812C85.5841 16.1113 85.4175 15.6404 85.3175 15.1358C85.2175 14.6313 85.1508 14.0595 85.1508 13.4541V13.1514Z" fill="white"/>
                  <path d="M110.179 17.0197V10.8309C110.179 9.98999 110.013 9.25001 109.713 8.61094C109.413 7.97188 108.979 7.43371 108.446 7.03009C107.913 6.62647 107.246 6.29012 106.513 6.08831C105.78 5.88649 104.98 5.75195 104.114 5.75195C103.147 5.75195 102.314 5.88649 101.547 6.12194C100.814 6.35739 100.181 6.69374 99.6478 7.131C99.1479 7.53462 98.748 8.03915 98.4814 8.57731C98.2147 9.11547 98.0814 9.72091 98.0814 10.3263H101.747C101.747 9.78818 101.914 9.35092 102.247 9.01457C102.581 8.67821 103.147 8.54367 103.88 8.54367C104.714 8.54367 105.38 8.74549 105.813 9.14911C106.247 9.55273 106.48 10.0909 106.48 10.7972V11.6381H104.447C102.214 11.6381 100.548 12.0417 99.4145 12.8826C98.2814 13.7235 97.7148 14.9007 97.7148 16.4143C97.7148 17.0197 97.8481 17.6252 98.0814 18.1297C98.3147 18.6679 98.6813 19.1051 99.1146 19.5087C99.5478 19.8787 100.081 20.1815 100.681 20.4169C101.281 20.6187 101.947 20.7532 102.681 20.7532C103.114 20.7532 103.547 20.7196 103.947 20.6187C104.347 20.5178 104.68 20.4169 105.013 20.2824C105.347 20.1478 105.613 19.9796 105.88 19.7778C106.147 19.576 106.38 19.3742 106.58 19.1388C106.613 19.4078 106.68 19.6433 106.746 19.8787C106.813 20.1142 106.88 20.316 106.98 20.4842H110.712V20.2487C110.512 19.8787 110.379 19.4415 110.279 18.9369C110.212 18.4324 110.179 17.7934 110.179 17.0197ZM106.48 16.347C106.38 16.5488 106.213 16.717 106.047 16.8852C105.847 17.0534 105.647 17.2216 105.38 17.3561C105.113 17.4906 104.847 17.6252 104.514 17.6924C104.18 17.7934 103.847 17.827 103.48 17.827C102.781 17.827 102.247 17.6588 101.914 17.3225C101.581 16.9861 101.381 16.5825 101.381 16.078C101.381 15.7416 101.447 15.4389 101.581 15.1698C101.714 14.9007 101.881 14.6653 102.147 14.4635C102.414 14.2617 102.747 14.0935 103.147 13.9926C103.547 13.8917 104.047 13.8244 104.614 13.8244H106.48V16.347V16.347Z" fill="white"/>
                  <path d="M117.978 10.2246C118.244 9.78731 118.611 9.41732 119.044 9.18188C119.477 8.9128 120.01 8.81189 120.644 8.81189C121.077 8.81189 121.444 8.84553 121.777 8.94643C122.11 9.04734 122.41 9.18188 122.643 9.38369C122.877 9.5855 123.077 9.88822 123.177 10.2582C123.31 10.6282 123.376 11.0991 123.376 11.6709V20.4833H127.042V11.6036C127.042 10.5609 126.909 9.65277 126.676 8.94643C126.443 8.20646 126.109 7.60102 125.643 7.16377C125.209 6.69287 124.676 6.35652 124.076 6.15471C123.476 5.9529 122.81 5.81836 122.11 5.81836C121.21 5.81836 120.41 6.02017 119.677 6.42379C118.944 6.82742 118.311 7.36558 117.811 8.10555L117.644 6.05381H114.312V20.4833H117.978V10.2246Z" fill="white"/>
                  <path d="M139.274 6.05469H131.309V9.08185H135.574V17.457H131.309V20.4505H143.373V17.457H139.274V6.05469Z" fill="white"/>
                  <path d="M142.44 0.537109H138.407L135.941 4.27061H138.774L142.44 0.537109Z" fill="white"/>
                  <path d="M158.836 17.0197V10.8309C158.836 9.98999 158.67 9.25001 158.37 8.61094C158.07 7.97188 157.637 7.43371 157.103 7.03009C156.57 6.62647 155.904 6.29012 155.17 6.08831C154.437 5.88649 153.637 5.75195 152.771 5.75195C151.804 5.75195 150.971 5.88649 150.205 6.12194C149.471 6.35739 148.838 6.69374 148.305 7.131C147.805 7.53462 147.405 8.03915 147.139 8.57731C146.872 9.11547 146.739 9.72091 146.739 10.3263H150.405C150.405 9.78818 150.571 9.35092 150.905 9.01457C151.238 8.67821 151.804 8.54367 152.538 8.54367C153.371 8.54367 154.037 8.74549 154.471 9.14911C154.904 9.55273 155.137 10.0909 155.137 10.7972V11.6381H153.104C150.871 11.6381 149.205 12.0417 148.072 12.8826C146.939 13.7235 146.372 14.9007 146.372 16.4143C146.372 17.0197 146.505 17.6252 146.739 18.1297C146.972 18.6679 147.339 19.1051 147.772 19.5087C148.205 19.8787 148.738 20.1815 149.338 20.4169C149.938 20.6187 150.605 20.7532 151.338 20.7532C151.771 20.7532 152.204 20.7196 152.604 20.6187C153.004 20.5178 153.337 20.4169 153.671 20.2824C154.004 20.1478 154.271 19.9796 154.537 19.7778C154.804 19.576 155.037 19.3742 155.237 19.1388C155.27 19.4078 155.337 19.6433 155.404 19.8787C155.47 20.1142 155.537 20.316 155.637 20.4842H159.37V20.2487C159.17 19.8787 159.036 19.4415 158.936 18.9369C158.87 18.4324 158.836 17.7934 158.836 17.0197ZM155.17 16.347C155.07 16.5488 154.904 16.717 154.737 16.8852C154.537 17.0534 154.337 17.2216 154.071 17.3561C153.804 17.4906 153.537 17.6252 153.204 17.6924C152.871 17.7934 152.538 17.827 152.171 17.827C151.471 17.827 150.938 17.6588 150.605 17.3225C150.271 16.9861 150.071 16.5825 150.071 16.078C150.071 15.7416 150.138 15.4389 150.271 15.1698C150.405 14.9007 150.571 14.6653 150.838 14.4635C151.105 14.2617 151.438 14.0935 151.838 13.9926C152.238 13.8917 152.738 13.8244 153.304 13.8244H155.17V16.347V16.347Z" fill="white"/>
                  <path d="M175.1 20.4492H163.069V23.3418H175.1V20.4492Z" fill="white"/>
                  <path d="M1.43311 30.4393H5.06575V43.8261H1.43311V46.8196H12.531V43.8261H8.79838V30.4393H12.531V27.4121H1.43311V30.4393Z" fill="white"/>
                  <path d="M28.8612 33.4997C28.428 33.0288 27.8947 32.6925 27.2949 32.4906C26.695 32.2888 26.0284 32.1543 25.3286 32.1543C24.4287 32.1543 23.6289 32.3561 22.8957 32.7597C22.1625 33.1634 21.5293 33.7015 21.0294 34.4415L20.7961 32.457H17.4634V46.8865H21.1627V36.6278C21.4293 36.1905 21.7959 35.8205 22.2291 35.5851C22.6624 35.316 23.1956 35.2151 23.8288 35.2151C24.2621 35.2151 24.6287 35.2487 24.962 35.3496C25.2952 35.4505 25.5952 35.5851 25.8285 35.7869C26.0618 35.9887 26.2617 36.2914 26.3617 36.6614C26.495 37.0314 26.5617 37.5023 26.5617 38.0741V46.8865H30.2276V38.0068C30.2276 36.9641 30.0943 36.056 29.861 35.3496C29.6277 34.5424 29.2945 33.937 28.8612 33.4997Z" fill="white"/>
                  <path d="M61.2549 34.1051C60.6884 33.4997 60.0218 32.9952 59.222 32.6588C58.4221 32.3225 57.489 32.1543 56.4558 32.1543C55.456 32.1543 54.5562 32.3225 53.6897 32.6925C52.8565 33.0624 52.1233 33.567 51.4901 34.2397C50.8902 34.9124 50.3903 35.686 50.057 36.5941C49.7238 37.5023 49.5571 38.5113 49.5571 39.6213V40.1595C49.5571 41.1349 49.7238 42.043 50.0904 42.8839C50.4236 43.7248 50.9235 44.4648 51.5901 45.1038C52.2233 45.7429 52.9898 46.2138 53.8896 46.5838C54.7895 46.9538 55.7893 47.122 56.8891 47.122C57.5889 47.122 58.2555 47.0547 58.8554 46.8865C59.4553 46.752 60.0218 46.5502 60.5217 46.2811C61.0216 46.0456 61.4549 45.7429 61.8215 45.4402C62.1881 45.1375 62.488 44.8011 62.7213 44.4648L60.8883 42.4803C60.6884 42.7494 60.4217 42.9848 60.1551 43.1866C59.8885 43.3884 59.5552 43.5566 59.2553 43.6912C58.922 43.8257 58.5887 43.9266 58.2222 43.9939C57.8556 44.0612 57.5223 44.0948 57.1557 44.0948C56.6558 44.0948 56.1892 44.0275 55.756 43.8593C55.3227 43.6912 54.9561 43.4894 54.6228 43.1866C54.2896 42.8839 54.0229 42.5476 53.7897 42.1439C53.5897 41.7403 53.4231 41.3031 53.3564 40.7985H63.0546V39.2177C63.0546 38.175 62.9213 37.1996 62.6213 36.3251C62.2547 35.4842 61.8215 34.7106 61.2549 34.1051ZM59.3553 38.2759H53.3231C53.4231 37.805 53.5564 37.3678 53.723 36.9978C53.8896 36.6278 54.1229 36.2914 54.3895 36.0223C54.6562 35.7533 54.9561 35.5514 55.2894 35.3833C55.6226 35.2487 56.0226 35.1478 56.4225 35.1478C56.8891 35.1478 57.289 35.2151 57.6556 35.3833C58.0222 35.5178 58.3221 35.7196 58.5554 35.9887C58.7887 36.2578 58.9887 36.5269 59.122 36.8969C59.2553 37.2332 59.3219 37.6032 59.3553 38.0068V38.2759V38.2759Z" fill="white"/>
                  <path d="M74.186 26.3691H66.1875V29.3963H70.4867V43.8258H66.1875V46.8193H78.2852V43.8258H74.186V26.3691Z" fill="white"/>
                  <path d="M89.8165 32.4238H82.0513V35.451H86.1172V43.8262H82.0513V46.8197H93.6824V43.8262H89.8165V32.4238Z" fill="white"/>
                  <path d="M87.9503 26.7402C87.617 26.7402 87.3504 26.7739 87.0838 26.8748C86.8172 26.9757 86.6172 27.1102 86.4173 27.2784C86.2173 27.4466 86.084 27.6484 85.984 27.9175C85.884 28.1529 85.8174 28.422 85.8174 28.7247C85.8174 28.9938 85.884 29.2629 85.984 29.532C86.084 29.7674 86.2173 29.9692 86.4173 30.171C86.6172 30.3392 86.8172 30.4737 87.0838 30.5746C87.3504 30.6756 87.617 30.7092 87.9503 30.7092C88.6169 30.7092 89.1168 30.541 89.5167 30.171C89.8833 29.801 90.0832 29.3301 90.0832 28.7583C90.0832 28.1865 89.8833 27.7157 89.5167 27.3457C89.1168 26.942 88.6169 26.7402 87.9503 26.7402Z" fill="white"/>
                  <path d="M125.843 34.1051C125.276 33.4997 124.61 32.9952 123.81 32.6588C123.01 32.3225 122.077 32.1543 121.044 32.1543C120.044 32.1543 119.144 32.3225 118.278 32.6925C117.444 33.0624 116.711 33.567 116.078 34.2397C115.478 34.9124 114.978 35.686 114.645 36.5941C114.312 37.5023 114.145 38.5113 114.145 39.6213V40.1595C114.145 41.1349 114.312 42.043 114.678 42.8839C115.012 43.7248 115.511 44.4648 116.178 45.1038C116.811 45.7429 117.578 46.2138 118.478 46.5838C119.377 46.9538 120.377 47.122 121.477 47.122C122.177 47.122 122.843 47.0547 123.443 46.8865C124.043 46.752 124.61 46.5502 125.11 46.2811C125.61 46.0456 126.043 45.7429 126.409 45.4402C126.776 45.1375 127.076 44.8011 127.309 44.4648L125.476 42.4803C125.276 42.7494 125.01 42.9848 124.743 43.1866C124.476 43.3884 124.143 43.5566 123.843 43.6912C123.51 43.8257 123.177 43.9266 122.81 43.9939C122.443 44.0612 122.11 44.0948 121.744 44.0948C121.244 44.0948 120.777 44.0275 120.344 43.8593C119.911 43.6912 119.544 43.4894 119.211 43.1866C118.877 42.8839 118.611 42.5476 118.378 42.1439C118.178 41.7403 118.011 41.3031 117.944 40.7985H127.642V39.2177C127.642 38.175 127.509 37.1996 127.209 36.3251C126.809 35.4842 126.376 34.7106 125.843 34.1051ZM123.943 38.2759H117.911C118.011 37.805 118.144 37.3678 118.311 36.9978C118.478 36.6278 118.711 36.2914 118.977 36.0223C119.244 35.7533 119.544 35.5514 119.877 35.3833C120.211 35.2487 120.61 35.1478 121.01 35.1478C121.477 35.1478 121.877 35.2151 122.243 35.3833C122.61 35.5178 122.91 35.7196 123.143 35.9887C123.377 36.2578 123.577 36.5269 123.71 36.8969C123.843 37.2332 123.91 37.6032 123.943 38.0068V38.2759V38.2759Z" fill="white"/>
                  <path d="M142.773 33.4997C142.34 33.0288 141.806 32.6925 141.206 32.4906C140.607 32.2888 139.94 32.1543 139.24 32.1543C138.34 32.1543 137.54 32.3561 136.807 32.7597C136.074 33.1634 135.441 33.7015 134.941 34.4415L134.708 32.457H131.375V46.8865H135.074V36.6278C135.341 36.1905 135.708 35.8205 136.141 35.5851C136.574 35.316 137.107 35.2151 137.74 35.2151C138.174 35.2151 138.54 35.2487 138.874 35.3496C139.207 35.4505 139.507 35.5851 139.74 35.7869C139.973 35.9887 140.173 36.2914 140.273 36.6614C140.407 37.0314 140.473 37.5023 140.473 38.0741V46.8865H144.139V38.0068C144.139 36.9641 144.006 36.056 143.773 35.3496C143.539 34.5424 143.206 33.937 142.773 33.4997Z" fill="white"/>
                  <path d="M176 39.2513C176 38.2086 175.867 37.2332 175.567 36.3587C175.267 35.4842 174.867 34.7442 174.3 34.1051C173.734 33.4997 173.067 32.9952 172.267 32.6588C171.467 32.3225 170.534 32.1543 169.501 32.1543C168.501 32.1543 167.602 32.3225 166.735 32.6925C165.902 33.0624 165.169 33.567 164.536 34.2397C163.936 34.9124 163.436 35.686 163.102 36.5941C162.769 37.5023 162.603 38.5113 162.603 39.6213V40.1595C162.603 41.1349 162.769 42.043 163.136 42.8839C163.469 43.7248 163.969 44.4648 164.635 45.1038C165.269 45.7429 166.035 46.2138 166.935 46.5838C167.835 46.9538 168.835 47.122 169.934 47.122C170.634 47.122 171.301 47.0547 171.901 46.8865C172.501 46.752 173.067 46.5502 173.567 46.2811C174.067 46.0456 174.5 45.7429 174.867 45.4402C175.233 45.1375 175.533 44.8011 175.767 44.4648L173.934 42.4803C173.734 42.7494 173.467 42.9848 173.2 43.1866C172.934 43.3884 172.601 43.5566 172.301 43.6912C171.967 43.8257 171.634 43.9266 171.268 43.9939C170.901 44.0612 170.568 44.0948 170.201 44.0948C169.701 44.0948 169.235 44.0275 168.801 43.8593C168.368 43.6912 168.001 43.4894 167.668 43.1866C167.335 42.8839 167.068 42.5476 166.835 42.1439C166.635 41.7403 166.468 41.3031 166.402 40.7985H176.1V39.2513H176ZM172.401 38.2759H166.368C166.468 37.805 166.602 37.3678 166.768 36.9978C166.935 36.6278 167.168 36.2914 167.435 36.0223C167.702 35.7533 168.001 35.5514 168.335 35.3833C168.668 35.2487 169.068 35.1478 169.468 35.1478C169.934 35.1478 170.334 35.2151 170.701 35.3833C171.068 35.5178 171.368 35.7196 171.601 35.9887C171.834 36.2578 172.034 36.5269 172.167 36.8969C172.301 37.2332 172.367 37.6032 172.401 38.0068V38.2759V38.2759Z" fill="white"/>
                  <path d="M106.48 33.7692C106.046 33.2311 105.546 32.8274 104.947 32.5584C104.347 32.2893 103.647 32.1211 102.78 32.1211C101.881 32.1211 101.081 32.2893 100.381 32.6593C99.6809 33.0292 99.0477 33.5001 98.5478 34.1728C98.0479 34.8119 97.648 35.5855 97.3814 36.4937C97.1148 37.4018 96.9814 38.4109 96.9814 39.4872V39.7563C96.9814 40.799 97.1148 41.7744 97.3814 42.6825C97.648 43.5907 98.0479 44.3307 98.5478 45.0034C99.0477 45.6424 99.6476 46.147 100.347 46.517C101.047 46.8869 101.847 47.0551 102.747 47.0551C103.514 47.0551 104.18 46.9206 104.747 46.6515C105.313 46.3824 105.813 46.0124 106.246 45.5415V46.3824V48.1314C106.246 48.1987 106.246 48.2323 106.213 48.2996C106.18 48.7369 105.946 48.9723 105.513 48.9723H98.8144V51.9995H107.846C108.446 51.9995 108.946 51.7977 109.346 51.3941C109.746 50.9904 109.912 50.755 109.912 50.1159V46.3488V45.3397V32.4238H106.58L106.48 33.7692ZM106.28 42.6825C106.046 43.1198 105.713 43.4898 105.28 43.7252C104.847 43.9607 104.347 44.0952 103.68 44.0952C103.147 44.0952 102.714 43.9943 102.347 43.7589C101.981 43.5234 101.647 43.2207 101.414 42.8507C101.181 42.4807 100.981 42.0098 100.881 41.5053C100.747 41.0008 100.714 40.429 100.714 39.8236V39.5545C100.714 38.949 100.781 38.3772 100.914 37.8391C101.047 37.3009 101.214 36.8637 101.481 36.46C101.747 36.0564 102.047 35.7537 102.414 35.5182C102.78 35.2828 103.247 35.1819 103.747 35.1819C104.38 35.1819 104.88 35.3164 105.313 35.5519C105.746 35.7873 106.08 36.1573 106.313 36.5946V42.6825H106.28Z" fill="white"/>
                  <path d="M154.171 28.8926H150.505V32.4243H147.239V35.1487H150.505V41.7076V44.7347V44.9702C150.505 45.5756 150.705 45.8447 151.071 46.2483C151.471 46.652 151.971 46.8538 152.571 46.8538H153.671H158.37H159.436V46.551V43.8266H159.103H155.337H154.871C154.437 43.8266 154.204 43.5912 154.171 43.1539C154.171 43.1203 154.171 43.0866 154.171 43.053V41.0349V35.1487H159.503V32.4243H154.171V28.8926Z" fill="white"/>
                  <path d="M40.4921 28.8926H36.8261V32.4243H33.5601V35.1487H36.8261V41.7076V44.7347V44.9702C36.8261 45.5756 37.0261 45.8447 37.3927 46.2483C37.7926 46.652 38.2925 46.8538 38.8924 46.8538H39.9922H44.6913H45.7578V46.551V43.8266H45.4245H41.6585H41.1919C40.7587 43.8266 40.5254 43.5912 40.4921 43.1539C40.4921 43.1203 40.4921 43.0866 40.4921 43.053V41.0349V35.1487H45.8244V32.4243H40.4921V28.8926Z" fill="white"/>
                  <path d="M10.3647 8.40819H13.964V7.90367C13.964 7.70185 13.964 7.50004 13.9307 7.29823C13.8974 6.45735 13.7307 5.68374 13.4974 4.9774C13.1975 4.10289 12.7642 3.36291 12.1644 2.72385C11.5645 2.11841 10.8646 1.64752 9.99811 1.31117C9.1316 0.974817 8.13179 0.806641 7.032 0.806641C6.39879 0.806641 5.7989 0.873911 5.23234 1.00845C4.86575 1.10936 4.53248 1.2439 4.1992 1.37844C3.3327 1.8157 2.56618 2.38749 1.96629 3.1611C1.33308 3.93471 0.866503 4.84286 0.533232 5.91919C0.166635 6.99552 0 8.17275 0 9.48452V10.7627V12.0744C0 13.3526 0.166635 14.5298 0.466578 15.6061C0.799849 16.6824 1.2331 17.5906 1.83299 18.3306C2.43287 19.0705 3.16607 19.676 4.0659 20.1132C4.23253 20.1805 4.39917 20.2478 4.59913 20.315C5.33232 20.5505 6.13217 20.685 7.032 20.685C8.16512 20.685 9.1316 20.5169 9.99811 20.1805C10.8646 19.8442 11.5978 19.3733 12.1644 18.7678C12.7642 18.1624 13.1975 17.3888 13.4974 16.5143C13.7307 15.8416 13.864 15.1352 13.9307 14.3616C13.964 14.0925 13.964 13.8571 13.964 13.588V13.1171H10.3647V13.6216C10.3647 13.8235 10.3647 14.1262 10.3647 14.3953C10.298 15.5725 9.96478 16.4134 9.39822 16.9179C8.83166 17.4224 8.06514 17.6915 7.09866 17.6915C5.93221 17.6915 5.09903 17.2206 4.5658 16.3125C4.03257 15.4043 3.76595 13.9916 3.76595 12.0744V9.41725C3.76595 8.54273 3.83261 7.73549 3.96592 7.02915C4.09922 6.32281 4.29919 5.75101 4.5658 5.24649C4.83242 4.74196 5.19902 4.40561 5.63227 4.13652C6.06552 3.90108 6.56542 3.76654 7.13198 3.76654C7.66521 3.76654 8.13179 3.83381 8.53172 4.00198C8.93164 4.13652 9.26491 4.37197 9.53153 4.64105C9.79814 4.94377 9.96478 5.31376 10.0981 5.75101C10.2314 6.18827 10.3314 6.6928 10.3647 7.2646C10.3647 7.50004 10.3647 7.70185 10.3647 7.87003V8.40819Z" fill="white"/>
                  </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="uk-width-1 logos-rrss">
          <div>
            <a href="mailto:info@ciudadaniai.org" target="_blank"><svg class="icon-footer" style="margin-left: -4px;" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.5 19.75C12.82 19.75 11.14 18.2625 10.3 17.625C6.1 14.65 4.84 13.5875 4 12.95V21.875C4 23.0484 4.94041 24 6.1 24H22.9C24.0596 24 25 23.0484 25 21.875V12.95C24.16 13.5875 22.9 14.65 18.7 17.625C17.86 18.2625 16.18 19.75 14.5 19.75ZM22.9 7H6.1C4.94041 7 4 7.9516 4 9.125V10.1875C5.68 11.4625 5.47 11.4625 11.56 15.925C12.19 16.35 13.45 17.625 14.5 17.625C15.55 17.625 16.81 16.35 17.44 16.1375C23.53 11.675 23.32 11.675 25 10.4V9.125C25 7.9516 24.0596 7 22.9 7Z" fill="white">
            </svg></a>
            <a href="https://gitlab.com/ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.52181 4.29481C8.38862 3.90173 7.84726 3.90173 7.70977 4.29481L5.28225 12.0151H10.9536C10.9493 12.0151 8.52181 4.29481 8.52181 4.29481V4.29481ZM4.04056 15.9017C3.92886 16.2551 4.05345 16.6481 4.34562 16.8734L14.9966 25L5.27796 12.0151L4.04056 15.9017ZM10.9493 12.0151L15.0009 25L19.0525 12.0151H10.9493ZM25.9613 15.9017L24.7239 12.0151L15.0009 25L25.6519 16.8734C25.9484 16.6481 26.0687 16.2551 25.9613 15.9017V15.9017ZM22.2921 4.29481C22.1589 3.90173 21.6175 3.90173 21.48 4.29481L19.0482 12.0151H24.7196L22.2921 4.29481Z" fill="white"/>
            </svg></a>
            <a href="https://twitter.com/ciudadania_i" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.8414 11.2367C22.8548 11.4226 22.8548 11.6086 22.8548 11.7945C22.8548 17.4656 18.5242 24 10.6092 24C8.17069 24 5.90547 23.2961 4 22.0742C4.34646 22.1141 4.67955 22.1273 5.03934 22.1273C7.05137 22.1273 8.90356 21.45 10.3826 20.2946C8.49049 20.2547 6.90482 19.0195 6.35849 17.3195C6.62501 17.3593 6.89149 17.3859 7.17134 17.3859C7.55775 17.3859 7.9442 17.3328 8.30395 17.2399C6.33187 16.8414 4.85276 15.1148 4.85276 13.0297V12.9766C5.42571 13.2953 6.09201 13.4945 6.79818 13.5211C5.63891 12.7507 4.87942 11.4359 4.87942 9.94841C4.87942 9.15155 5.09258 8.42108 5.4657 7.78357C7.58437 10.3867 10.769 12.0867 14.3401 12.2726C14.2735 11.9539 14.2335 11.6219 14.2335 11.2898C14.2335 8.92576 16.1523 7 18.5374 7C19.7766 7 20.8959 7.51797 21.6821 8.35469C22.6548 8.16876 23.5875 7.81015 24.4137 7.31875C24.0939 8.31487 23.4143 9.15159 22.5216 9.6828C23.3877 9.58988 24.2272 9.35076 25 9.01876C24.4138 9.86873 23.6809 10.6257 22.8414 11.2367V11.2367Z" fill="white"/>
            </svg></a>
            <a href="https://www.instagram.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.0022 9.14293C12.1645 9.14293 9.87563 11.5595 9.87563 14.5556C9.87563 17.5516 12.1645 19.9682 15.0022 19.9682C17.8399 19.9682 20.1288 17.5516 20.1288 14.5556C20.1288 11.5595 17.8399 9.14293 15.0022 9.14293ZM15.0022 18.0745C13.1684 18.0745 11.6693 16.4964 11.6693 14.5556C11.6693 12.6147 13.164 11.0366 15.0022 11.0366C16.8405 11.0366 18.3352 12.6147 18.3352 14.5556C18.3352 16.4964 16.836 18.0745 15.0022 18.0745V18.0745ZM21.5343 8.92153C21.5343 9.62343 20.9989 10.184 20.3385 10.184C19.6737 10.184 19.1428 9.61872 19.1428 8.92153C19.1428 8.22434 19.6782 7.65905 20.3385 7.65905C20.9989 7.65905 21.5343 8.22434 21.5343 8.92153ZM24.9297 10.2028C24.8539 8.5117 24.488 7.01369 23.3146 5.77948C22.1456 4.54527 20.7267 4.15899 19.1249 4.07419C17.4741 3.97527 12.5259 3.97527 10.8751 4.07419C9.27775 4.15428 7.8589 4.54056 6.68544 5.77477C5.51199 7.00898 5.15059 8.50699 5.07027 10.1981C4.97658 11.9411 4.97658 17.1653 5.07027 18.9083C5.14612 20.5994 5.51199 22.0974 6.68544 23.3316C7.8589 24.5658 9.27329 24.9521 10.8751 25.0369C12.5259 25.1358 17.4741 25.1358 19.1249 25.0369C20.7267 24.9568 22.1456 24.5706 23.3146 23.3316C24.4835 22.0974 24.8494 20.5994 24.9297 18.9083C25.0234 17.1653 25.0234 11.9458 24.9297 10.2028V10.2028ZM22.797 20.7784C22.449 21.7017 21.7752 22.413 20.8963 22.7852C19.58 23.3363 16.4568 23.2092 15.0022 23.2092C13.5477 23.2092 10.42 23.3316 9.1082 22.7852C8.23369 22.4178 7.55996 21.7064 7.20747 20.7784C6.68544 19.3888 6.80591 16.0913 6.80591 14.5556C6.80591 13.0199 6.68991 9.71764 7.20747 8.33269C7.55549 7.40939 8.22922 6.69807 9.1082 6.32592C10.4244 5.77477 13.5477 5.90195 15.0022 5.90195C16.4568 5.90195 19.5845 5.77948 20.8963 6.32592C21.7708 6.69336 22.4445 7.40468 22.797 8.33269C23.319 9.72235 23.1985 13.0199 23.1985 14.5556C23.1985 16.0913 23.319 19.3935 22.797 20.7784Z" fill="white"/>
            </svg></a>
            <a href="https://www.facebook.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.2792 16.8125L19.8496 13.012H16.2831V10.5457C16.2831 9.50598 16.7813 8.49248 18.3786 8.49248H20V5.25676C20 5.25676 18.5286 5 17.1218 5C14.1847 5 12.2649 6.82027 12.2649 10.1155V13.012H9V16.8125H12.2649V26H16.2831V16.8125H19.2792Z" fill="white"/>
            </svg></a>
            <a href="https://www.youtube.com/channel/UCtiq34lXdXDxo6GhIwnY5Sw" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.4776 9.65992C26.1901 8.61292 25.3429 7.78833 24.2673 7.50849C22.3177 7 14.5 7 14.5 7C14.5 7 6.68232 7 4.73266 7.50849C3.65706 7.78837 2.80992 8.61292 2.5224 9.65992C2 11.5577 2 15.5172 2 15.5172C2 15.5172 2 19.4767 2.5224 21.3744C2.80992 22.4214 3.65706 23.2117 4.73266 23.4915C6.68232 24 14.5 24 14.5 24C14.5 24 22.3177 24 24.2673 23.4915C25.3429 23.2117 26.1901 22.4214 26.4776 21.3744C27 19.4767 27 15.5172 27 15.5172C27 15.5172 27 11.5577 26.4776 9.65992V9.65992ZM11.9432 19.1121V11.9223L18.4772 15.5173L11.9432 19.1121V19.1121Z" fill="white"/>
            </svg></a>
            <a href="https://medium.com/@ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 4V26H26V4H4ZM22.2777 9.21027L21.0991 10.3397C20.996 10.4183 20.9469 10.546 20.9665 10.6688V18.9826C20.9469 19.1103 20.996 19.2379 21.0991 19.3116L22.2531 20.4411V20.6915H16.4585V20.4509L17.6518 19.292C17.7696 19.1741 17.7696 19.1397 17.7696 18.9629V12.2402L14.45 20.667H14.0031L10.1384 12.2402V17.8875C10.104 18.1232 10.1875 18.3638 10.3545 18.5357L11.9062 20.4165V20.667H7.49643V20.4165L9.04821 18.5357C9.21518 18.3638 9.28884 18.1232 9.24955 17.8875V11.3562C9.2692 11.1746 9.20045 10.9978 9.06295 10.875L7.68304 9.21027V8.95982H11.9701L15.2799 16.2277L18.192 8.96473H22.2777V9.21027Z" fill="white"/>
            </svg></a>
            <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9037 13.1735L13.4303 13.9399C13.012 13.0715 12.3108 13.0559 12.2123 13.0559C11.2307 13.0559 10.7388 13.704 10.7388 15.0004C10.7388 16.0459 11.1473 16.945 12.2123 16.945C12.8541 16.945 13.3056 16.6305 13.5682 16.002L14.9233 16.6895C14.6496 17.2 13.7838 18.4184 12.0358 18.4184C11.0333 18.4184 8.75528 17.9607 8.75528 15.0009C8.75528 12.3977 10.6625 11.5829 11.9768 11.5829C13.3394 11.5825 14.3143 12.1129 14.9037 13.1735V13.1735ZM21.2487 13.1735L19.7948 13.9399C19.3734 13.063 18.654 13.0559 18.5573 13.0559C17.5752 13.0559 17.0838 13.704 17.0838 15.0004C17.0838 16.045 17.4932 16.945 18.5573 16.945C19.1982 16.945 19.6506 16.6305 19.9119 16.002L21.2869 16.6895C21.1937 16.8558 20.3381 18.4184 18.3998 18.4184C17.3934 18.4184 15.1193 17.9806 15.1193 15.0009C15.1193 12.3986 17.0252 11.5829 18.3408 11.5829C19.7029 11.5825 20.673 12.1129 21.2487 13.1735V13.1735ZM14.9805 4C8.64573 4 4 9.10347 4 15C4 21.1427 9.03871 26 14.9805 26C20.7435 26 26 21.5259 26 15C26 8.8848 21.2709 4 14.9805 4V4ZM15.0191 23.9956C10.0274 23.9956 5.98399 19.8688 5.98399 15C5.98399 10.3241 9.77323 5.98399 15.02 5.98399C20.0112 5.98399 24.016 9.95198 24.016 14.9996C24.0156 20.3971 19.5947 23.9956 15.0191 23.9956V23.9956Z" fill="white"/>
            </svg></a
          </div>
        </div>
      </div>
    </div>
    <!--end mobile-->

</footer>

<div class="footer-bottom">
   <div class="uk-width-1-1 uk-margin-small-bottom	uk-margin-small-top">
     <p class="font-small uk-flex uk-flex-center uk-flex-align-center"><i class='uil uil-exclamation-triangle'></i> {% t footer.disclaimer %}</p>
   </div>
</div>


<script>
UIkit.svg(element, options);
</script>

<script>
UIkit.svg(element).svg.then(function(svg) { svg.querySelector('path').style.stroke = 'red'; })
</script>

<script>
UIkit.parallax(element, options);
</script>
