<!--<div uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Democraciakit: Herramientas para la democracia local (versión beta)</p>

    <a href="https://drive.google.com/file/d/1gwZzUX87vVadxhjAF_5ISFOl4-qhcYr7/view?usp=drive_link" class="btn" target="_blank">Descargar</a>
</div>-->


<!--<div class="btn-flotante">
    <a href="https://gitlab.com/pedregalux/images2021/-/raw/master/abrealcaldias-book.pdf" target="_blank">Manual Abre Alcaldías</a>
</div>-->
