@charset "utf-8";

// Define defaults for each variable.
$base-font-family: 'Work Sans', sans-serif !default;
$title-font-family: 'Space Mono', monospace !default;
$base-font-size:   0.9rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;
$spacing-unit:     30px !default;
$font-outstanding: 2.5em;


// Gradients
$gradient-blue-pink:        linear-gradient(315deg, #D500F9 0%, #304FFE 100%);
$gradient-pink-orange:      linear-gradient(315deg, #FF5722 0%, #D500F9 100%);
$gradient-green-purple:     linear-gradient(315deg, #6200EA 0%, #00C853 100%);
$gradient-pink-cyan:        linear-gradient(315deg, #00E5FF 0%, #D500F9 100%);
$gradient-purple-red:       linear-gradient(315deg, #E50068 0%, #6200EA 100%);
$gradient-purple-orange:    linear-gradient(315deg, #FF5722 0%, #6200EA 100%);
$gradient-green-purple:     linear-gradient(315deg, #304FFE 0%, #00C853 100%);
$gradient-cyan-purple:      linear-gradient(315deg, #6200EA 0%, #00E5FF 100%);
$gradient-opacity-shadow:   linear-gradient(180deg, #000f74d9 0%, #000f7400 100%);
$filter-gradient:          linear-gradient(315deg, #B1E957 0%, #74D9F9 52%, #D500F9 100%);


// Basic colors
$blue:          #304FFE;
$pink:          #D500F9;
$purple:        #6200EA;
$green:         #00C853;
$orange:        #FF5722;
$cyan:          #00E5FF;
$red:           #E50068;

// Blacks and greys

$black:              #263238;
$black-soft:         #465056;
$grey:               #78849E;
$grey-soft:          #C5D0DE;
$grey-light:         #E9F0F8;
$grey-light-soft:    #F4F9FE;

// Lighten

$blue-1:        #4F69FE;
$blue-2:        #6F84FF;
$blue-3:        #8D9EFF;
$blue-4:        #ACB9FF;
$blue-5:        #CBD3FE;
$blue-6:        #F0EFFF;

$pink-1:        #DB26FA;
$pink-2:        #E668FC;
$pink-3:        #F1ACFD;
$pink-4:        #EE99FD;
$pink-5:        #F4BFFD;
$pink-6:        #FBE6FF;

$purple-1:      #7926ED;
$purple-2:      #924DF1;
$purple-3:      #A973F4;
$purple-4:      #C099F7;
$purple-5:      #D7BFF9;
$purple-6:      #F0E6FD;

$green-1:       #26D06D;
$green-2:       #4DD987;
$green-3:       #73E1A1;
$green-4:       #99E9BA;
$green-5:       #BFF1D4;
$green-6:       #E6FAEE;

$orange-1:      #FF7043;
$orange-2:      #FF8A65;
$orange-3:      #FFA386;
$orange-4:      #FFBCA7;
$orange-5:      #FFD5C7;
$orange-6:      #FFEFE9;

$cyan-1:        #26E9FF;
$cyan-2:        #4DEDFF;
$cyan-3:        #73F1FF;
$cyan-4:        #99F5FF;
$cyan-5:        #BFF8FF;
$cyan-6:        #E6FDFF;

$red-1:         #E9267E;
$red-2:         #ED4D96;
$red-3:         #F173AC;
$red-4:         #F599C3;
$red-5:         #F8BFD9;
$red-6:         #FDE6F0;

// Project colors

$text-color:           $black !default;
$background-color:     white !default;
$background-gradient:  $gradient-blue-pink;
$project-color-1st-0:  $blue;
$project-color-2nd-0:  $pink;
$project-color-3rd-0:  $purple;
$project-color-1st-2:  $blue-2;
$project-color-2nd-2:  $pink-2;
$project-color-1st-6:  $grey-light-soft;
$project-color-2nd-6:  $pink-6;

$on-palm:          600px !default;
$on-laptop:        800px !default;


// Project colors 2.0

$dark-blue:         #000F74;
$dark-white:        #E5E5E5;
$white:             #ffffff;
$dark-grey:         #263238;
$pink-project:      #D500F9;
$green-project:     #B1E957;
$light-blue:        #74D9F9;
$grey-blue:         #D2DDEB;



// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "fci/base",
  "fci/media",
  "fci/fonts",
  "fci/layout"
;
