/**
 * Basic styling
 */

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    z-index: 9999999999 !important;
}

.uk-slidenav {
    z-index: 99;
}

/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5 {
    font-family: $title-font-family;
    font-weight: bold;
}

h1 {
    font-size: 2.2rem;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.uk-flex-align-center {
    align-items: center;
}


/**
 * `main` element
 */

main {
    display: block;
    /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Links
 */

a {
    color: $project-color-1st-0;
    text-decoration: none;
    transition: 0.5s all;

    &:hover,
    &:focus {
        color: $project-color-2nd-0;
        text-decoration: none;
    }
}

/**
 * Sections
 */

.bg-color-1st-0 {
    background: $project-color-1st-0;
}

.bg-color-2nd-0 {
    background: $project-color-2nd-0;
}

.bg-color-1st-6 {
    background: $project-color-1st-6;
}

.bg-color-2nd-6 {
    background: $project-color-2nd-6;
}

.bg-gradient {
    background: $background-gradient;
}

.bg-black {
    background: $black;
}

.bg-black-soft {
    background: $black-soft;
}

.bg-grey {
    background: $grey;
}

.bg-grey-soft {
    background: $grey-soft;
}

.bg-grey-light {
    background: $grey;
}

.bg-grey-light-soft {
    background: $grey-light-soft;
}

.uk-section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section-no-color {
    a {
        color: $grey;

        &:hover,
        &:focus {
            color: $grey-soft;
        }
    }

    .uk-description-list > dt {
        color: $black;
    }
}

a p.font-small.hover-no-color {

    &:hover,
    &:focus {
        color: $grey !important;
    }
}

.section-color-1st {
    background-color: $project-color-1st-6;

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $project-color-1st-0;
    }

    a {
        color: $project-color-1st-0;

        &:hover,
        &:focus {
            color: $project-color-1st-2;
        }
    }

    .font-lead {
        color: $project-color-1st-0;
    }

    .uk-description-list > dt {
        color: $project-color-1st-0;
    }
}

.section-color-2nd {
    background-color: $project-color-2nd-6;

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $project-color-2nd-0;
    }

    a {
        color: $project-color-2nd-0;

        &:hover,
        &:focus {
            color: $project-color-2nd-2;
        }
    }

    .font-lead {
        color: $project-color-2nd-0;
    }

    .uk-description-list > dt {
        color: $project-color-2nd-0;
    }
}

.section-gradient {
    background: $background-gradient;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: white;
    }

    a {
        color: $grey-soft;

        &:hover,
        &:focus {
            color: white;
        }
    }

    .font-lead {
        color: white;
    }
}

.section-black {
    background: $black;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: white;
    }

    a {
        color: $grey-soft;

        &:hover,
        &:focus {
            color: white;
        }
    }

    .font-lead {
        color: white;
    }
}

.section-black-soft {
    background: $black-soft;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: white;
    }

    a {
        color: $grey-soft;

        &:hover,
        &:focus {
            color: white;
        }
    }

    .font-lead {
        color: white;
    }
}

.section-grey {
    background: $grey;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: white;
    }

    a {
        color: $grey-soft;

        &:hover,
        &:focus {
            color: white;
        }
    }

    .font-lead {
        color: white;
    }
}

.section-grey-soft {
    background: $grey-soft;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: $black;
    }

    a {
        color: $grey;

        &:hover,
        &:focus {
            color: $black;
        }
    }

    .font-lead {
        color: $black;
    }
}

.section-grey-light {
    background: $grey-light;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: $black;
    }

    a {
        color: $grey;

        &:hover,
        &:focus {
            color: $black;
        }
    }

    .font-lead {
        color: $black;
    }
}

.section-grey-light-soft {
    background: $grey-light-soft;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: $black;
    }

    a {
        color: $grey;

        &:hover,
        &:focus {
            color: $black;
        }
    }

    .font-lead {
        color: $black;
    }
}

#welcome-page {
    padding: 80px 0 0;

    &.uk-height-viewport {
        min-height: 55vh;
    }
}

#countries {
    padding: 0;

    &.uk-height-viewport {
        min-height: 75vh;

        h3 {
            color: $black;
        }
    }
}

/**
 * Buttons
 */

.uk-button {
    font-family: $title-font-family;
    text-transform: none;
    font-weight: 600;
    background: transparent;
}

.button-color-1st,
a.button-color-1st {
    color: $project-color-1st-0;
    border: 2px solid $project-color-1st-0;

    &:hover,
    &:focus {
        color: white;
        background: $project-color-1st-0;
    }
}

.button-color-2nd,
a.button-color-2nd {
    color: $project-color-2nd-0;
    border: 2px solid $project-color-2nd-0;

    &:hover,
    &:focus {
        color: white;
        background: $project-color-2nd-0;
    }
}

.button-white-color-1st,
a.button-white-color-1st {
    color: white;
    border: 2px solid white;

    &:hover,
    &:focus {
        color: $project-color-1st-0;
        background: white;
    }
}

.button-white-color-2nd,
a.button-white-color-2nd {
    color: white;
    border: 2px solid white;

    &:hover,
    &:focus {
        color: $project-color-2nd-0;
        background: white;
    }
}

.button-white-black,
a.button-white-black {
    color: white;
    border: 2px solid white;

    &:hover,
    &:focus {
        color: $black;
        background: white;
    }
}

.button-white-black-soft,
a.button-white-black-soft {
    color: white;
    border: 2px solid white;

    &:hover,
    &:focus {
        color: $black-soft;
        background: white;
    }
}

.button-white-grey,
a.button-white-grey {
    color: white;
    border: 2px solid white;

    &:hover,
    &:focus {
        color: $grey;
        background: white;
    }
}

.button-black-grey-soft,
a.button-black-grey-soft {
    color: $black;
    border: 2px solid $black;

    &:hover,
    &:focus {
        color: $grey-soft;
        background: $black;
    }
}

.button-black-grey-light,
a.button-black-grey-light {
    color: $black;
    border: 2px solid $black;

    &:hover,
    &:focus {
        color: $grey-light;
        background: $black;
    }
}

.button-black-grey-light-soft,
a.button-black-grey-light-soft {
    color: $black;
    border: 2px solid $black;

    &:hover,
    &:focus {
        color: $grey-light-soft;
        background: $black;
    }
}

.pill-1st {
    border: 2px solid $project-color-1st-0;
    color: $project-color-1st-0 !important;
    padding: 0.3em 0.5em !important;
    font-family: 'Space Mono', monospace !important;
    letter-spacing: 1px;
    font-size: 0.8em !important;

    &:hover,
    &:focus,
    &:active {
        background: $project-color-1st-0 !important;
        color: white !important;
    }
}

.pill-2nd {
    border: 2px solid $project-color-2nd-0;
    color: $project-color-2nd-0 !important;
    padding: 0.3em 0.5em !important;
    font-family: 'Space Mono', monospace !important;
    letter-spacing: 1px;
    font-size: 0.8em !important;

    &:hover,
    &:focus,
    &:active {
        background: $project-color-2nd-0 !important;
        color: white !important;
    }
}

.pill-3rd {
    border: 2px solid $project-color-3rd-0;
    color: $project-color-3rd-0 !important;
    padding: 0.3em 0.5em !important;
    font-family: 'Space Mono', monospace !important;
    letter-spacing: 1px;
    font-size: 0.8em !important;

    &:hover,
    &:focus,
    &:active {
        background: $project-color-3rd-0 !important;
        color: white !important;
    }
}

.uk-subnav-pill.pill-active-1st > .uk-active > a {
    background-color: $project-color-1st-0 !important;
    color: white !important;
}

.uk-subnav-pill.pill-active-2nd > .uk-active > a {
    background-color: $project-color-2nd-0 !important;
    color: white !important;
}

.uk-subnav-pill.pill-active-3rd > .uk-active > a {
    background-color: $project-color-3rd-0 !important;
    color: white !important;
}

/**
 * Basic texts
 */

span {
    font-weight: 600;
}

strong {
    font-weight: 600;
}

.uk-label {
    font-weight: 400;
    padding: 0.3em 0.5em !important;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 0.8rem;
    font-family: $title-font-family !important;
    letter-spacing: 1px;

    &.bg-1st {
        background: $project-color-1st-0 !important;
    }

    &.bg-2nd {
        background: $project-color-2nd-0 !important;
    }

    &.bg-3rd {
        background: $project-color-3rd-0 !important;
    }
}

.uk-description-list > dt {
    text-transform: none;
    font-weight: 600;
    font-family: $title-font-family;
}

.uk-accordion-title {
    font-size: 1.1rem;
}

.font-600 {
    font-weight: 600;
}

.font-mono {
    font-family: $title-font-family;
}

.font-sans {
    font-family: $base-font-family;
}

.font-color-1st-0 {
    color: $project-color-1st-0 !important;
}

.font-color-2nd-0 {
    color: $project-color-2nd-0 !important;
}

.font-color-black {
    color: $black !important;
}

.font-color-grey {
    color: $grey !important;
}

.font-lead {
    font-family: $title-font-family;
    font-weight: 400;
    font-size: 1.2rem;
    margin: -10px 0 20px;
}

.font-small {
    font-size: 0.8rem;
    line-height: 1.8;
}

.font-little-title {
    font-family: $title-font-family !important;
    font-size: 0.75rem !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
}

.font-compressed {
    line-height: 1.6;
}

.uk-breadcrumb {
    font-family: $title-font-family;
}

h1.no-project-color,
h2.no-project-color,
h3.no-project-color,
h4.no-project-color,
h5.no-project-color,
.font-lead.no-project-color,
.uk-description-list > dt.no-project-color {
    color: $black;
}


.list-angle {
    margin: -10px 0 16px 36px;
    float: left;

    &::before {
        content: url(../assets/images/icon-angle-right.svg);
        position: relative;
        left: -10px;
        margin-left: -24px;
        top: 8px;
    }
}

.uk-card-body {
    padding: 2em;
}

.uk-card.uk-card-default.card-network {
    box-shadow: none;
    min-height: 31em;
}

/**
 * Article
 */

.uk-article-meta {
    font-family: $title-font-family;
}

blockquote {
    font-family: $title-font-family;
}

cite {
    font-size: 0.9rem;
    font-style: normal;
}

/**
 * Images and svgs
 */

/**
 * Navbar
 */

header.uk-sticky {
    background: $gradient-opacity-shadow;
    margin-bottom: -120px;
    z-index: 200;
}

.uk-navbar-left .uk-list {
    margin-bottom: 25px;
}

.uk-navbar-dropdown-nav > li > a {
    color: $black-soft;
    font-size: 0.7rem;

    &:hover {
        color: $project-color-1st-0;
    }
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a.uk-open,
.uk-navbar-nav > li > a:focus {
    color: white !important;
}

.uk-navbar-nav {

    .uk-button-default,
    a.uk-button-default {
        color: $project-color-1st-0;
        border: 2px solid white;
        background-color: white;
        font-family: $title-font-family;
        text-transform: none;

        &:hover {
            color: $white;
            background: transparent;
        }
    }
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
    min-height: 50px;
}

.navbar-language {
    font-size: 0.7rem;
    margin-bottom: 16px;
    padding-top: 8px;
}

.navbar-fci {
    font-family: $title-font-family;
    font-size: 0.8rem;
    margin-top: 3px !important;
}

.navbar-language > a,
.navbar-fci > a,
.uk-navbar-nav > li > a {
    color: white;
    text-transform: none;

    &:hover,
    &:focus {
        color: $white;
        text-decoration: none;
    }
}

.uk-navbar-container > .uk-container .uk-navbar-left {
    margin-left: 0;
}

.uk-navbar-container > .uk-container .uk-navbar-right {
    margin-top: -30px;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle,
li.uk-active > a {
    color: $white;
    font-family: $base-font-family;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: $dark-blue;

    a {
        color: $dark-blue;
    }

    .navbar-language > a,
    .navbar-fci > a,
    .uk-navbar-nav > li > a {
        color: $white;
        text-transform: none;

        &:hover,
        &:focus,
            {
            color: $white;
            text-decoration: none;
        }
    }

    .uk-button-default,
    a.uk-button-default {
        color: $grey-light-soft !important;
        background-color: $black-soft;
        border: 2px solid $black-soft;
        font-family: $title-font-family;
        text-transform: none;

        &:hover {
            color: $black-soft !important;
            background-color: transparent;
        }
    }

    svg > path {
        fill: $white;
    }
}


/*header .uk-navbar-dropdown {
    left: 649.562px !important;
    top: 60px !important;
} */

header .uk-navbar-dropdown {
    top: 60px !important;
}

header .uk-navbar-dropdown-nav li {
    margin: 10px 0px;
}

/**
 * Hero
 */

.icon-hero > svg {
    width: 4%;

    &:hover,
    &:focus {
        path {
            fill: $grey-soft;
        }
    }
}

/**
 * Footer
 */

footer {
    background: $dark-blue;
    color: white;
    font-size: 0.8rem;
    padding: 50px 0 30px;
    transition: 0.5s all;

    a {
        color: white;

        &:hover,
        &:focus {
            color: $pink-project;
            text-decoration: none;
        }
    }
}

.list-footer {
    line-height: 1;

    li > a {
        transition: 0.5s all;

        &:hover,
        &:focus {
            color: $pink-project;
            text-decoration: none;
        }
    }
}

.logo-footer-50 {
    width: 50%;
}

.logo-footer-70 {
    width: 70%;
}

.logo-footer-80 {
    width: 80%;
}

.logo-footer-90 {
    width: 90%;
}

.logo-footer-100 {
    width: 100%;
}

.iconos-rrss-footer {
    border-top: 1px solid white;
}

svg.icon-footer {
    width: 45px;
    margin: 0px 25px;

    &:hover,
    &:focus {
        fill: $pink-project;
    }
}

svg.icon-footer > path {

    &:hover,
    &:focus {
        fill: $pink-project;
    }
}

.logo-footer-fci > svg {

    &:hover,
    &:focus {
        path {
            fill: $grey-soft;
        }
    }
}


.footer-bottom {
    background: $dark-grey;
}

.footer-bottom p {
    color: $dark-white;
}

.footer-bottom i {
    font-size: 1.5em;
    color: $dark-white;
}

/*HEADER*/

header .uk-navbar-nav .font-little-title {
    padding: 0 25px;
}


/*Abre Alcaldias - Nueva identidad*/


.uk-slidenav svg {
    display: none;
}

.uk-slidenav {
    background: $light-blue;
    color: $dark-blue !important;
    border-radius: 100%;
    height: 40px;
    width: 30px;
    font-weight: 800;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}


/*Hero*/

#hero h1 {
    background: $light-blue;
    color: $dark-blue;
    padding: 0px 30px;
    margin-bottom: 0px;
    font-size: 2.8em;
}

#hero h3 {
    margin-top: 10px;
    font-family: $base-font-family;
    font-weight: 400;
}

#hero p {
    text-transform: inherit;
    font-family: $base-font-family;
    color: $white;
}

#hero .credit-fci p {
    padding-right: 20px;
}

/*Boton Abre*/

.btn-abre {
    padding: 10px 50px;
    border-radius: 100px;
    font-size: 1.5em;
    font-weight: 500;
    background: transparent;
    border: 5px solid $light-blue;
    color: $light-blue;

    &:hover,
    &:focus {
        background: $light-blue;
        border: 5px solid $light-blue;
        color: $dark-blue;
    }
}



/*Desafios*/
#desafios h2 {
    font-size: 2.4em;
    color: $dark-blue;
    font-weight: 800;
}

#desafios h3 {
    font-size: 1.6em;
    color: $dark-blue;
}

#desafios p {
    font-size: 1em;
    color: $dark-blue;
}



/*CALL TO ACTION*/
#cta-abre {
    background: $dark-blue;
}

#cta-abre h3 {
    color: $white;
    font-weight: 400;
    font-size: 1.8em;
}



/*Mapa Slide*/
#municipios-paises {
    position: relative;
}

#municipios-paises .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#municipios-paises .content-map {
    width: 60%;
    position: relative;
    z-index: 1;
}

#municipios-paises .content-map h3.title {
    color: $dark-blue;
    font-size: $font-outstanding;
    margin-top: 100px;
}

#municipios-paises .content-map p.sub-title {
    color: $dark-blue;

}

#municipios-paises .map {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    z-index: 0
}

#municipios-paises .map img {
    position: relative;
    bottom: 30px;
    left: 20px;
}

#municipios-paises .slide-map {
    width: 100%;
}

#municipios-paises .slide-map .uk-card-default {
    background: #fff;
    color: #666;
    box-shadow: 0;
    background: $grey-blue;
    border-radius: 20px;
}

#municipios-paises .slide-map .uk-card-default .uk-card-media-top h3 {
    color: $dark-blue;
}

#municipios-paises .slide-map .uk-card-default .uk-card-media-top h4 {
    color: $dark-blue;
}

#municipios-paises .slide-map .uk-card-default .uk-card-media-top p {
    color: $dark-blue;
    font-size: 1em;
}

#municipios-paises .slide-map .uk-card-default .uk-card-body {
    padding: 0;
}

#municipios-paises .slide-map .uk-card-default .uk-card-body .img-card {
    position: relative;
}

#municipios-paises .slide-map .uk-card-default .uk-card-body .img-card .filtrer-gradient {
    background: $filter-gradient;
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99999999;
}

#municipios-paises .slide-map .uk-card-default .uk-card-body .img-card .img-municipio {
    z-index: 999999;
}

#municipios-paises .slide-map .uk-card-default .uk-card-media-bottom a {
    background: $dark-blue;
    color: $white;
    border-radius: 20px;
    padding: 5px 20px;

    &:hover {
        background: $pink-project;
    }
}

#municipios-paises .uk-position-center-left {
    transform: translateY(200%) translateX(-80px);
}

#municipios-paises .uk-position-center-right {
    transform: translateY(200%) translateX(80px);
}


/*About FCI*/
#about-fci svg path {
    fill: #D500F9 !important;
}

#about-fci p {
    color: $dark-blue;
}

/*Org Project*/

#org-project h4 {
    color: $dark-blue;
    font-size: 1.8em;
}

#org-project img {
    padding: 20px;
    max-height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#org-project .uk-slidenav {
    background: #74D9F9;
    border-radius: 100%;
}


/*Welcome Page*/

#welcome-page h2 {
    background: $dark-blue;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2.8em;
    padding: 0px 30px;
}

#welcome-page h4 {
    margin-bottom: 0px;
}


/*Proceso de formación*/

#proceso-de-formacion .pasos {
    display: flex;
    flex-direction: row;
}


#proceso-de-formacion .icono {
    width: 25%;
}


#proceso-de-formacion .texto {
    width: 75%;
    margin-top: 40px;
    margin-left: 30px;
}

#proceso-de-formacion .texto h3 {
    color: $dark-blue;
}

#proceso-de-formacion .texto p {
    color: $dark-blue;
}


#proceso-de-formacion .btn {
    display: flex;
    justify-content: flex-end;
}

#proceso-de-formacion .btn a {
    color: $dark-blue;
}


/*Herramientas*/

#nuestras-herramientas .herramienta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    width: 100%;
    margin: 0px !important;
}

#nuestras-herramientas .herramienta .imagen {
    width: 50%;
}

#nuestras-herramientas .herramienta .imagen img {
    width: 100%;
}

#nuestras-herramientas .herramienta .texto {
    width: 50%;
}

#nuestras-herramientas .herramienta .texto h3 {
    color: $dark-blue;
    margin: 0px 30px 10px 30px;
}

#nuestras-herramientas .herramienta .texto a {
    background: $dark-blue;
    color: $white;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1.5em;
    margin: 0px 30px;

    &:hover {
        background: $pink-project;
    }
}

#nuestras-herramientas .herramienta.h-1 .texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#nuestras-herramientas .herramienta.h-2 .texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}


#nuestras-herramientas .herramienta.h-2 .texto h3 {
    text-align: right;
}


#cta-herramientas {
    background: $light-blue !important;
}

#cta-herramientas h3 {
    color: $dark-blue;
}

#cta-herramientas a {
    background: $dark-blue;
    color: $white;

    &:hover {
        background: $pink-project;
    }
}

/*Experiencias*/
#experiencias h2 {
    color: $dark-blue;
}

#experiencias p {
    color: $dark-blue;
    font-size: 1.5em;
}

#experiencias .uk-card-default {
    background: #fff;
    color: #666;
    box-shadow: 0;
    background: $grey-blue;
    border-radius: 20px;
}

#experiencias .uk-card-default .uk-card-media-top h3 {
    color: $dark-blue;
}

#experiencias .uk-card-default .uk-card-media-top h4 {
    color: $dark-blue;
}

#experiencias .uk-card-default .uk-card-media-top p {
    color: $dark-blue;
    font-size: 1em;
}

#experiencias .uk-card-default .uk-card-body {
    padding: 0;
}

#experiencias .uk-card-default .uk-card-body .img-card {
    position: relative;
}

#experiencias .uk-card-default .uk-card-body .img-card .filtrer-gradient {
    background: $filter-gradient;
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99999999;
}

#experiencias .uk-card-default .uk-card-body .img-card .img-municipio {
    z-index: 999999;
}

#experiencias .uk-card-default .uk-card-media-bottom button {
    background: $dark-blue;
    color: $white;
    border-radius: 20px;
    border: 0px;
    padding: 5px 20px;

    &:hover {
        background: $pink-project;
    }
}


#experiencias .filtro-paises a {
    background: $dark-blue;
    color: $white;
    border-radius: 20px;
    border: 0px;
    padding: 10px 40px;

    &:hover {
        background: $pink-project;
    }
}


.uk-modal-dialog {
    background: #D2DDEB;
}

.uk-modal-dialog button {
    background: transparent;
    border: 0px;
    cursor: pointer;
    font-size: 1.5em;
    color: $dark-blue;
}

.uk-modal-dialog button:hover {
    color: $pink-project;
}

.uk-modal-dialog h3 {
    color: $dark-blue;
}

.uk-modal-dialog h4 {
    color: $dark-blue;
}

.uk-modal-dialog h5 {
    color: $dark-blue;
}

.uk-modal-dialog p {
    color: $dark-blue;
}

.personas {
    padding: 0px;
}

.personas li {
    padding: 20px;
    list-style: none;
}

.personas .img-persona img {}

.personas .img-persona .filtrer-gradient {}

/*Contacto*/

#contacto h2 {
    color: $dark-blue;
}

#contacto p {
    color: $dark-blue;
    font-size: 1.5em;
}

#contacto .uk-input,
#contacto .uk-textarea {
    color: $dark-blue;
    border: 1px solid $dark-blue;
    border-radius: 5px;
}

#contacto button {
    background: $light-blue;
    color: $dark-blue;
    border-radius: 20px;
    border: 0px;
    padding: 5px 40px;

    &:hover {
        background: $pink-project;
    }
}

/*Preguntas Frecuentes*/

#preguntas-frecuentes h2 {
    color: $dark-blue;
}

#preguntas-frecuentes li {
    margin-top: 0px;
    padding: 30px;
    border-bottom: 1px solid $dark-blue;
}

#preguntas-frecuentes li:last-child {
    border-bottom: 0px solid $dark-blue;
}

#preguntas-frecuentes a {
    color: $dark-blue;
    padding: 0px 30px;
}

#preguntas-frecuentes p {
    color: $dark-blue;
    padding: 0px 30px;
}


#preguntas-frecuentes .uk-accordion-content ul li{
      margin-top: 0px;
      padding: 0px;
      border-bottom: 0px;
      margin-left: 20px;
  }

#preguntas-frecuentes .uk-accordion-content ul li p{
  padding: 0px;
}

#preguntas-frecuentes .uk-accordion-content a {
    color: #D500F9;
    padding: 0px 0px;
    font-weight: bold;
}

#preguntas-frecuentes .uk-accordion-content a:hover {
    text-decoration: underline;
}

.uk-navbar-container:not(.uk-navbar-transparent) a.uk-navbar-toggle-icon {
    color: white;
}


#contacto-end h4{
  color: $dark-blue;
  font-size: 1.5em;
  text-align: center;
}

#contacto-end p{
  color: $dark-blue;
  font-size: 1.2em;
  text-align: center;
}


/*Se parte*/

#se-parte h4{
  color: $dark-blue;
  font-size: 2em;
  text-align: center;
}

#se-parte p{
  color: $dark-blue;
  font-size: 1.2em;
  text-align: center;
}

#se-parte .btn{
  display: flex;
  justify-content: center;
}

/*Arreglo mapa momentaneo*/

/*#municipios-paises .content-map h3.title {
    margin-top: 200px;
}

.slide-map {
    visibility: hidden;
    height: 200px;
}

#welcome-page h4 {
   text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}*/


/*Organizaciones*/

#org h2{
  color: $dark-blue;
  font-size: 2em;
  text-align: center;
}

#org .org {
    padding: 30px;
    background:#f2f8ff;
    border-radius: 20px;
    min-height: 250px;
    transition: 0.5s all;
}

#org .org:hover {
    background: #74d9f95c;
}

#org .org p{
    color: $dark-blue;
    font-size: 1.1em;
}

#org .org a{
    color: $pink-project;
    font-size: 1.1em;
}

#org .org a:hover{
    text-decoration: underline;
}


#org .org img {
    margin: auto;
    display: flex;
    max-width: 150px;
}

#org .org img.logo-org-ac{
    max-width: 100px;
}

#org .org img.logo-org-as{
    max-width: 170px;
}

#org .org img.logo-org-red{
    max-width: 100px;
}

/*Movil*/
@media(max-width:991px) {

    #municipios-paises .map {
        width: 70%;
    }

    footer .logo-footer-fci svg {
        width: 130px;
    }

    footer ul.uk-list.list-footer li {
        display: flex;
        justify-content: center;
    }

    footer .logos-rrss > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        align-items: center;
    }

    footer .logos-rrss > div svg.icon-footer {
        margin: 10px 20px !important;
        width: 35px;
    }

    .footer-bottom {
        padding: 0px 30px;
    }

    #welcome-page h4 {
       font-size: 1.4em;
       text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }

}


@media(max-width:768px) {
    footer ul.uk-list.list-footer li {
        display: flex;
        justify-content: center;
    }

    footer .logo-footer-fci svg {
        width: 130px;
    }

    footer .logos-rrss > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        align-items: center;
    }

    footer .logos-rrss > div svg.icon-footer {
        margin: 10px 20px !important;
        width: 35px;
    }

    #proceso-de-formacion .btn {
       display: flex;
       justify-content: center;
    }
    #welcome-page h2 {
    font-size: 2em;
    padding: 0px 15px;
}

#nuestras-herramientas .herramienta .imagen {
    width: 100%;
}

#nuestras-herramientas .herramienta .texto {
    width: 70%;
}

#nuestras-herramientas .herramienta {
    flex-wrap: wrap;
    margin-bottom: 60px!important;
}


#nuestras-herramientas .herramienta .texto {
    justify-content: center!important;
    align-items: center!important;
    padding-left: 3%;
}

#nuestras-herramientas .herramienta .texto h3 {
    color: #000F74;
    margin: auto;
    padding: 20px 0px;
    text-align: center;
}

#nuestras-herramientas .herramienta .texto a {
    padding: 5px 30px;
}

#nuestras-herramientas .herramienta.h-2 {
    flex-direction: column-reverse;
}


#nuestras-herramientas .herramienta.h-2 .texto {
    justify-content: center;
    align-items: center;
}

#nuestras-herramientas .herramienta.h-2 .texto h3 {
    text-align: center;
}

#contacto p {
    font-size: 1.2em;
}

#preguntas-frecuentes p {
    padding: 0px 30px;
}

#contacto button {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

#se-parte h4{
  color: $dark-blue;
  font-size: 1.5em;
  text-align: center;
}

}


@media(max-width:500px) {

    .btn-abre {
        padding: 5px 30px;
        font-size: 1.2em;
        border: 3px solid #74D9F9;
    }

    header .logo-navbar > svg {
        width: 70% !important;
    }

    header li.navbar-fci {
        font-size: 0.9em !important;
    }

    #hero h1 {
        font-size: 2em;
    }

    .credit-fci {
        margin-top: 20px !important;
    }

    .credit-fci svg.logo-footer-100 {
        width: 120px !important;
    }

    #hero p {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #hero h3 {
        font-size: 1.2em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #desafios h2 {
        font-size: 1.8em;
    }

    #desafios img {
        width: 130px !important;
    }

    #desafios h3 {
        font-size: 1.4em;
        margin: 10px 0px;
    }

    #desafios p {
        margin-top: 0px;
    }

    #cta-abre h3 {
        font-size: 1.4em;
    }

    #municipios-paises .content-map h3.title {
        font-size: 1.8em;
        margin-top: 140px;
        text-align: center;
    }

    #municipios-paises p.sub-title {
        font-size: 1.2em;
        margin-top: 0px;
        text-align: center;
    }

    #municipios-paises .content-map {
        width: 100%;
    }

    #municipios-paises .map {
        width: 100%;
        opacity: 0.3;
    }

    #municipios-paises .map img {
        left: 0px;
    }

    #municipios-paises .uk-position-center-right {
        transform: translateY(-30%) translateX(10px) !important;
    }

    #municipios-paises .uk-position-center-left {
        transform: translateY(-30%) translateX(-10px) !important;
    }

    #municipios-paises .slide-map {
        width: 70%;
        margin: auto;
        height: 120px;
    }

    #about-fci .img-logo svg {
        margin: auto;
        display: flex;
    }

    #about-fci p {
        text-align: center;
    }

    #org-project h4 {
        font-size: 1.4em;
    }

    .uk-slidenav {
        height: 30px;
        width: 20px;
    }

    #org-project .uk-position-center-right {
        transform: translateY(-30%) translateX(10px) !important;
    }

    #org-project .uk-position-center-left {
        transform: translateY(-30%) translateX(-10px) !important;
    }

    #org-project .uk-slider-items {
        margin-bottom: 80px !important;
    }


    footer .logos-rrss > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        align-items: center;
    }

    footer .logos-rrss > div svg.icon-footer {
        margin: 10px 20px !important;
        width: 35px;
    }

    footer ul.uk-list.list-footer li {
        display: flex;
        justify-content: center;
    }

    footer .logo-footer-fci svg {
        width: 130px;
    }

    #welcome-page.uk-height-viewport {
    min-height: 52vh;
}

}


/*Menu celular*/
.uk-offcanvas {
    z-index: 999999999999999;
}

.uk-offcanvas-bar.uk-flex.uk-flex-column.uk-text-center.uk-offcanvas-bar-animation.uk-offcanvas-push {
    width: 100%;
    background: #000F74;
    z-index: 999999999999999;
}

.uk-offcanvas ul.uk-list{
  padding-left: 30px;
}

.uk-offcanvas-bar a {
    color: white!important;
    text-align: left;
    width: 100%;
    font-size: 1.4em;
}

.uk-offcanvas .sub-nav ul {
    padding-left: 0px;
    border-left: 3px solid white;
    margin-left: 10px;
    margin: 10px;
}

.uk-offcanvas-bar ul li {
    text-align: left;
    width: 100%;
}

.uk-offcanvas .sub-nav ul a{
   padding-left: 20px;
   font-size: 1.2em;
}

.uk-offcanvas-bar .uk-close{
  color: white!important;
  zoom:1.1;
}

.uk-offcanvas button svg line {
    stroke-width: 2;
}


/*Experiencias*/

.uk-modal {
    z-index: 99999999999999!important;
}








/*Abre alcaldías nueva web - actualizacion febrero 2023*/

body{
  font-size: 14px;
  background: transparent;
}

h1, h2, h3, h4, h5, h6, a, p{
  font-family: "Space Mono", monospace;
}


input, select, textarea{
  font-family: "Space Mono", monospace!important;
}


a{
  transition: 0.5s all;
}


/*Alerta hello bar*/
.uk-alert{
  z-index: 9999;
  margin-bottom: 0px;
  background: #D2DDEB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uk-alert-close {
    position: absolute;
    top: 15px;
    right: 10%;
    color: white;
    opacity: 1;
    background: #D500F9;
    padding: 5px;
    border-radius: 100%;
}

.uk-alert-close:hover {
    background: #000F74;
    color:white;
    opacity: 1;
}

.uk-alert p{
  font-size: 1.2em;
  margin-bottom: 0px;
  color:#000F74;
  font-weight: 700;
}

.uk-alert .btn {
    background: #000F74;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 10px;
}

.uk-alert .btn:hover{
    background: #D500F9;
}


/*btn flotante*/

.btn-flotante {
    position: fixed;
    right: -112px;
    top: 260px;
    z-index: 99999;
    background: #74D9F9;
    transform: rotate(270deg);
    padding: 5px 20px;
    border-radius: 10px 10px 0px 0px;
    transition:0.5s all;
}

.btn-flotante:hover{
   background: #B1E957;
}

.btn-flotante a {
    color: #000F74;
    font-size: 1.2em;
    font-weight: bold;
}

/*Header*/

header.uk-sticky {
    background: linear-gradient(180deg, #000F74 5.73%, rgba(0, 15, 116, 0.55) 50%, rgba(0, 15, 116, 0) 100%);
    margin-bottom: 0px;
    z-index: 200;
    padding: 30px 0px;
}

header .uk-navbar-container:not(.uk-navbar-transparent) {
    background: transparent;
}

header ul.uk-navbar-nav {
    display: flex;
    align-items: center;
}

header ul.uk-navbar-nav li{
  padding: 0px 15px;
}

header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo li{
  padding: 0px;
}

header a{
  font-weight: 600;
  font-family: "Space Mono", monospace!important;
  min-height: inherit!important;
  transition: 0.5s all;
  color:white;
}

header a.active{
  background: #B1E957;
  color:#000F74!important;
  font-weight: 600;
}

header .uk-navbar-nav > li:hover > a:hover{
  background: #B1E957;
  color: #000F74!important;
  font-weight: 600;
}


header a.active:hover{
  color: #000F74!important;
  background: #B1E957;
}

header .uk-navbar-container > .uk-container .uk-navbar-right{
  margin-top: 0px;
}


header .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav > li > a.active{
  color:#000F74;
}

header .uk-navbar-dropdown {
    top: 40px !important;
    padding: 20px;
}

header .uk-navbar-dropdown a{
  font-size: 1em;
  color: #000F74;
}

header .uk-navbar-dropdown a:hover{
    color: #D500F9;
}

header .active.uk-open{
  color:#000F74!important;
}


/*Hero*/
#hero {
    position: relative;
    top: -110px;
}

#hero .uk-height-viewport {
    min-height: 55vh;
}

#hero  .content-hero {
    position: relative;
    bottom: -30px;
}

#hero h1 {
    background: transparent;
    color: white;
    padding: 0px;
    font-size: 2.8em;
    margin: 0px 0px 10px 0px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.42);
}


#hero h2 {
    background: #74D9F9;
    color: #000F74;
    padding: 5px 15px;
    font-size: 2.8em;
    font-weight: 800;
    margin: 0px;
}

#hero img.img-gif {
    width: 400px;
}

/*desafios*/
#desafios{
  margin-bottom: 100px;
}
#desafios h3{
  color: #000F74;
  font-size: 1.8em;
  font-weight: 700;
}

#desafios h3 span{
  color: #D500F9;
}

#desafios h3.numero{
  color:#D500F9;
  font-weight: 800;
  font-size: 5.5em;
  margin: 0px;
}

#desafios p{
  background: #74D9F9;
  color: #000F74;
  padding: 2px 8px;
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}


.img-grupo{
  position: relative;
  z-index: -1;
}

.img-grupo img.img-textura {
    position: absolute;
    bottom: 500px;
}



/*btn-abre*/
.btn-abre {
    background: #74D9F9;
    border: 0px;
    color: #000F74;
    font-weight: 800;
    padding: 5px 20px;
    border-radius: 100px;
    font-size: 1.8em;
}

.btn-abre:hover, .btn-abre:focus {
    background: #D500F9;
    border: 0px;
    color: #000F74;
}

/*Mapa*/

#municipios-paises {
    position: relative;
    overflow: hidden;
    height: 110vh;
}

#municipios-paises .map {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    z-index: 0;
}

#municipios-paises .map img {
    position: relative;
    bottom: 20px;
    left: 0px;
}

#municipios-paises .content-map {
    width: 50%;
    position: relative;
    z-index: 1;
}

#municipios-paises .content-map h3.title {
    color: #000F74;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 80px;
}

#municipios-paises .slide-map .uk-card-default {
    background: #D2DDEB;
    color: #666;
    box-shadow: none;
    border-radius: 20px;
}

#municipios-paises .slide-map .uk-card-default .pais{
   color: #D500F9!important;
   text-align: center;
   font-weight: 800;
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 1.2em;
}

#municipios-paises .slide-map .uk-card-default .nombre-municipio{
  color: #000F74;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.4em;
}

#municipios-paises .slide-map .uk-card-default .titulo-experiencia{
  color: #000F74;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

#municipios-paises .slide-map .uk-card-media-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.modal-experiencias .pais{
  color: #D500F9!important;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0px;
  font-size: 1em;
}

.modal-experiencias .nombre-municipio{
  color: #000F74;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
}

.modal-experiencias h2{
    color: #000F74;
    font-size: 1.6em;
    margin:20px 0px;
}

.modal-experiencias p{
    margin:0px!important;
    padding: 15px 0px;
}

.modal-experiencias .video{
  margin: 10px 0px;
}

.modal-experiencias .carrousel-fotos{
    margin: 10px 0px;
}


/*ofrecemos*/

#ofrecemos{
  padding-top: 100px;
  padding-bottom: 100px;
}

#ofrecemos h3{
   color:#000F74;
   font-size: 1.8em;
   padding-bottom: 0px;
   margin-bottom: 0px;
}

#ofrecemos p.sub-titulo{
  color:#D500F9;
  font-size: 1.2em;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0px;
}

#ofrecemos img{
   width:100px;
}

#ofrecemos h4{
   margin-top: 20px;
   margin-bottom: 10px;
   color:#000F74;
   font-size: 1.4em;

}

#ofrecemos p{
  margin-top: 0px;
  margin-bottom: 10px;
  color:#000F74;
  font-size: 1em;
}

#ofrecemos a.btn {
    background: #000F74;
    color: white;
    border-radius: 20px;
    padding: 5px 25px;
    margin-left: 10px;
    font-weight: 800;
    font-size: 1.4em;
}

#ofrecemos a.btn:hover {
    background: #D500F9;
}

/*destacado franja azul*/

#texto-destacado-blue{
  background: #000F74;
}

#texto-destacado-blue h2{
  color:white;
  font-size: 2em;
  font-weight: 800;
}

#texto-destacado-blue h2 span{
  color:#74D9F9;
}


/*texto destacado celeste*/

#texto-destacado-celeste{
  background: #74D9F9;
}

#texto-destacado-celeste h2{
  color:#000F74;
  font-size: 2em;
  font-weight: 800;
}


/*Testimonios*/

.bg-testimonios{
  background: url("../../assets/images/banners/textura-testimonios.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#testimonios{
  padding-top: 50px;
}

#testimonios h3{
  color:#000F74;
  font-size: 1.8em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#testimonios p.sub-titulo{
  color:#D500F9;
  font-size: 1.2em;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0px;
}

/*Testimonios fotos*/
#testimonios-fotos{
  padding: 0px 10%;
}

#testimonios-fotos img{
   width: 60%;
}

#testimonios-fotos h4{
    color: #000F74;
    background: #74D9F9;
    font-size: 1.2em;
    font-weight: 800;
    width: 90%;
    text-align: center;
    margin-top: 0px;
}

/*Testimonios texto*/
#testimonios-texto {
    background: #000F74;
    padding: 25px 10%;
    margin: 0px!important;
}

#testimonios-texto p.profesion{
    color:white;
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 0px;
}

#testimonios-texto p.lugar{
    color:white;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0px;
}

#testimonios-texto p.mensaje{
    color:white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 0px;
}


/*Footer*/

footer {
    background: #000F74;
    color: white;
    font-size: 0.8rem;
    padding: 50px 0 50px;
    transition: 0.5s all;
}

footer .logo-iconos {
    flex-direction: column;
    padding-left: 0px;
}

footer .logo-iconos .iconos-rrss-footer {
    border-top: 0px;
}

footer .logo-iconos .logo-footer{
   width:60%;
   margin: auto;
}

footer .logo-iconos .logo-footer li{
  display: flex;
  justify-content: center;
}


footer .logo-iconos .iconos-rrss-footer svg.icon-footer {
    width: 35px;
    margin: 0px 25px;
}


footer .fci-logo img{
  width: 200px;
}

/*Banners secciones internas*/
.wrapper{
}

#welcome-page{
    position: relative;
    top: -110px;
  }

#welcome-page h2 {
    background: #74D9F9;
    color:#000F74;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.4em;
    padding: 0px 30px;
}


/*El proyecto*/

.bg-que-es{
  background: url("../../assets/images/banners/textura-testimonios.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#que-es p{
  color: #000F74;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 50px;
}


#descripciones ul.uk-tab-left .uk-active a{
  color: #000F74;
  background: #74D9F9;
  font-weight: bold;
  border:0px;
  font-family: "Space Mono", monospace;
}

#descripciones ul.uk-tab-left a{
   color: white;
   background: #000F74;
   font-weight: bold;
   font-size: 1.5em;
   padding:15px 20px;
   margin-bottom: 10px;
   border:0px;
   text-transform: inherit;
   transition:0.5s all;
}

#descripciones ul.uk-tab-left a:hover{
  color: #000F74;
  background: #74D9F9;
  font-weight: bold;
  border:0px;
}

#descripciones .uk-tab-left::before {
    border-left: 0px!important;
}

#descripciones ul.uk-tab-left .uk-active a:after {
    content: url("../../assets/images/banners/flecha.png");
    position: absolute;
    right: -37px;
    width: 15px;
    height: auto;
    transition: 0.5s all;
}

#descripciones #component-tab-left li{
  background: #74D9F9;
}

#descripciones #component-tab-left li p{
  color: #000F74;
  padding:30px;
  font-weight: bold;
  font-size: 1.2em;
}

.bg-preguntas{
   background: url("../../assets/images/banners/bg-preguntas.png");
   background-position: top;
   background-repeat: no-repeat;
   background-size: 100%;
}

#preguntas{
   padding-top: 80px;
   padding-bottom: 80px;
}

#preguntas h3{
  color:#000F74;
  font-size: 1.8em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#preguntas a.uk-accordion-title{
   background: #74D9F9;
   color: #000F74;
   font-weight: 800;
   font-size: 1.2em;
   padding: 10px 20px;
}

.uk-accordion-title::before {
    content: "";
    width: 2em;
    height: 1em;
    margin-left: 10px;
    padding-top: 10px;
    float: right;
    background-image: url("../../assets/images/banners/flecha-preguntas.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.uk-open>.uk-accordion-title::before {
    background-image: url("../../assets/images/banners/flecha-preguntas-activa.png");
}

#preguntas .uk-accordion-content{
    margin-top:0px;
    background: #d2ddeb6b;
    padding: 20px 50px;
}

#preguntas .uk-accordion-content p{
  color: #000F74;
}

#preguntas ul li .uk-accordion-content a{
  color: #D500F9;
}

#preguntas ul li .uk-accordion-content a:hover{
  text-decoration: underline;
}


/*Como trabajamos*/
#como-trabajamos{
  margin-bottom: 60px;
}

#como-trabajamos h3{
  color:#000F74;
  font-size: 1.8em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#como-trabajamos h3 span{
  color:#D500F9;
}

#como-trabajamos .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url("../../assets/images/banners/textura-degradado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}

#como-trabajamos .box-invertido {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: url("../../assets/images/banners/textura-degradado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}

#como-trabajamos .img-box{
   width: 45%;
}

#como-trabajamos .img-box img {
    width: 100%;
}

#como-trabajamos .iconos{
    width: 10%;
}

#como-trabajamos .iconos img{
   width: 80%;
   padding: 10px;
   margin: auto;
   display: flex;
}

#como-trabajamos .informacion{
   width: 45%;
   padding: 15px 0px;
}


#como-trabajamos .informacion h4{
  color:#000F74;
  font-size: 1.4em;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left:20px;
  padding-right:20px;
}

#como-trabajamos .informacion p{
  color:#000F74;
  padding-left:20px;
  padding-right:20px;
  margin-top: 5px;
  font-size: 1em;
  line-height: normal;
}



.bg-herramientas{
    background: url("../../assets/images/banners/herramientas-bg-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
}

#herramientas-cta .informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#herramientas-cta h3{
  background: #B1E957;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #000F74;
  font-size: 2.4em;
  padding: 4px 20px;
}



/*Nuestro programa*/

.bg-proceso-formacion{
  background: url("../../assets/images/banners/bg-preguntas.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
}

#proceso-formacion .paso{

}

#proceso-formacion .paso .titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#proceso-formacion .paso .titulo h3{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4em;
  color: #D500F9;
  margin-right: 10px;
  font-weight: bold;
}

#proceso-formacion .paso .titulo h4{
  margin-top: 0px;
  margin-bottom: 0px;
  background: #000F74;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.4em;
}

#proceso-formacion .paso .descripcion{
  background: #d2ddeb8f;
  margin-left: 44px;
  padding: 20px;
  margin-bottom: 30px;
}

#proceso-formacion .paso .descripcion p{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000F74;
  font-size: 1em;
}


/*Nuestras Herramientas*/

.fondo-herramientas{
  background: url("../../assets/images/banners/textura-testimonios.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}


#herramientas h3{
  color:#000F74;
  font-size: 1.8em;
  padding-bottom: 0px;
  margin-bottom: 60px;
  font-weight: bold;
}

#herramientas .herramienta-box{
  margin: 0px!important;
}

#herramientas .herramienta-box .descripcion{
  padding:20px;
  background: url("../../assets/images/banners/textura-degradado.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#herramientas .herramienta-box h3{
  margin-top: 0px!important;
  font-size: 1.2em;
  color:#000F74;
  font-weight: bold;
  margin-bottom: 15px;
}

#herramientas .herramienta-box a{
  background: #000F74;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 40px;
}

#herramientas .herramienta-box a:hover{
    background: #D500F9;
}

#herramientas .mensaje h3{
  margin-top: 40px;
}

#herramientas .mensaje h3 span{
  color: #D500F9;
}

 .bg-celeste{
  background: #74D9F9!important;
 }

 .bg-celeste h3{
  color: #000F74!important;
 }

 .bg-celeste span{
   color: #000F74!important;
 }

 .bg-celeste a{
  background: #000F74!important;
  color:white;
 }

 .bg-celeste a:hover{
  background: #D500F9!important;
  color:white;
 }


/*Red de innovadores*/


/*Contacto*/

#contacto{
   margin-top: 0px!important;
   margin-bottom: 100px!important;
}

#contacto h3{
  color:#000F74;
  font-size: 1.8em;
  padding-bottom: 0px;
  margin-bottom: 60px;
  font-weight: bold;
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}

#contacto p{
  color:#D500F9;
  font-size: 1.2em;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 40px!important;
  margin-top: 20px!important;
}

#contacto .uk-input, #contacto .uk-textarea{
    color: #000F74;
    border: 2px solid #d2ddeb7d;
    border-radius: 5px;
    background: #d2ddeb7d;
    font-weight: 500;
    font-size: 1em;
    padding: 0 10px;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
}

#contacto select {
  color: #000F74;
  border: 2px solid #d2ddeb7d;
  border-radius: 5px;
  background: #d2ddeb7d;
  font-weight: 500;
  font-size: 1em;
  transition: .2s ease-in-out;
  transition-property: color,background-color,border;
  padding: 10px!important;
  width: 100%;
}

#contacto .uk-input:focus, #contacto .uk-select:focus, #contacto .uk-textarea:focus, #contacto select:focus{
    border: 2px solid #B1E957;
    background: #b1e95738;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px!important;
}

#contacto .btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacto .btn button{
    background: #74D9F9;
    border: 0px;
    color: #000F74;
    font-weight: 800;
    padding: 5px 40px;
    border-radius: 100px;
    font-size: 1.2em;
    transition:0.5s all;
}

#contacto .btn button:hover{
   background: #D500F9;
}

#contacto input::placeholder{
      color: #000F74;
      font-weight: 400;
      font-family: "Space Mono", monospace!important;
}

#contacto textarea::placeholder{
      color: #000F74;
      font-weight: 400;
      font-family: "Space Mono", monospace!important;
}

.version-movil{
  display: none;
}

.version-desktop{
  display: block;
}

@media(max-width:1200px){

  #municipios-paises .content-map h3.title {
      margin-top: 40px;
  }

  #municipios-paises{
    height: 110vh;
  }

  #municipios-paises .content-map {
    width: 50%;
    position: relative;
    z-index: 1;
    margin-left: 40px;
}

  #municipios-paises .uk-position-center-left {
    transform: translateY(200%) translateX(-40px);
}

#municipios-paises .uk-position-center-right {
    transform: translateY(200%) translateX(40px);
}
}

@media(max-width:958px){

  #hero img.img-gif {
      width: 300px;
  }

  header .uk-navbar{
    margin-top: 0px!important;
    padding-top: 0px!important;
  }

  header .logo li {
    list-style: none;
}

header .uk-navbar-center{
  margin: 0px!important;
      width: 100%;
}

header .uk-navbar-container > .uk-container .uk-navbar-right {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.btn-flotante {
    position: fixed;
    right: -92px;
    bottom: 150px;
    top: auto;
    padding: 5px 10px;
}

}

@media (max-width:768px){

  #hero .content-hero {
      bottom: -20px;
  }

  #hero img.img-gif {
      width: 300px;
  }

  header .logo{
    margin-left: 10px;
  }

  header .uk-navbar-toggle {
    margin-right: 20px;
}

  header .uk-navbar{
    margin-top: 0px!important;
    padding-top: 0px!important;
  }

  header .logo li {
    list-style: none;
}

header .uk-navbar-center{
  margin: 0px!important;
      width: 100%;
}

header .uk-navbar-container > .uk-container .uk-navbar-right {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  .version-movil{
    display: block;
  }

  .version-desktop{
    display: none;
  }

  .uk-alert {
    flex-direction: column;
    padding: 10px 20px 10px 10px;
  }

  .uk-alert p {
    font-size: 1em;
    text-align: center;
    width: 90%;
    line-height: normal;
  }

  .uk-alert-close{
    right: 10px;
    zoom: 0.9;
  }

  .uk-alert .btn {
    margin-left: 0px;
    margin-top: 6px;
    font-size: 1em;
    padding: 3px 10px;
}

/*Portada home*/
#hero h1 {
    font-size: 1.8em;
}
#hero h2 {
    font-size: 1.8em;
}
#hero .uk-height-viewport {
    min-height: 35vh;
}
.btn-flotante {
    position: fixed;
    right: -80px;
    bottom: 150px;
    top: auto;
    padding: 5px 10px;
}
.btn-flotante a {
    font-size: 1em;
}
#desafios h3 {
    font-size: 1.4em;
}
#desafios h3.numero {
    font-size: 4em;
}
#cta-abre h3 {
    font-size: 1.2em;
}
.btn-abre {
    font-size: 1.2em;
}
#ofrecemos h3 {
    font-size: 1.4em;
}
#ofrecemos p.sub-titulo {
    font-size: 1em;
}
#ofrecemos img {
    width: 70px;
}
#ofrecemos p{
    padding: 0px 25px;
}
#ofrecemos a.btn {
    font-size: 1.2em;
}
#texto-destacado-blue h2 {
   font-size: 1.2em;
}

#municipios-paises {
    height: auto;
    padding-bottom: 50px;
}

#municipios-paises .content-map {
    width: 100%;
    margin-left: 0px;
}

#municipios-paises .content-map h3.title {
    font-size: 1.4em;
    margin-top: 50px;
}

#municipios-paises .slide-map {
    height: auto;
}

#municipios-paises .map {
    display: none;
}

#texto-destacado-celeste h2 {
    font-size: 1.2em;
    margin-bottom: 0px!important;
}
#testimonios h3 {
    font-size: 1.4em;
}
#testimonios p.sub-titulo {
    font-size: 1em;
}
#testimonios-texto {
    margin-bottom: 40px!important;
}

#org-project .uk-slider-items {
    margin-bottom: 0px !important;
}

.footer-bottom p {
    font-size: 10px!important;
}
.footer-bottom i{
    margin-right: 10px;
}
footer {
    padding: 20px 0 20px;
}
footer .logo-footer-fci svg {
    width: 100px;
}

/*Portadas secciones internas*/

#welcome-page.uk-height-viewport {
    min-height: 35vh;
}

#welcome-page h2 {
    font-size: 1.8em;
    padding: 0px 15px;
}

#que-es p {
    font-size: 1.2em;
    margin-bottom: 50px;
    line-height: normal;
    padding: 0 8%;
}

#descripciones .descripcion{
  padding: 20px;
}

#descripciones ul.uk-tab .uk-active a{
  color: #000F74;
  background: #74D9F9;
  font-weight: bold;
  border:0px;
  font-family: "Space Mono", monospace;
}

#descripciones ul.uk-tab a{
   color: white;
   background: #000F74;
   font-weight: bold;
   font-size: 1.2em;
   padding: 5px 10px;
   margin-bottom: 10px;
   border:0px;
   text-transform: inherit;
   transition:0.5s all;
}

#descripciones ul.uk-tab a:hover{
  color: #000F74;
  background: #74D9F9;
  font-weight: bold;
  border:0px;
}

#descripciones .uk-tab::before {
    border-left: 0px!important;
}

#descripciones ul.uk-tab{
    display: flex;
    flex-direction: column;
}

#descripciones  li p{
  color: #000F74;
  padding:30px;
  font-weight: bold;
  font-size: 1.2em;
}

#descripciones .uk-tab::before {
    content: "";
    border-bottom: 0px;
}

#descripciones #component-tab-left li p {
    padding: 20px;
    font-size: 1em;
}

#preguntas h3 {
    font-size: 1.4em;
}

#preguntas a.uk-accordion-title {
    font-size: 1em;
  }

  #preguntas .uk-accordion-content p {
      font-size: 0.95em;
      line-height: normal;
  }

  #preguntas .uk-accordion {
    padding: 0px 20px;
}

#como-trabajamos h3 {
    font-size: 1.4em;
}

#como-trabajamos .box, #como-trabajamos .box-invertido{
  margin: 0px 20px 20px 20px;
}

#como-trabajamos .img-box {
    width: 100%;
}

#como-trabajamos .iconos {
    width: 20%;
}

#como-trabajamos .iconos img {
    width: 90%;
    padding: 10px;
}
#como-trabajamos .informacion {
    width: 80%;
    padding: 15px 0px;
}

#como-trabajamos .informacion h4{
  padding-left:20px;
  padding-right:20px;
}

#como-trabajamos .informacion p{
  padding-left:20px;
  padding-right:20px;
  margin-top: 5px;
  font-size: 1em;
  line-height: normal;
}

#como-trabajamos .box-invertido {
    flex-direction: row;
}

#herramientas-cta h3 {
    font-size: 1.4em;
    padding: 4px 10px;
}

.bg-herramientas {
    padding: 50px 0px;
}

.paso {
    padding: 0px 20px;
}

#proceso-formacion .paso .titulo h3 {
    font-size: 3em;
}
#proceso-formacion .paso .titulo h4 {
    font-size: 1.2em;
}
#proceso-formacion .paso .descripcion {
    margin-left: 34px;
    padding: 15px;
    margin-right: 10px;
}

#herramientas h3 {
    font-size: 1.4em;
    margin-bottom: 40px;
}

#herramientas .herramienta-box {
      margin: 0px 30px 30px 30px !important;
}

#contacto h3 {
    font-size: 1.4em;
    margin-bottom: 40px;
}
#contacto p{
  font-size: 1em;
}

#contacto form {
    padding: 0px 30px;
}

#contacto .btn button {
    padding: 2px 20px;
    font-size: 1.2em;
}

}

@media (max-width:600px){

  #hero img.img-gif {
      width:280px;
  }
}

@media (max-width:400px){

  #hero img.img-gif {
      width:260px;
  }
}



/*AbreChile*/
.bg-preguntas-abrechile {
    background: url('')!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.que-es-abrechile .que-es-descripcion{
  font-size: 1.6em!important;
  margin-bottom: 0px!important;
}

.que-es-abrechile .que-es-descripcion span{
  color:#D500F9;
}

.que-es-abrechile .que-es-descripcion-2{
  font-size: 1.6em!important;
  margin-bottom: 30px!important;
  margin-top: 0px;
}

.que-es-abrechile .que-es-descripcion-2 span{
  font-size: 1.4em!important;
}

.que-es-abrechile .que-es-descripcion-3{
  font-size: 1.6em!important;
  margin-bottom: 0px!important;
  margin-top:30px;
}

.que-es-abrechile .que-es-descripcion-3 span{
  font-size: 1.4em!important;
}

.que-es-abrechile .que-es-descripcion-4{
  font-size: 1.6em!important;
  margin-bottom: 0px!important;
  margin-top: 0px;
}

.que-es-abrechile .que-es-descripcion-4 span{
  color:#D500F9;
}

.que-es-abrechile .btn-inscripcion {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.que-es-abrechile .btn-inscripcion a{
  font-size: 1.5em;
  padding: 5px 25px;
  background-color: #D500F9;
  color: white;
  margin-top: 20px;
  font-weight: 800;
  border-radius: 50px;
}

.que-es-abrechile .btn-inscripcion a:hover{
  background-color: #74D9F9;
  color: #000F74;
}


.contacto-correo p{
  margin-bottom: 0px!important;
  font-size: 1.6em!important;
  margin-top: 0px;
}

.contacto-correo .que-es-descripcion{
  color:#D500F9!important;
}

@media(max-width:768px){

  .que-es-abrechile .que-es-descripcion-2 span{
    font-size: 1em!important;
  }

  .que-es-abrechile .que-es-descripcion-3 span{
    font-size: 1em!important;
  }

}


/*Portada 2.0*/

#hero .content-hero {
    position: relative;
    bottom: -30px;
}

#hero .content-hero img{
  width: 80%;
}

#hero .content-hero .btn-important{
  font-size: 2em;
  padding: 5px 25px;
  background-color: #D500F9;
  color: white;
  margin-top: 20px;
  font-weight: 800;
  border-radius: 50px;
}

#hero .content-hero .btn-important:hover{
  background-color: #B1E957;
  color: #000F74;
}


@media(max-width:768px){

  #hero .content-hero .btn-important{
    font-size: 1.5em;
  }
}


.proyecto-destacado{
  background: #74D9F9;
}

.proyecto-destacado{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 10%;
}

.proyecto-destacado h3{
  background: #D500F9;
  font-size: 1.4em;
  margin-bottom: 0px!important;
  margin-top: 0px;
  padding: 4px 6px;
  color:white;
}

.proyecto-destacado p.sub-titulo{
  margin-bottom: 0px!important;
  margin-top: 0px;
  color:#000F74;
  font-weight: 700;
  font-size: 1.8em;
}

.proyecto-destacado p.sub-titulo-2{
  margin-bottom: 0px!important;
  margin-top: 0px;
  color:#000F74;
  font-weight: 700;
  font-size: 1.4em;
}


@media(max-width:768px){

  .proyecto-destacado h3{
    font-size: 1em;
  }

  .proyecto-destacado p.sub-titulo{
    font-size: 1.2em;
  }

  .proyecto-destacado p.sub-titulo-2{
    font-size: 1em;
  }

}

#welcome-page h4 {
    margin-bottom: 10px!important;
}



/*Toolkit*/

.toolkit-banner h4{
  background: #D500F9;
  padding: 5px 10px;
}

.toolkit-banner p{
  color:white;
  font-size: 1.4em;
  font-weight: 700;
}


.sobre-toolkit{
  padding: 0px 0px;
}

.sobre-toolkit h3{
  color: #000F74;
  font-size: 1.8em;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
.sobre-toolkit h3 span{
  color: #D500F9;
}

.sobre-toolkit p{
margin-top: 0px;
margin-bottom: 10px;
color: #000F74;
font-size: 1.2em;
text-align: center;
}


.a-quien-esta-dirigido h3{
  color: #000F74;
  font-size: 1.8em;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.a-quien-esta-dirigido h3 span{
  color: #D500F9;
}

.a-quien-esta-dirigido .opcion-navegacion{
  width: 25%;
}


.a-quien-esta-dirigido .uk-width-expand\@m.opcion-descripcion {
    width: 75%;
    padding-left: 100px;
}


.a-quien-esta-dirigido .item-toolkit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.a-quien-esta-dirigido .item-toolkit h4{
  text-align: center;
  color: #000F74;
  font-size: 1.3em;
}


#que-encontrare h3{
  color: #000F74;
  font-size: 1.8em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#que-encontrare  h4{
  color: #D500F9;
  font-size: 1.5em;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}



#que-encontrare .item-toolkit{
   background: #74D9F9;
}

#que-encontrare .item-toolkit.bg-1{
   background: #74d9f940;
}

#que-encontrare .item-toolkit.bg-1 h4 {
    text-align: center;
    background: #74D9F9;
    color:#000F74;
    padding-bottom: 0px;
}


#que-encontrare .item-toolkit.bg-2{
   background: #b1e95721;
   margin-top: 40px;
}

#que-encontrare .item-toolkit.bg-2 h4 {
    text-align: center;
    background: #B1E957;
    color:#000F74;
    padding-bottom: 0px;
}

#que-encontrare .item-toolkit.bg-3{
   background: #d500f91a;
}

#que-encontrare .item-toolkit.bg-3 h4 {
    text-align: center;
    background: #D500F9;
    color:white;
    padding-bottom: 0px;
}

#que-encontrare .item-toolkit p{
    color:#000F74;
    font-size: 1em;
    padding: 10px;
}

.inscribete-toolkit{
  padding-top: 50px!important;
}

.inscribete-toolkit h3{
  color: #D500F9!important;
  font-size: 1.8em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.inscribete-toolkit h4{
  color:#000F74;
  font-size: 1.1em;
  padding: 10px;
  font-weight: 600;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.inscribete-toolkit a.btn {
    background: #000F74;
    color: white;
    border-radius: 20px;
    padding: 5px 25px;
    margin-left: 0px;
    margin-top: 0px;
    font-weight: 800;
    font-size: 1.4em;
}

.inscribete-toolkit  a.btn:hover {
    background: #D500F9;
}


.inscribete-toolkit  .margin-none {
    margin-top: 10px!important;
}


.anuncio .items{
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;
}

.anuncio h3{
  background: #B1E957;
  margin: 0px;
  color:#000F74;
  font-size: 1.4em;
  position: relative;
  bottom: -14px;
  padding: 10px;
}

.anuncio .box{
   background: #D2DDEB;
   padding: 20px;
}

.anuncio .box p{
  color:#000F74;
  font-size: 1.2em!important;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}

.anuncio .box p a{
   color: #D500F9;
}


.anuncio .box p a:hover{
   text-decoration: underline;
}


@media(max-width:768px){
  #que-encontrare .item-toolkit.bg-2{
     margin-top: 0px;
  }

  .toolkit-banner p {
    font-size: 1em;
    margin-bottom: 40px!important;
}


.toolkit-banner h4 {
    margin-top: 50px;
}

.inscribete-toolkit#contacto{
  margin-bottom: 50px!important;
}
}



/*Abre Alcaldias 2024*/



/*Header*/
header .logo {
margin:0 30px;
}

header .logo img{
width: 290px;
}

#hero .uk-slideshow-items{
    min-height: 101vh!important;
}

#hero .uk-slideshow-items img{
  width: 800px;
}

#hero .uk-slideshow-items p{
  font-size: 1.5em;
  font-family: "Space Mono", monospace !important;
  font-weight: 700;
}


#hero .uk-dotnav {
    position: absolute!important;
    bottom: 10px!important;
    width: 100%!important;
}


#hero .uk-dotnav>.uk-active>* {
    background-color: white;
    border-color: transparent;
}

#hero .uk-dotnav>*>* {
    border: 1px solid white;
}


#cta-abre h3 {
    color: white;
    font-size: 2em!important;
}

#cta-abre h3 span {
    color: #B1E957;
    font-size: auto!important;
}

#cta-abre {
  background: url("../../assets/images/bg-cta.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 130px 0px!important;
}

#publicaciones{
  margin-top: 100px;
  margin-bottom: 100px;
}

#publicaciones h3{
  color: #000F74;
    font-size: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#publicaciones img{
  width: 100%;
}


.logo-premio{
  width: 400px!important;
}

#hero {
    top: -130px!important;
}

#municipios-paises .map img {
    bottom: 30px;
}


#descripciones{
  margin-bottom: 100px;
}


.latam-abre-mapa img.img-mapa {
    width: 400px;
}

.boton-abre-alcaldias {
    background: #D500F9;
    border: 0px;
    color: #000F74;
    font-weight: 800;
    padding: 5px 20px;
    border-radius: 100px;
    font-size: 1.8em;
}

.boton-abre-alcaldias:hover {
    background: #B1E957;
    color: #000F74!important;
}


.centrar-informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.titulo-democraciakit {
    font-size: 5em !important;
    padding: 0px 30px !important;
    margin-top: 70px !important;
}

.bg-que-es {
    background: transparent!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.seccion-abrelatam{
  margin-top: 40px;
  margin-bottom: 0px;
  height: auto!important;
}

.seccion-abrelatam .content-map{
  width: 100%!important;
}

.seccion-abrelatam .content-map h3{
  text-align: center;
  color:#D500F9!important;
  margin-top: 0px!important;
}

.seccion-abrelatam .mapa-abre-latam{
    width: 100%!important;
    display: flex;
    margin-top: 30px;
}

.seccion-abrelatam .mapa-abre-latam img{
    width: 50%!important;
    margin: auto;
}

.descripcion-preguntas-frecuentes{
    text-align: center;
    color: #000F74;
}


#herramientas .herramienta-box {
    margin: 0px !important;
    margin-bottom: 20px!important;
}

#herramientas .herramienta-box .descripcion {
    padding: 20px;
    min-height: auto!important;
}


@media(max-width:1274px){
  header .uk-navbar-nav a {
    font-size: 0.9em !important;
    padding: 5px;
}
header ul.uk-navbar-nav li {
    padding: 0px 8px;
}

header .logo img {
    width: 230px;
}

header .navbar-fci{
  font-size: 0.9em!important;
}

}

@media(max-width:600px){
#hero .uk-slideshow-items img {
    width: 80%;
}
h2.titulo-democraciakit {
    font-size: 3em !important;
    padding: 0px 15px !important;
}
#hero .uk-slideshow-items p {
    font-size: 1.2em;
}
.logo-premio {
    width: 70% !important;
}
#herramientas .herramienta-box{
  margin-left: 20px!important;
  margin-right: 20px!important;
}
}


/*Yo abro mi alcaldia*/

.yoabromialcaldia{
  font-size: 2.4em!important;
  background: #D500F9;
  margin-top: 0px;
  padding: 0px 20px;
}


.compromisos-chile-title h1{
   color: #D500F9;
   font-size: 2em;
   text-align: center;
}

.compromisos-chile-title p{
  color: #000F74;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px!important;
}

.bg-gris-yoabromialcaldia{
   background: #D2DDEB;
   padding: 60px 0px;
}

.bg-gris-yoabromialcaldia div{
  margin-bottom: 0px!important;
}

.bg-gris-yoabromialcaldia h2{
  color: #D500F9;
  font-size: 2em;
  text-align: center;
  padding-left: 0px;
}

.bg-gris-yoabromialcaldia p{
  color: #000F74;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px!important;
  padding: 0px!important;
}

.bg-gris-yoabromialcaldia a{
   background:#000F74!important;
   color: white!important;
   margin-top: 20px!important;
}

.bg-gris-yoabromialcaldia a:hover{
   background:#D500F9!important;
   color: white!important;
}

.comparte-rrss-yoabromialcaldia{
  padding: 60px 0px;
  margin: auto;
}

.comparte-rrss-yoabromialcaldia h3{
   background: #B1E957;
   font-size: 1.4em;
   color: #000F74;
   margin-top: 10px!important;
   padding: 0px!important;
   text-align: center;
}

.comparte-rrss-yoabromialcaldia p{
  color: #000F74;
  text-align: center;
  font-size: 1.2em;
  padding-left: 0px;
}

.mensaje-destacado-yoabromialcaldia{
  background: #74D9F9;
  padding: 40px 0px;
}

.mensaje-destacado-yoabromialcaldia h2{
  color: #000F74;
  font-size: 1.5em;
  text-align: center;
  padding-left: 0px;
}

.mensaje-destacado-yoabromialcaldia h2 span{
  font-size: 2em;
}

.alinear-yoabromialcaldia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media(max-width:900px){
  .bg-gris-yoabromialcaldia{
     padding: 60px 20px;
  }
  .comparte-rrss-yoabromialcaldia{
    padding: 60px 20px;
  }
  .mensaje-destacado-yoabromialcaldia{
    padding: 40px 20px;
  }
}

@media(max-width:500px){
  header .logo {
    margin: 0 20px 0 0;
    zoom:0.9;
}
.mensaje-destacado-yoabromialcaldia h2{
  font-size: 1.2em;
}

.mensaje-destacado-yoabromialcaldia h2 span{
  font-size: 1.5em;
}


}
