<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body cls-page="uk-modal-page">


    {%- include header.html -%}


    <header uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 300">
        <nav class="uk-navbar-container animated fadeIn">
            <div class="uk-container nav-width">
                <div uk-navbar>
                    <div class="uk-navbar-center">
                    <div class="uk-visible@m">
                        <ul class="uk-navbar-nav">
                          <li><a href="{{ site.url }}">Home</a></li>
                          <li><a href="{{ site.baseurl_root }}/quienes-somos" class="active">¿Quiénes somos?</a>
                          </li>
                          <li><a href="{{ site.baseurl_root }}/areas" class="active">Áreas</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="{{ site.baseurl_root }}/abrealcaldias-latam">LATAM</a></li>
                                    <li><a href="{{ site.baseurl_root }}/abrealcaldias-chile">Chile</a></li>
                                    <li><a href="{{ site.baseurl_root }}/compromisos-chile">Compromisos Chile</a></li>
                                </ul>
                            </div>
                          </li>

                          <div class="logo">
                          <li>
                          <a href="{{ site.url }}" class="logo-navbar">
                          <img src="/assets/images/logo-abre.png" alt="Logo Abre Alcaldías" class="logo-img">
                        </a>
                        </li>
                        <li class="navbar-fci"><a href="https://ciudadaniai.org/" target="_blank">{% t navbar.fci %}</a></li>
                        </div>

                        <li><a href="{{ site.baseurl_root }}/metodo">Método</a></li>
                        <li><a href="{{ site.baseurl_root }}/publicaciones">Publicaciones</a></li>
                        <li><a href="{{ site.baseurl_root }}/contacto">Contacto</a></li>
                      <!--  <li><a href="{{ site.baseurl_root }}/contacto">{% t navbar.item_4 %}</a></li>-->
                        </ul>
                    </div>

                    <!-- Movil -->
                      <div class="uk-hidden@m uk-navbar-right">


                        <div class="logo">
                        <li>
                        <a href="{{ site.url }}" class="logo-navbar">
                        <img src="/assets/images/logo-abre.png" alt="img" class="logo-img">
                      </a>
                      </li>
                      <li class="navbar-fci"><a href="https://ciudadaniai.org/" target="_blank">{% t navbar.fci %}</a></li>
                      </div>
                          <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
                          <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
                              <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">
                                  <button class="uk-offcanvas-close" type="button" uk-close></button>
                                  <ul class="uk-list">
                                    <li><a href="{{ site.url }}" class="active">Home</a></li>
                                    <li><a href="{{ site.baseurl_root }}/quienes-somos">¿Quiénes somos?</a></li>
                                    <li><a href="{{ site.baseurl_root }}/abrealcaldias-chile">AbreAlcaldías Chile</a></li>
                                    <li><a href="{{ site.baseurl_root }}/abrealcaldias-latam">AbreAlcaldías Latam</a></li>
                                    <li><a href="{{ site.baseurl_root }}/compromisos-chile">Compromisos Chile</a></li>
                                    <li><a href="{{ site.baseurl_root }}/areas">Áreas</a></li>
                                    <li><a href="{{ site.baseurl_root }}/metodo">Método</a></li>
                                    <li><a href="{{ site.baseurl_root }}/publicaciones">Publicaciones</a></li>
                                    <li><a href="{{ site.baseurl_root }}/contacto">Contacto</a></li>
                                  </ul>

                              </div>
                          </div>
                      </div>



                </div>
            </div>
        </nav>
    </header>

    <main aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
