<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body cls-page="uk-modal-page">


    {%- include header.html -%}


    <header uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 300">
        <nav class="uk-navbar-container animated fadeIn">
            <div class="uk-container nav-width">
                <div uk-navbar>
                    <div class="uk-navbar-center">
                    <div class="uk-visible@m">
                        <ul class="uk-navbar-nav">
                            <li><a href="{{ site.url }}">{% t navbar.item_1 %}</a></li>
                            <li><a href="{{ site.baseurl_root }}/el-proyecto" class="active">{% t navbar.item_2 %}</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{ site.baseurl_root }}/abrealcaldias-chile">AbreAlcaldías Chile</a></li>
                                    </ul>
                                </div>
                            </li>

                            <div class="logo">
                            <li>
                            <a href="{{ site.url }}" class="logo-navbar">
                            <svg width="254" height="28" viewBox="0 0 254 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.3097 20.1765H5.16409L4.14328 24.5882H0L5.01397 4H12.4599L17.4738 24.5882H13.3306L12.3097 20.1765ZM6.00476 16.4706H11.4391L9.00713 5.94118H8.46671L6.00476 16.4706Z" fill="white"/>
                            <path d="M23.4277 24.5882H19.6447V4H23.4277V12.1176H23.9681C24.3684 11.3137 24.9489 10.6961 25.7095 10.2647C26.4701 9.81372 27.4409 9.58823 28.6218 9.58823C29.5025 9.58823 30.3332 9.7549 31.1138 10.0882C31.9144 10.4216 32.605 10.9118 33.1854 11.5588C33.7859 12.1863 34.2563 12.9608 34.5965 13.8824C34.9568 14.8039 35.137 15.8529 35.137 17.0294V17.5588C35.137 18.7549 34.9668 19.8137 34.6266 20.7353C34.2863 21.6569 33.8259 22.4412 33.2455 23.0882C32.665 23.7157 31.9745 24.1961 31.1738 24.5294C30.3932 24.8431 29.5425 25 28.6218 25C27.9413 25 27.3508 24.9314 26.8504 24.7941C26.35 24.6569 25.9097 24.4706 25.5294 24.2353C25.1691 24 24.8588 23.7353 24.5986 23.4412C24.3584 23.1275 24.1483 22.8039 23.9681 22.4706H23.4277V24.5882ZM27.3908 21.4706C28.5718 21.4706 29.5225 21.1176 30.2431 20.4118C30.9837 19.6863 31.354 18.7059 31.354 17.4706V17.1176C31.354 15.8824 30.9837 14.9118 30.2431 14.2059C29.5225 13.4804 28.5718 13.1176 27.3908 13.1176C26.2099 13.1176 25.2491 13.4902 24.5086 14.2353C23.788 14.9608 23.4277 15.9216 23.4277 17.1176V17.4706C23.4277 18.6667 23.788 19.6373 24.5086 20.3824C25.2491 21.1078 26.2099 21.4706 27.3908 21.4706Z" fill="white"/>
                            <path d="M37.9383 10H44.2433V12.1176H44.7837C45.064 11.3137 45.5343 10.6961 46.1949 10.2647C46.8754 9.81372 47.686 9.58823 48.6268 9.58823C50.108 9.58823 51.2989 10.049 52.1996 10.9706C53.1003 11.8725 53.5507 13.2549 53.5507 15.1176V15.7647L49.6476 16.1176V15.7059C49.6476 14.902 49.4374 14.2647 49.0171 13.7941C48.5968 13.3039 47.9663 13.0588 47.1256 13.0588C46.2849 13.0588 45.6244 13.3431 45.144 13.9118C44.6637 14.4804 44.4235 15.2941 44.4235 16.3529V21.0588H47.8462V24.5882H37.578V21.0588H40.6405V13.5294H37.9383V10Z" fill="white"/>
                            <path d="M60.3752 18.5C60.3953 18.9314 60.4953 19.3333 60.6755 19.7059C60.8756 20.0588 61.1358 20.3725 61.4561 20.6471C61.7964 20.902 62.1767 21.1078 62.597 21.2647C63.0373 21.402 63.4977 21.4706 63.9781 21.4706C64.9188 21.4706 65.6394 21.3137 66.1398 21C66.6402 20.6667 67.0005 20.2745 67.2207 19.8235L70.4632 21.5882C70.2831 21.9608 70.0329 22.3529 69.7126 22.7647C69.3924 23.1569 68.972 23.5196 68.4516 23.8529C67.9512 24.1863 67.3307 24.4608 66.5902 24.6765C65.8696 24.8922 65.0189 25 64.0381 25C62.9173 25 61.8964 24.8235 60.9757 24.4706C60.055 24.1176 59.2543 23.6078 58.5738 22.9412C57.9133 22.2745 57.3929 21.4608 57.0126 20.5C56.6523 19.5392 56.4721 18.451 56.4721 17.2353V17.0588C56.4721 15.9412 56.6623 14.9216 57.0426 14C57.4429 13.0784 57.9833 12.2941 58.6639 11.6471C59.3444 11 60.135 10.5 61.0358 10.1471C61.9565 9.77451 62.9373 9.58823 63.9781 9.58823C65.2591 9.58823 66.36 9.81372 67.2807 10.2647C68.2014 10.6961 68.962 11.2549 69.5625 11.9412C70.163 12.6078 70.6033 13.3529 70.8836 14.1765C71.1638 14.9804 71.3039 15.7647 71.3039 16.5294V18.5H60.3752ZM63.9481 12.9412C62.9873 12.9412 62.2067 13.1863 61.6062 13.6765C61.0057 14.1471 60.6154 14.6961 60.4353 15.3235H67.4609C67.3408 14.6373 66.9605 14.0686 66.32 13.6176C65.6995 13.1667 64.9088 12.9412 63.9481 12.9412Z" fill="white"/>
                            <path d="M86.7753 19.4706H77.7682L76.2369 24.5882H73.5348L79.8998 4H84.6436L91.0086 24.5882H88.3065L86.7753 19.4706ZM82.0916 5.05882L78.4587 17.1765H86.0847L82.4519 5.05882H82.0916Z" fill="white"/>
                            <path d="M94.0802 22.4706H99.4845V6.11765H94.2604V4H101.826V22.4706H107.231V24.5882H94.0802V22.4706Z" fill="white"/>
                            <path d="M126.395 19.4118C126.235 20.2157 125.955 20.9608 125.554 21.6471C125.174 22.3333 124.684 22.9314 124.083 23.4412C123.483 23.9314 122.782 24.3137 121.981 24.5882C121.181 24.8627 120.29 25 119.309 25C118.269 25 117.278 24.8333 116.337 24.5C115.416 24.1667 114.606 23.6863 113.905 23.0588C113.205 22.4118 112.644 21.6275 112.224 20.7059C111.823 19.7843 111.623 18.7255 111.623 17.5294V17.1765C111.623 16 111.823 14.9412 112.224 14C112.644 13.0588 113.205 12.2647 113.905 11.6176C114.606 10.9706 115.416 10.4706 116.337 10.1176C117.278 9.76471 118.269 9.58823 119.309 9.58823C120.25 9.58823 121.121 9.72549 121.921 10C122.722 10.2745 123.423 10.6667 124.023 11.1765C124.644 11.6667 125.144 12.2549 125.524 12.9412C125.925 13.6275 126.195 14.3725 126.335 15.1765L123.993 15.7059C123.933 15.1961 123.783 14.7059 123.543 14.2353C123.323 13.7451 123.012 13.3235 122.612 12.9706C122.232 12.598 121.761 12.3039 121.201 12.0882C120.64 11.8725 119.99 11.7647 119.249 11.7647C118.529 11.7647 117.848 11.902 117.208 12.1765C116.587 12.4314 116.037 12.8039 115.556 13.2941C115.076 13.7647 114.696 14.3333 114.415 15C114.155 15.6667 114.025 16.3922 114.025 17.1765V17.5294C114.025 18.3529 114.155 19.098 114.415 19.7647C114.696 20.4118 115.076 20.9608 115.556 21.4118C116.037 21.8627 116.597 22.2157 117.238 22.4706C117.878 22.7059 118.569 22.8235 119.309 22.8235C120.05 22.8235 120.69 22.7157 121.231 22.5C121.791 22.2647 122.262 21.9706 122.642 21.6176C123.042 21.2451 123.353 20.8235 123.573 20.3529C123.813 19.8824 123.973 19.3922 124.053 18.8824L126.395 19.4118Z" fill="white"/>
                            <path d="M141.656 22.1176H141.296C140.816 23.098 140.145 23.8235 139.284 24.2941C138.444 24.7647 137.553 25 136.612 25C135.631 25 134.721 24.8431 133.88 24.5294C133.039 24.1961 132.299 23.7157 131.658 23.0882C131.038 22.4412 130.547 21.6569 130.187 20.7353C129.827 19.8137 129.647 18.7451 129.647 17.5294V17.0588C129.647 15.8627 129.827 14.8039 130.187 13.8824C130.547 12.9608 131.038 12.1863 131.658 11.5588C132.299 10.9118 133.039 10.4216 133.88 10.0882C134.721 9.7549 135.611 9.58823 136.552 9.58823C137.573 9.58823 138.494 9.81372 139.314 10.2647C140.155 10.6961 140.816 11.3725 141.296 12.2941H141.656V10H143.998V21.5882C143.998 22.1765 144.268 22.4706 144.809 22.4706H145.559V24.5882H143.968C143.287 24.5882 142.727 24.3725 142.287 23.9412C141.866 23.5098 141.656 22.9608 141.656 22.2941V22.1176ZM136.852 22.8235C137.553 22.8235 138.193 22.6961 138.774 22.4412C139.374 22.1863 139.885 21.8235 140.305 21.3529C140.725 20.8824 141.056 20.3235 141.296 19.6765C141.536 19.0098 141.656 18.2745 141.656 17.4706V17.1176C141.656 16.3333 141.536 15.6176 141.296 14.9706C141.056 14.3039 140.715 13.7353 140.275 13.2647C139.855 12.7941 139.344 12.4314 138.744 12.1765C138.163 11.902 137.533 11.7647 136.852 11.7647C136.152 11.7647 135.511 11.8922 134.931 12.1471C134.35 12.402 133.84 12.7647 133.4 13.2353C132.979 13.6863 132.649 14.2451 132.409 14.9118C132.169 15.5588 132.049 16.2745 132.049 17.0588V17.5294C132.049 19.1961 132.489 20.5 133.37 21.4412C134.27 22.3627 135.431 22.8235 136.852 22.8235Z" fill="white"/>
                            <path d="M149.231 22.4706H154.636V6.11765H149.411V4H156.977V22.4706H162.382V24.5882H149.231V22.4706Z" fill="white"/>
                            <path d="M179.144 22.3529H178.784C178.544 22.8039 178.233 23.1961 177.853 23.5294C177.493 23.8627 177.093 24.1373 176.652 24.3529C176.232 24.5686 175.781 24.7255 175.301 24.8235C174.821 24.9412 174.36 25 173.92 25C172.919 25 171.988 24.8333 171.128 24.5C170.267 24.1667 169.507 23.6863 168.846 23.0588C168.205 22.4314 167.695 21.6569 167.315 20.7353C166.954 19.7941 166.774 18.7255 166.774 17.5294V17.0588C166.774 15.8824 166.965 14.8333 167.345 13.9118C167.725 12.9706 168.236 12.1863 168.876 11.5588C169.517 10.9118 170.267 10.4216 171.128 10.0882C171.988 9.7549 172.899 9.58823 173.86 9.58823C174.881 9.58823 175.832 9.81372 176.712 10.2647C177.613 10.6961 178.303 11.3725 178.784 12.2941H179.144V4H181.486V24.5882H179.144V22.3529ZM174.16 22.8235C174.861 22.8235 175.511 22.6961 176.112 22.4412C176.712 22.1863 177.233 21.8235 177.673 21.3529C178.133 20.8824 178.494 20.3235 178.754 19.6765C179.014 19.0098 179.144 18.2745 179.144 17.4706V17.1176C179.144 16.3333 179.014 15.6176 178.754 14.9706C178.494 14.3039 178.133 13.7353 177.673 13.2647C177.233 12.7941 176.702 12.4314 176.082 12.1765C175.481 11.902 174.841 11.7647 174.16 11.7647C173.46 11.7647 172.799 11.8922 172.179 12.1471C171.578 12.402 171.048 12.7647 170.587 13.2353C170.147 13.7059 169.797 14.2647 169.537 14.9118C169.296 15.5588 169.176 16.2745 169.176 17.0588V17.5294C169.176 18.3529 169.296 19.0882 169.537 19.7353C169.797 20.3824 170.147 20.9412 170.587 21.4118C171.048 21.8627 171.578 22.2157 172.179 22.4706C172.779 22.7059 173.44 22.8235 174.16 22.8235Z" fill="white"/>
                            <path d="M186.359 22.4706H191.583V12.1176H186.899V10H193.925V22.4706H198.789V24.5882H186.359V22.4706ZM196.417 4.35294L193.895 7.82353H191.733L193.715 4.35294H196.417Z" fill="white"/>
                            <path d="M215.191 22.1176H214.831C214.35 23.098 213.68 23.8235 212.819 24.2941C211.978 24.7647 211.088 25 210.147 25C209.166 25 208.255 24.8431 207.415 24.5294C206.574 24.1961 205.834 23.7157 205.193 23.0882C204.573 22.4412 204.082 21.6569 203.722 20.7353C203.362 19.8137 203.181 18.7451 203.181 17.5294V17.0588C203.181 15.8627 203.362 14.8039 203.722 13.8824C204.082 12.9608 204.573 12.1863 205.193 11.5588C205.834 10.9118 206.574 10.4216 207.415 10.0882C208.255 9.7549 209.146 9.58823 210.087 9.58823C211.108 9.58823 212.028 9.81372 212.849 10.2647C213.69 10.6961 214.35 11.3725 214.831 12.2941H215.191V10H217.533V21.5882C217.533 22.1765 217.803 22.4706 218.343 22.4706H219.094V24.5882H217.503C216.822 24.5882 216.262 24.3725 215.821 23.9412C215.401 23.5098 215.191 22.9608 215.191 22.2941V22.1176ZM210.387 22.8235C211.088 22.8235 211.728 22.6961 212.309 22.4412C212.909 22.1863 213.42 21.8235 213.84 21.3529C214.26 20.8824 214.591 20.3235 214.831 19.6765C215.071 19.0098 215.191 18.2745 215.191 17.4706V17.1176C215.191 16.3333 215.071 15.6176 214.831 14.9706C214.591 14.3039 214.25 13.7353 213.81 13.2647C213.39 12.7941 212.879 12.4314 212.279 12.1765C211.698 11.902 211.068 11.7647 210.387 11.7647C209.687 11.7647 209.046 11.8922 208.466 12.1471C207.885 12.402 207.375 12.7647 206.934 13.2353C206.514 13.6863 206.184 14.2451 205.944 14.9118C205.703 15.5588 205.583 16.2745 205.583 17.0588V17.5294C205.583 19.1961 206.024 20.5 206.904 21.4412C207.805 22.3627 208.966 22.8235 210.387 22.8235Z" fill="white"/>
                            <path d="M225.859 13.7647C225.859 14.4706 226.159 15.0098 226.759 15.3824C227.38 15.7549 228.501 16 230.122 16.1176C231.863 16.2549 233.184 16.6667 234.085 17.3529C235.006 18.0196 235.466 19 235.466 20.2941V20.4706C235.466 21.1765 235.316 21.8137 235.016 22.3824C234.736 22.9314 234.335 23.402 233.815 23.7941C233.314 24.1863 232.694 24.4804 231.953 24.6765C231.233 24.8922 230.442 25 229.582 25C228.421 25 227.42 24.8529 226.579 24.5588C225.758 24.2451 225.068 23.8431 224.508 23.3529C223.967 22.8431 223.557 22.2745 223.277 21.6471C222.996 21 222.836 20.3529 222.796 19.7059L225.018 19.1765C225.118 20.2941 225.558 21.1961 226.339 21.8824C227.12 22.549 228.16 22.8824 229.461 22.8824C230.562 22.8824 231.443 22.6765 232.104 22.2647C232.784 21.8333 233.124 21.2353 233.124 20.4706C233.124 19.6471 232.794 19.0588 232.134 18.7059C231.473 18.3529 230.402 18.1275 228.921 18.0294C227.2 17.9118 225.879 17.5196 224.958 16.8529C224.037 16.1863 223.577 15.2157 223.577 13.9412V13.7647C223.577 13.0784 223.727 12.4804 224.027 11.9706C224.327 11.4412 224.728 11 225.228 10.6471C225.748 10.2941 226.329 10.0294 226.969 9.85294C227.61 9.67647 228.28 9.58823 228.981 9.58823C229.962 9.58823 230.822 9.72549 231.563 10C232.304 10.2549 232.924 10.598 233.425 11.0294C233.925 11.4412 234.305 11.9216 234.565 12.4706C234.846 13.0196 235.026 13.5686 235.106 14.1176L232.884 14.6471C232.784 13.7059 232.394 12.9706 231.713 12.4412C231.053 11.9118 230.182 11.6471 229.101 11.6471C228.681 11.6471 228.27 11.6961 227.87 11.7941C227.49 11.8725 227.15 12 226.849 12.1765C226.549 12.3529 226.309 12.5784 226.129 12.8529C225.949 13.1078 225.859 13.4118 225.859 13.7647Z" fill="white"/>
                            <path d="M241.45 17.3529V11.2353L254 7.82353V11.3529L243.792 14.0294V14.5588L254 17.2353V20.7647L241.45 17.3529Z" fill="white"/>
                            </svg>
                          </a>
                          </li>
                          <li class="navbar-fci"><a href="https://ciudadaniai.org/" target="_blank">{% t navbar.fci %}</a></li>
                          </div>

                            <li><a href="{{ site.baseurl_root }}/como-trabajamos">{% t navbar.item_3 %}</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{ site.baseurl_root }}/nuestro-programa">{% t navbar.item_4 %}</a></li>
                                        <li><a href="{{ site.baseurl_root }}/nuestras-herramientas">{% t navbar.item_5 %}</a></li>
                                        <li><a href="{{ site.baseurl_root }}/toolkit">Toolkit</a></li>
                                      <!--  <li><a href="{{ site.baseurl_root }}/red-de-innovadores">{% t navbar.item_6 %}</a></li>-->
                                    </ul>
                                </div>
                            </li>
                            <li><a href="{{ site.baseurl_root }}/contacto">{% t navbar.item_6 %}</a></li>
                        </ul>
                    </div>

                    <!-- Movil -->
                      <div class="uk-hidden@m uk-navbar-right">


                        <div class="logo">
                        <li>
                        <a href="{{ site.url }}" class="logo-navbar">
                        <svg width="254" height="28" viewBox="0 0 254 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.3097 20.1765H5.16409L4.14328 24.5882H0L5.01397 4H12.4599L17.4738 24.5882H13.3306L12.3097 20.1765ZM6.00476 16.4706H11.4391L9.00713 5.94118H8.46671L6.00476 16.4706Z" fill="white"/>
                        <path d="M23.4277 24.5882H19.6447V4H23.4277V12.1176H23.9681C24.3684 11.3137 24.9489 10.6961 25.7095 10.2647C26.4701 9.81372 27.4409 9.58823 28.6218 9.58823C29.5025 9.58823 30.3332 9.7549 31.1138 10.0882C31.9144 10.4216 32.605 10.9118 33.1854 11.5588C33.7859 12.1863 34.2563 12.9608 34.5965 13.8824C34.9568 14.8039 35.137 15.8529 35.137 17.0294V17.5588C35.137 18.7549 34.9668 19.8137 34.6266 20.7353C34.2863 21.6569 33.8259 22.4412 33.2455 23.0882C32.665 23.7157 31.9745 24.1961 31.1738 24.5294C30.3932 24.8431 29.5425 25 28.6218 25C27.9413 25 27.3508 24.9314 26.8504 24.7941C26.35 24.6569 25.9097 24.4706 25.5294 24.2353C25.1691 24 24.8588 23.7353 24.5986 23.4412C24.3584 23.1275 24.1483 22.8039 23.9681 22.4706H23.4277V24.5882ZM27.3908 21.4706C28.5718 21.4706 29.5225 21.1176 30.2431 20.4118C30.9837 19.6863 31.354 18.7059 31.354 17.4706V17.1176C31.354 15.8824 30.9837 14.9118 30.2431 14.2059C29.5225 13.4804 28.5718 13.1176 27.3908 13.1176C26.2099 13.1176 25.2491 13.4902 24.5086 14.2353C23.788 14.9608 23.4277 15.9216 23.4277 17.1176V17.4706C23.4277 18.6667 23.788 19.6373 24.5086 20.3824C25.2491 21.1078 26.2099 21.4706 27.3908 21.4706Z" fill="white"/>
                        <path d="M37.9383 10H44.2433V12.1176H44.7837C45.064 11.3137 45.5343 10.6961 46.1949 10.2647C46.8754 9.81372 47.686 9.58823 48.6268 9.58823C50.108 9.58823 51.2989 10.049 52.1996 10.9706C53.1003 11.8725 53.5507 13.2549 53.5507 15.1176V15.7647L49.6476 16.1176V15.7059C49.6476 14.902 49.4374 14.2647 49.0171 13.7941C48.5968 13.3039 47.9663 13.0588 47.1256 13.0588C46.2849 13.0588 45.6244 13.3431 45.144 13.9118C44.6637 14.4804 44.4235 15.2941 44.4235 16.3529V21.0588H47.8462V24.5882H37.578V21.0588H40.6405V13.5294H37.9383V10Z" fill="white"/>
                        <path d="M60.3752 18.5C60.3953 18.9314 60.4953 19.3333 60.6755 19.7059C60.8756 20.0588 61.1358 20.3725 61.4561 20.6471C61.7964 20.902 62.1767 21.1078 62.597 21.2647C63.0373 21.402 63.4977 21.4706 63.9781 21.4706C64.9188 21.4706 65.6394 21.3137 66.1398 21C66.6402 20.6667 67.0005 20.2745 67.2207 19.8235L70.4632 21.5882C70.2831 21.9608 70.0329 22.3529 69.7126 22.7647C69.3924 23.1569 68.972 23.5196 68.4516 23.8529C67.9512 24.1863 67.3307 24.4608 66.5902 24.6765C65.8696 24.8922 65.0189 25 64.0381 25C62.9173 25 61.8964 24.8235 60.9757 24.4706C60.055 24.1176 59.2543 23.6078 58.5738 22.9412C57.9133 22.2745 57.3929 21.4608 57.0126 20.5C56.6523 19.5392 56.4721 18.451 56.4721 17.2353V17.0588C56.4721 15.9412 56.6623 14.9216 57.0426 14C57.4429 13.0784 57.9833 12.2941 58.6639 11.6471C59.3444 11 60.135 10.5 61.0358 10.1471C61.9565 9.77451 62.9373 9.58823 63.9781 9.58823C65.2591 9.58823 66.36 9.81372 67.2807 10.2647C68.2014 10.6961 68.962 11.2549 69.5625 11.9412C70.163 12.6078 70.6033 13.3529 70.8836 14.1765C71.1638 14.9804 71.3039 15.7647 71.3039 16.5294V18.5H60.3752ZM63.9481 12.9412C62.9873 12.9412 62.2067 13.1863 61.6062 13.6765C61.0057 14.1471 60.6154 14.6961 60.4353 15.3235H67.4609C67.3408 14.6373 66.9605 14.0686 66.32 13.6176C65.6995 13.1667 64.9088 12.9412 63.9481 12.9412Z" fill="white"/>
                        <path d="M86.7753 19.4706H77.7682L76.2369 24.5882H73.5348L79.8998 4H84.6436L91.0086 24.5882H88.3065L86.7753 19.4706ZM82.0916 5.05882L78.4587 17.1765H86.0847L82.4519 5.05882H82.0916Z" fill="white"/>
                        <path d="M94.0802 22.4706H99.4845V6.11765H94.2604V4H101.826V22.4706H107.231V24.5882H94.0802V22.4706Z" fill="white"/>
                        <path d="M126.395 19.4118C126.235 20.2157 125.955 20.9608 125.554 21.6471C125.174 22.3333 124.684 22.9314 124.083 23.4412C123.483 23.9314 122.782 24.3137 121.981 24.5882C121.181 24.8627 120.29 25 119.309 25C118.269 25 117.278 24.8333 116.337 24.5C115.416 24.1667 114.606 23.6863 113.905 23.0588C113.205 22.4118 112.644 21.6275 112.224 20.7059C111.823 19.7843 111.623 18.7255 111.623 17.5294V17.1765C111.623 16 111.823 14.9412 112.224 14C112.644 13.0588 113.205 12.2647 113.905 11.6176C114.606 10.9706 115.416 10.4706 116.337 10.1176C117.278 9.76471 118.269 9.58823 119.309 9.58823C120.25 9.58823 121.121 9.72549 121.921 10C122.722 10.2745 123.423 10.6667 124.023 11.1765C124.644 11.6667 125.144 12.2549 125.524 12.9412C125.925 13.6275 126.195 14.3725 126.335 15.1765L123.993 15.7059C123.933 15.1961 123.783 14.7059 123.543 14.2353C123.323 13.7451 123.012 13.3235 122.612 12.9706C122.232 12.598 121.761 12.3039 121.201 12.0882C120.64 11.8725 119.99 11.7647 119.249 11.7647C118.529 11.7647 117.848 11.902 117.208 12.1765C116.587 12.4314 116.037 12.8039 115.556 13.2941C115.076 13.7647 114.696 14.3333 114.415 15C114.155 15.6667 114.025 16.3922 114.025 17.1765V17.5294C114.025 18.3529 114.155 19.098 114.415 19.7647C114.696 20.4118 115.076 20.9608 115.556 21.4118C116.037 21.8627 116.597 22.2157 117.238 22.4706C117.878 22.7059 118.569 22.8235 119.309 22.8235C120.05 22.8235 120.69 22.7157 121.231 22.5C121.791 22.2647 122.262 21.9706 122.642 21.6176C123.042 21.2451 123.353 20.8235 123.573 20.3529C123.813 19.8824 123.973 19.3922 124.053 18.8824L126.395 19.4118Z" fill="white"/>
                        <path d="M141.656 22.1176H141.296C140.816 23.098 140.145 23.8235 139.284 24.2941C138.444 24.7647 137.553 25 136.612 25C135.631 25 134.721 24.8431 133.88 24.5294C133.039 24.1961 132.299 23.7157 131.658 23.0882C131.038 22.4412 130.547 21.6569 130.187 20.7353C129.827 19.8137 129.647 18.7451 129.647 17.5294V17.0588C129.647 15.8627 129.827 14.8039 130.187 13.8824C130.547 12.9608 131.038 12.1863 131.658 11.5588C132.299 10.9118 133.039 10.4216 133.88 10.0882C134.721 9.7549 135.611 9.58823 136.552 9.58823C137.573 9.58823 138.494 9.81372 139.314 10.2647C140.155 10.6961 140.816 11.3725 141.296 12.2941H141.656V10H143.998V21.5882C143.998 22.1765 144.268 22.4706 144.809 22.4706H145.559V24.5882H143.968C143.287 24.5882 142.727 24.3725 142.287 23.9412C141.866 23.5098 141.656 22.9608 141.656 22.2941V22.1176ZM136.852 22.8235C137.553 22.8235 138.193 22.6961 138.774 22.4412C139.374 22.1863 139.885 21.8235 140.305 21.3529C140.725 20.8824 141.056 20.3235 141.296 19.6765C141.536 19.0098 141.656 18.2745 141.656 17.4706V17.1176C141.656 16.3333 141.536 15.6176 141.296 14.9706C141.056 14.3039 140.715 13.7353 140.275 13.2647C139.855 12.7941 139.344 12.4314 138.744 12.1765C138.163 11.902 137.533 11.7647 136.852 11.7647C136.152 11.7647 135.511 11.8922 134.931 12.1471C134.35 12.402 133.84 12.7647 133.4 13.2353C132.979 13.6863 132.649 14.2451 132.409 14.9118C132.169 15.5588 132.049 16.2745 132.049 17.0588V17.5294C132.049 19.1961 132.489 20.5 133.37 21.4412C134.27 22.3627 135.431 22.8235 136.852 22.8235Z" fill="white"/>
                        <path d="M149.231 22.4706H154.636V6.11765H149.411V4H156.977V22.4706H162.382V24.5882H149.231V22.4706Z" fill="white"/>
                        <path d="M179.144 22.3529H178.784C178.544 22.8039 178.233 23.1961 177.853 23.5294C177.493 23.8627 177.093 24.1373 176.652 24.3529C176.232 24.5686 175.781 24.7255 175.301 24.8235C174.821 24.9412 174.36 25 173.92 25C172.919 25 171.988 24.8333 171.128 24.5C170.267 24.1667 169.507 23.6863 168.846 23.0588C168.205 22.4314 167.695 21.6569 167.315 20.7353C166.954 19.7941 166.774 18.7255 166.774 17.5294V17.0588C166.774 15.8824 166.965 14.8333 167.345 13.9118C167.725 12.9706 168.236 12.1863 168.876 11.5588C169.517 10.9118 170.267 10.4216 171.128 10.0882C171.988 9.7549 172.899 9.58823 173.86 9.58823C174.881 9.58823 175.832 9.81372 176.712 10.2647C177.613 10.6961 178.303 11.3725 178.784 12.2941H179.144V4H181.486V24.5882H179.144V22.3529ZM174.16 22.8235C174.861 22.8235 175.511 22.6961 176.112 22.4412C176.712 22.1863 177.233 21.8235 177.673 21.3529C178.133 20.8824 178.494 20.3235 178.754 19.6765C179.014 19.0098 179.144 18.2745 179.144 17.4706V17.1176C179.144 16.3333 179.014 15.6176 178.754 14.9706C178.494 14.3039 178.133 13.7353 177.673 13.2647C177.233 12.7941 176.702 12.4314 176.082 12.1765C175.481 11.902 174.841 11.7647 174.16 11.7647C173.46 11.7647 172.799 11.8922 172.179 12.1471C171.578 12.402 171.048 12.7647 170.587 13.2353C170.147 13.7059 169.797 14.2647 169.537 14.9118C169.296 15.5588 169.176 16.2745 169.176 17.0588V17.5294C169.176 18.3529 169.296 19.0882 169.537 19.7353C169.797 20.3824 170.147 20.9412 170.587 21.4118C171.048 21.8627 171.578 22.2157 172.179 22.4706C172.779 22.7059 173.44 22.8235 174.16 22.8235Z" fill="white"/>
                        <path d="M186.359 22.4706H191.583V12.1176H186.899V10H193.925V22.4706H198.789V24.5882H186.359V22.4706ZM196.417 4.35294L193.895 7.82353H191.733L193.715 4.35294H196.417Z" fill="white"/>
                        <path d="M215.191 22.1176H214.831C214.35 23.098 213.68 23.8235 212.819 24.2941C211.978 24.7647 211.088 25 210.147 25C209.166 25 208.255 24.8431 207.415 24.5294C206.574 24.1961 205.834 23.7157 205.193 23.0882C204.573 22.4412 204.082 21.6569 203.722 20.7353C203.362 19.8137 203.181 18.7451 203.181 17.5294V17.0588C203.181 15.8627 203.362 14.8039 203.722 13.8824C204.082 12.9608 204.573 12.1863 205.193 11.5588C205.834 10.9118 206.574 10.4216 207.415 10.0882C208.255 9.7549 209.146 9.58823 210.087 9.58823C211.108 9.58823 212.028 9.81372 212.849 10.2647C213.69 10.6961 214.35 11.3725 214.831 12.2941H215.191V10H217.533V21.5882C217.533 22.1765 217.803 22.4706 218.343 22.4706H219.094V24.5882H217.503C216.822 24.5882 216.262 24.3725 215.821 23.9412C215.401 23.5098 215.191 22.9608 215.191 22.2941V22.1176ZM210.387 22.8235C211.088 22.8235 211.728 22.6961 212.309 22.4412C212.909 22.1863 213.42 21.8235 213.84 21.3529C214.26 20.8824 214.591 20.3235 214.831 19.6765C215.071 19.0098 215.191 18.2745 215.191 17.4706V17.1176C215.191 16.3333 215.071 15.6176 214.831 14.9706C214.591 14.3039 214.25 13.7353 213.81 13.2647C213.39 12.7941 212.879 12.4314 212.279 12.1765C211.698 11.902 211.068 11.7647 210.387 11.7647C209.687 11.7647 209.046 11.8922 208.466 12.1471C207.885 12.402 207.375 12.7647 206.934 13.2353C206.514 13.6863 206.184 14.2451 205.944 14.9118C205.703 15.5588 205.583 16.2745 205.583 17.0588V17.5294C205.583 19.1961 206.024 20.5 206.904 21.4412C207.805 22.3627 208.966 22.8235 210.387 22.8235Z" fill="white"/>
                        <path d="M225.859 13.7647C225.859 14.4706 226.159 15.0098 226.759 15.3824C227.38 15.7549 228.501 16 230.122 16.1176C231.863 16.2549 233.184 16.6667 234.085 17.3529C235.006 18.0196 235.466 19 235.466 20.2941V20.4706C235.466 21.1765 235.316 21.8137 235.016 22.3824C234.736 22.9314 234.335 23.402 233.815 23.7941C233.314 24.1863 232.694 24.4804 231.953 24.6765C231.233 24.8922 230.442 25 229.582 25C228.421 25 227.42 24.8529 226.579 24.5588C225.758 24.2451 225.068 23.8431 224.508 23.3529C223.967 22.8431 223.557 22.2745 223.277 21.6471C222.996 21 222.836 20.3529 222.796 19.7059L225.018 19.1765C225.118 20.2941 225.558 21.1961 226.339 21.8824C227.12 22.549 228.16 22.8824 229.461 22.8824C230.562 22.8824 231.443 22.6765 232.104 22.2647C232.784 21.8333 233.124 21.2353 233.124 20.4706C233.124 19.6471 232.794 19.0588 232.134 18.7059C231.473 18.3529 230.402 18.1275 228.921 18.0294C227.2 17.9118 225.879 17.5196 224.958 16.8529C224.037 16.1863 223.577 15.2157 223.577 13.9412V13.7647C223.577 13.0784 223.727 12.4804 224.027 11.9706C224.327 11.4412 224.728 11 225.228 10.6471C225.748 10.2941 226.329 10.0294 226.969 9.85294C227.61 9.67647 228.28 9.58823 228.981 9.58823C229.962 9.58823 230.822 9.72549 231.563 10C232.304 10.2549 232.924 10.598 233.425 11.0294C233.925 11.4412 234.305 11.9216 234.565 12.4706C234.846 13.0196 235.026 13.5686 235.106 14.1176L232.884 14.6471C232.784 13.7059 232.394 12.9706 231.713 12.4412C231.053 11.9118 230.182 11.6471 229.101 11.6471C228.681 11.6471 228.27 11.6961 227.87 11.7941C227.49 11.8725 227.15 12 226.849 12.1765C226.549 12.3529 226.309 12.5784 226.129 12.8529C225.949 13.1078 225.859 13.4118 225.859 13.7647Z" fill="white"/>
                        <path d="M241.45 17.3529V11.2353L254 7.82353V11.3529L243.792 14.0294V14.5588L254 17.2353V20.7647L241.45 17.3529Z" fill="white"/>
                        </svg>
                      </a>
                      </li>
                      <li class="navbar-fci"><a href="https://ciudadaniai.org/" target="_blank">{% t navbar.fci %}</a></li>
                      </div>
                          <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
                          <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
                              <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">
                                  <button class="uk-offcanvas-close" type="button" uk-close></button>
                                  <ul class="uk-list">
                                    <li><a href="{{ site.url }}" class="active">{% t navbar.item_1 %}</a></li>
                                    <li><a href="{{ site.baseurl_root }}/el-proyecto">{% t navbar.item_2 %}</a></li>
                                    <li><a href="{{ site.baseurl_root }}/abrealcaldias-chile">AbreAlcaldías Chile</a></li>
                                    <li><a href="{{ site.baseurl_root }}/como-trabajamos">{% t navbar.item_3 %}</a></li>
                                    <li><a href="{{ site.baseurl_root }}/nuestro-programa">{% t navbar.item_4 %}</a></li>
                                    <li><a href="{{ site.baseurl_root }}/nuestras-herramientas">{% t navbar.item_5 %}</a></li>
                                    <li><a href="{{ site.baseurl_root }}/toolkit">Toolkit</a></li>
                                    <li><a href="{{ site.baseurl_root }}/contacto">{% t navbar.item_6 %}</a></li>
                                  </ul>
                                <!--  <hr class="uk-hidden">
                                  <ul class="uk-list uk-hidden">
                                      {% if site.lang == "es" %} {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %} {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                                      <li> <a href="{{ link_en }}">English</a> </li>
                                      <li> <a href="{{ link_pt }}">Português</a> </li>
                                      {% elsif site.lang == "pt" %} {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %} {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                                      <li> <a href="{{ link_es }}">Español</a> </li>
                                      <li> <a href="{{ link_en }}">English</a> </li>
                                      {% elsif site.lang == "en" %} {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %} {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                                      <li> <a href="{{ link_es }}">Español</a> </li>
                                      <li> <a href="{{ link_pt }}">Português</a> </li>
                                      {% endif %}
                                  </ul>-->
                              </div>
                          </div>
                      </div>



                </div>
            </div>
        </nav>
    </header>

    <main aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
