---
layout: page
---


<section class="uk-container uk-container-small uk-margin-large uk-margin-medium-bottom animated fadeIn delay-1s fast" id="experiencias">
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
        <div class="uk-width-1">
            <h2 class="animated fadeInUp delay-1s fast uk-text-center">{% t experiencias.title %}</h2>
            <p class="animated fadeInUp delay-1s fast uk-text-center">{% t experiencias.descripcion %}</p>
        </div>
    </div>
</section>


<div id="experiencias" class="animated fadeIn delay-1s fast">
  <div class="uk-container uk-width-3-4@m uk-text-center " uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <div uk-filter="target: .js-filter">
          <p class="font-little-title">{% t network.action_1 %}</p>

          <div class="uk-grid-small uk-child-width-auto uk-flex uk-flex-center" uk-grid>
          <div>
              <ul class="uk-subnav uk-subnav-pill pill-active-2nd uk-flex uk-flex-center" uk-margin>
                <li uk-filter-control="filter: [data-country='México']; group: country"><a class="pill-2nd" href="#">{% t experiencias.filter_1_1 %}</a></li>
                <li uk-filter-control="filter: [data-country='Ecuador']; group: country"><a class="pill-2nd" href="#">{% t experiencias.filter_1_2 %}</a></li>
                <li uk-filter-control="filter: [data-country='Guatemala']; group: country"><a class="pill-2nd" href="#">{% t experiencias.filter_1_3 %}</a></li>
                <li uk-filter-control="filter: [data-country='El Salvador']; group: country"><a class="pill-2nd" href="#">{% t experiencias.filter_1_4 %}</a></li>
                <li uk-filter-control="filter: [data-country='Colombia']; group: country"><a class="pill-2nd" href="#">{% t experiencias.filter_1_5 %}</a></li>
                <li uk-filter-control="filter: [data-country='Chile']; group: country"><a class="pill-2nd" href="#">{% t experiencias.filter_1_6 %}</a></li>
              </ul>
          </div>
          </div>

          <div class="uk-grid-small uk-child-width-auto uk-flex uk-flex-center" uk-grid>
            <div style="margin: 1em">
              <ul class="uk-subnav uk-subnav-pill pill-active-1st" uk-margin>
                <li class="uk-active" uk-filter-control><a class="pill-1st" href="#">Ver todxs</a></li>
              </ul>
            </div>
          </div>


          <ul class="js-filter uk-child-width-1-1 uk-child-width-1-3@m uk-text-center uk-flex uk-flex-center" uk-grid="masonry: false">
            {% for member in site.network %}

              <li data-country="{{member.country}}" data-tags="{{member.area_1}} {{member.area_2}} {{member.area_3}}">
                <div class="uk-card uk-card-default card-network">
                    <a href="#{{member.modal}}" uk-toggle>
                      <div class="uk-media-top">
                        <span>{{member.country}}</span>
                        <a href="#{{member.modal}}" uk-toggle>
                          <h4>{{member.municipality}}</h4>
                        </a>
                        <p class="description_small">{{member.description-small}}</p>
                        <img class="" data-src="{{member.image}}" alt="{{member.name}} picture" uk-img>
                      </div>
                    </a>
                    <div class="uk-card-body">
                      <p class="font-mono font-small"><a href="#{{member.modal}}" uk-toggle>Conoce la historia</a></p>

                      <!-- This is the modal -->
                      <div id="{{member.modal}}" class="uk-flex-top" uk-modal>
                          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-text-center">
                          <button class="uk-modal-close-default" type="button" uk-close></button>

                            <!-- Titulo-->
                            <span>{{member.country}}</span>
                            <h2>{{member.municipality}}</h2>

                            <!-- descripcion-->
                            <h4>{{member.destacado}}</h4>

                            {% if member.descripcion_parrafo_1 == null and member.descripcion_parrafo_2 == null and member.descripcion_parrafo_3 == null and member.descripcion_parrafo_4 == null and member.descripcion_parrafo_5 == null and member.descripcion_parrafo_6 == null  %}
                            {% else %}
                            {% endif %}

                            {% if member.descripcion_parrafo_1 != null %}
                            <p>{{member.descripcion_parrafo_1}}</p>
                            {% endif %}

                            {% if member.descripcion_parrafo_2 != null %}
                            <p>{{member.descripcion_parrafo_2}}</p>
                            {% endif %}

                            {% if member.descripcion_parrafo_3 != null %}
                            <p>{{member.descripcion_parrafo_3}}</p>
                            {% endif %}

                            {% if member.descripcion_parrafo_4 != null %}
                            <p>{{member.descripcion_parrafo_4}}</p>
                            {% endif %}

                            {% if member.descripcion_parrafo_5 != null %}
                            <p>{{member.descripcion_parrafo_5}}</p>
                            {% endif %}

                            {% if member.descripcion_parrafo_6 != null %}
                            <p>{{member.descripcion_parrafo_6}}</p>
                            {% endif %}

                            <div class="implementadores">
                              <h3>Personas implementadoras que hoy forman parte de nuestra Red de Innovadores Municipales</h3>


                              <div class="implementador">
                                <img class="implementador" data-src="{{member.implementador_1_img}}" alt="" uk-img>
                                <h5 class="nombre">{{member.nombre_implementador_1}}</h5>
                                <p class="profesion">{{member.profesion_implementador_1}}</p>
                                <div class="rrss">
                                  {% if member.linkedin_implementador_1 == null and member.twitter_implementador_1 == null and member.facebook_implementador_1 == null and member.youtube_implementador_1 == null and member.website_implementador_1 == null %}
                                  {% else %}
                                  {% endif %}

                                  {% if member.linkedin_implementador_1 != null %}
                                    <a target="_blank" href="{{member.linkedin_implementador_1}}" style="font-size: 1.6em"><i class="uil uil-linkedin"></i></a>
                                  {% endif %}
                                  {% if member.twitter_implementador_1 != null %}
                                    <a target="_blank" href="{{member.twitter_implementador_1}}" style="font-size: 1.6em"><i class="uil uil-twitter"></i></a>
                                  {% endif %}
                                  {% if member.facebook_implementador_1 != null %}
                                    <a target="_blank" href="{{member.facebook_implementador_1}}" style="font-size: 1.6em"><i class="uil uil-facebook"></i></a>
                                  {% endif %}
                                  {% if member.youtube_implementador_1 != null %}
                                    <a target="_blank" href="{{member.youtube_implementador_1}}" style="font-size: 1.6em"><i class="uil uil-youtube"></i></a>
                                  {% endif %}
                                  {% if member.website_implementador_1 != null %}
                                    <a target="_blank" href="{{member.website_implementador_1}}" style="font-size: 1.6em"><i class="uil uil-globe"></i></a>
                                  {% endif %}
                                </div>
                              </div>

                              <div class="implementador">
                                <img class="implementador" data-src="{{member.implementador_2_img}}" alt="" uk-img>
                                <h5 class="nombre">{{member.nombre_implementador_2}}</h5>
                                <p class="profesion">{{member.profesion_implementador_2}}</p>
                                <div class="rrss">
                                  {% if member.linkedin_implementador_2 == null and member.twitter_implementador_2 == null and member.facebook_implementador_2 == null and member.youtube_implementador_2 == null and member.website_implementador_2 == null %}
                                  {% else %}
                                  {% endif %}

                                  {% if member.linkedin_implementador_2 != null %}
                                    <a target="_blank" href="{{member.linkedin_implementador_2}}" style="font-size: 1.6em"><i class="uil uil-linkedin"></i></a>
                                  {% endif %}
                                  {% if member.twitter_implementador_2 != null %}
                                    <a target="_blank" href="{{member.twitter_implementador_2}}" style="font-size: 1.6em"><i class="uil uil-twitter"></i></a>
                                  {% endif %}
                                  {% if member.facebook_implementador_2 != null %}
                                    <a target="_blank" href="{{member.facebook_implementador_2}}" style="font-size: 1.6em"><i class="uil uil-facebook"></i></a>
                                  {% endif %}
                                  {% if member.youtube_implementador_2 != null %}
                                    <a target="_blank" href="{{member.youtube_implementador_2}}" style="font-size: 1.6em"><i class="uil uil-youtube"></i></a>
                                  {% endif %}
                                  {% if member.website_implementador_2 != null %}
                                    <a target="_blank" href="{{member.website_implementador_2}}" style="font-size: 1.6em"><i class="uil uil-globe"></i></a>
                                  {% endif %}
                                </div>
                              </div>
                              <div class="implementador">
                                <img class="implementador" data-src="{{member.implementador_3_img}}" alt="" uk-img>
                                <h5 class="nombre">{{member.nombre_implementador_3}}</h5>
                                <p class="profesion">{{member.profesion_implementador_3}}</p>
                                <div class="rrss">
                                  {% if member.linkedin_implementador_3 == null and member.twitter_implementador_3 == null and member.facebook_implementador_3 == null and member.youtube_implementador_3 == null and member.website_implementador_3 == null %}
                                  {% else %}
                                  {% endif %}

                                  {% if member.linkedin_implementador_3 != null %}
                                    <a target="_blank" href="{{member.linkedin_implementador_3}}" style="font-size: 1.6em"><i class="uil uil-linkedin"></i></a>
                                  {% endif %}
                                  {% if member.twitter_implementador_3 != null %}
                                    <a target="_blank" href="{{member.twitter_implementador_3}}" style="font-size: 1.6em"><i class="uil uil-twitter"></i></a>
                                  {% endif %}
                                  {% if member.facebook_implementador_3 != null %}
                                    <a target="_blank" href="{{member.facebook_implementador_3}}" style="font-size: 1.6em"><i class="uil uil-facebook"></i></a>
                                  {% endif %}
                                  {% if member.youtube_implementador_3 != null %}
                                    <a target="_blank" href="{{member.youtube_implementador_3}}" style="font-size: 1.6em"><i class="uil uil-youtube"></i></a>
                                  {% endif %}
                                  {% if member.website_implementador_3 != null %}
                                    <a target="_blank" href="{{member.website_implementador_3}}" style="font-size: 1.6em"><i class="uil uil-globe"></i></a>
                                  {% endif %}
                                </div>
                              </div>
                              <div class="implementador">
                                <img class="implementador" data-src="{{member.implementador_4_img}}" alt="" uk-img>
                                <h5 class="nombre">{{member.nombre_implementador_4}}</h5>
                                <p class="profesion">{{member.profesion_implementador_4}}</p>
                                <div class="rrss">
                                  {% if member.linkedin_implementador_4 == null and member.twitter_implementador_4 == null and member.facebook_implementador_4 == null and member.youtube_implementador_4 == null and member.website_implementador_4 == null %}
                                  {% else %}
                                  {% endif %}

                                  {% if member.linkedin_implementador_4 != null %}
                                    <a target="_blank" href="{{member.linkedin_implementador_4}}" style="font-size: 1.6em"><i class="uil uil-linkedin"></i></a>
                                  {% endif %}
                                  {% if member.twitter_implementador_4 != null %}
                                    <a target="_blank" href="{{member.twitter_implementador_4}}" style="font-size: 1.6em"><i class="uil uil-twitter"></i></a>
                                  {% endif %}
                                  {% if member.facebook_implementador_4 != null %}
                                    <a target="_blank" href="{{member.facebook_implementador_4}}" style="font-size: 1.6em"><i class="uil uil-facebook"></i></a>
                                  {% endif %}
                                  {% if member.youtube_implementador_4 != null %}
                                    <a target="_blank" href="{{member.youtube_implementador_4}}" style="font-size: 1.6em"><i class="uil uil-youtube"></i></a>
                                  {% endif %}
                                  {% if member.website_implementador_4 != null %}
                                    <a target="_blank" href="{{member.website_implementador_4}}" style="font-size: 1.6em"><i class="uil uil-globe"></i></a>
                                  {% endif %}
                                </div>
                              </div>
                              <div class="implementador">
                                <img class="implementador" data-src="{{member.implementador_5_img}}" alt="" uk-img>
                                <h5 class="nombre">{{member.nombre_implementador_5}}</h5>
                                <p class="profesion">{{member.profesion_implementador_5}}</p>
                                <div class="rrss">
                                  {% if member.linkedin_implementador_5 == null and member.twitter_implementador_5 == null and member.facebook_implementador_5 == null and member.youtube_implementador_5 == null and member.website_implementador_5 == null %}
                                  {% else %}
                                  {% endif %}

                                  {% if member.linkedin_implementador_5 != null %}
                                    <a target="_blank" href="{{member.linkedin_implementador_5}}" style="font-size: 1.6em"><i class="uil uil-linkedin"></i></a>
                                  {% endif %}
                                  {% if member.twitter_implementador_5 != null %}
                                    <a target="_blank" href="{{member.twitter_implementador_5}}" style="font-size: 1.6em"><i class="uil uil-twitter"></i></a>
                                  {% endif %}
                                  {% if member.facebook_implementador_5 != null %}
                                    <a target="_blank" href="{{member.facebook_implementador_5}}" style="font-size: 1.6em"><i class="uil uil-facebook"></i></a>
                                  {% endif %}
                                  {% if member.youtube_implementador_5 != null %}
                                    <a target="_blank" href="{{member.youtube_implementador_5}}" style="font-size: 1.6em"><i class="uil uil-youtube"></i></a>
                                  {% endif %}
                                  {% if member.website_implementador_5 != null %}
                                    <a target="_blank" href="{{member.website_implementador_5}}" style="font-size: 1.6em"><i class="uil uil-globe"></i></a>
                                  {% endif %}
                                </div>
                              </div>
                              <div class="implementador">
                                <img class="implementador" data-src="{{member.implementador_6_img}}" alt="" uk-img>
                                <h5 class="nombre">{{member.nombre_implementador_6}}</h5>
                                <p class="profesion">{{member.profesion_implementador_6}}</p>
                                <div class="rrss">
                                  {% if member.linkedin_implementador_6 == null and member.twitter_implementador_6 == null and member.facebook_implementador_6 == null and member.youtube_implementador_6 == null and member.website_implementador_6 == null %}
                                  {% else %}
                                  {% endif %}

                                  {% if member.linkedin_implementador_6 != null %}
                                    <a target="_blank" href="{{member.linkedin_implementador_6}}" style="font-size: 1.6em"><i class="uil uil-linkedin"></i></a>
                                  {% endif %}
                                  {% if member.twitter_implementador_6 != null %}
                                    <a target="_blank" href="{{member.twitter_implementador_6}}" style="font-size: 1.6em"><i class="uil uil-twitter"></i></a>
                                  {% endif %}
                                  {% if member.facebook_implementador_6 != null %}
                                    <a target="_blank" href="{{member.facebook_implementador_6}}" style="font-size: 1.6em"><i class="uil uil-facebook"></i></a>
                                  {% endif %}
                                  {% if member.youtube_implementador_6 != null %}
                                    <a target="_blank" href="{{member.youtube_implementador_6}}" style="font-size: 1.6em"><i class="uil uil-youtube"></i></a>
                                  {% endif %}
                                  {% if member.website_implementador_6 != null %}
                                    <a target="_blank" href="{{member.website_implementador_6}}" style="font-size: 1.6em"><i class="uil uil-globe"></i></a>
                                  {% endif %}
                                </div>
                              </div>
                              <div class="implementador">
                                <img class="implementador" data-src="{{member.implementador_7_img}}" alt="" uk-img>
                                <h5 class="nombre">{{member.nombre_implementador_7}}</h5>
                                <p class="profesion">{{member.profesion_implementador_7}}</p>
                                <div class="rrss">
                                  {% if member.linkedin_implementador_7 == null and member.twitter_implementador_7 == null and member.facebook_implementador_7 == null and member.youtube_implementador_7 == null and member.website_implementador_7 == null %}
                                  {% else %}
                                  {% endif %}

                                  {% if member.linkedin_implementador_7 != null %}
                                    <a target="_blank" href="{{member.linkedin_implementador_7}}" style="font-size: 1.6em"><i class="uil uil-linkedin"></i></a>
                                  {% endif %}
                                  {% if member.twitter_implementador_7 != null %}
                                    <a target="_blank" href="{{member.twitter_implementador_7}}" style="font-size: 1.6em"><i class="uil uil-twitter"></i></a>
                                  {% endif %}
                                  {% if member.facebook_implementador_7 != null %}
                                    <a target="_blank" href="{{member.facebook_implementador_7}}" style="font-size: 1.6em"><i class="uil uil-facebook"></i></a>
                                  {% endif %}
                                  {% if member.youtube_implementador_7 != null %}
                                    <a target="_blank" href="{{member.youtube_implementador_7}}" style="font-size: 1.6em"><i class="uil uil-youtube"></i></a>
                                  {% endif %}
                                  {% if member.website_implementador_7 != null %}
                                    <a target="_blank" href="{{member.website_implementador_7}}" style="font-size: 1.6em"><i class="uil uil-globe"></i></a>
                                  {% endif %}
                                </div>
                              </div>

                            </div>

                            <!-- Slide-->
                            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                              {% if member.slide_img_1 == null and member.slide_img_2 == null and member.slide_img_3 == null and member.slide_img_4 == null and member.slide_img_5 == null and member.slide_img_6 == null and member.slide_img_7 == null and member.slide_img_8 == null %}
                              {% else %}
                              {% endif %}

                                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                                  {% if member.slide_img_1 != null %}
                                    <li>
                                        <img src="{{member.slide_img_1}}" width="400" height="600" alt="">
                                    </li>
                                  {% endif %}
                                  {% if member.slide_img_2 != null %}
                                    <li>
                                        <img src="{{member.slide_img_2}}" width="400" height="600" alt="">
                                    </li>
                                    {% endif %}
                                    {% if member.slide_img_3 != null %}
                                    <li>
                                        <img src="{{member.slide_img_3}}" width="400" height="600" alt="">
                                    </li>
                                    {% endif %}
                                    {% if member.slide_img_4 != null %}
                                    <li>
                                        <img src="{{member.slide_img_4}}" width="400" height="600" alt="">
                                    </li>
                                    {% endif %}
                                    {% if member.slide_img_5 != null %}
                                    <li>
                                        <img src="{{member.slide_img_5}}" width="400" height="600" alt="">
                                    </li>
                                    {% endif %}
                                    {% if member.slide_img_6 != null %}
                                    <li>
                                        <img src="{{member.slide_img_6}}" width="400" height="600" alt="">
                                    </li>
                                    {% endif %}
                                    {% if member.slide_img_7 != null %}
                                    <li>
                                        <img src="{{member.slide_img_7}}" width="400" height="600" alt="">
                                    </li>
                                    {% endif %}
                                    {% if member.slide_img_8 != null %}
                                    <li>
                                        <img src="{{member.slide_img_8}}" width="400" height="600" alt="">
                                    </li>
                                    {% endif %}
                                </ul>
                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                            </div>

                            <!-- Slide-->
                            <div class="video-municipio">
                              {% if member.video == null %}
                              {% else %}
                              {% endif %}

                              {% if member.video != null %}
                              <iframe width="560" height="315" src="{{member.video}}" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              {% endif %}
                            </div>

                          </div>
                      </div>
                      <!-- end modal-->


                    </div>
                </div>
              </li>


            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  UIkit.slider(element, options);
</script>
