---
layout: default-home
---

<div id="hero">


    <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">

        <ul class="uk-slideshow-items">
            <!-- <li>
              <img src="/assets/images/img-abre-carrousel-1.png" alt="img" uk-cover>
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                  <img src="/assets/images/logo-abre.png" alt="img" class="logo">
                  <br><br>
                  <h1>2024</h1>
                  <h1>¡Atención América Latina y el Caribe!</h1>
                  <br><br>
                  <a href="https://forms.gle/4mP7hBo47Brf2Ad98" target="_blank" class="boton-abre-alcaldias">INSCRIPCIONES ABIERTAS</a>
                </div>
            </li> -->
            <li>
                <img src="/assets/images/bg-democraciakit.jpg" alt="img" uk-cover>
                <div class="uk-position-center uk-position-small uk-text-center uk-light centrar-informacion">
                  <h2 class="titulo-democraciakit">DEMOCRACIAKIT</h2>
                  <p>Herramientas para la democracia local</p>
                  <a href="https://democraciakit.abrealcaldias.org" target="_blank" class="boton-abre-alcaldias">Conoce DemocraciaKit</a>
                </div>
            </li>
            <li>
                <img src="/assets/images/slide-2.png" alt="img" uk-cover>
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                  <img src="/assets/images/logo-premio.png" alt="img" class="logo-premio">
                  <p>Premio latinoamericano democracia digital 2da edición</p>
                </div>
            </li>
        </ul>

        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"> < </a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"> > </a>
        </div>

        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>



    <!--<div class="uk-height-viewport uk-flex uk-flex-bottom uk-background-cover uk-light animated fadeIn delay-1s fast" data-src="assets/images/banners/banner-home.png" uk-img>
        <div class="uk-container uk-container-xlarge uk-text-center uk-width-2-3@m">
            <div class="content-hero uk-flex uk-flex-center uk-flex-column uk-flex-middle">
              <h1 class="animated fadeInUp delay-1s fast">Suma a tu municipio a AbreAlcaldías&lt;Chile 2023</h1>
              <a href="{{ site.baseurl_root }}/abrealcaldias-chile" class="btn-important animated fadeInUp delay-1s fast">Conoce más aquí</a>
            </div>
        </div>
    </div>-->
</div>


<script>
    UIkit.parallax(element, options);
</script>

{{ content }}
