---
layout: page
---

<div class="uk-section section-no-color animated fadeIn delay-1s fast">
  <div class="uk-container uk-width-3-4@m uk-text-center " uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <img class="logo-footer-50" data-src="../assets/images/logo-network.svg" uk-img>
        <p>{% t network.description_1 %}</p>
        <p>{% t network.description_2 %}</p>
      </div>
    </div>
  </div>
</div>

<div class="uk-section section-color-2nd animated fadeIn">
  <div class="uk-container uk-width-3-4@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
      <div class="uk-width-1-1 uk-flex" uk-grid>
        <div class="uk-width-1-4@m">
          <i class='uil uil-award-alt font-color-2nd-0' style="font-size: 50px; position: relative; left: -22px; top: -18px"></i>
          <h3 style="margin-top:-30px;">{% t network.title_2 %}</h3>
        </div>
        <div class="uk-width-3-4@m">
          <p class="list-angle font-compressed">{% t network.item_1 %}</p>
          <p class="list-angle font-compressed">{% t network.item_2 %}</p>
          <p class="list-angle font-compressed">{% t network.item_3 %}</p>
          <p class="list-angle font-compressed">{% t network.item_4 %}</p>
          <p class="list-angle font-compressed">{% t network.item_5 %}</p>
          <p class="list-angle font-compressed">{% t network.item_6 %}</p>
          <p class="list-angle font-compressed">{% t network.item_7 %}</p>
        </div>
      </div>
  </div>
</div>


<div class="uk-section section-color-1st animated fadeIn">
  <div class="uk-container uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <h2>{% t network.title_3 %}</h2>
        <p>{% t network.description_3 %}</p>
        <h4 class="font-color-black">{% t network.call_1 %}</h4>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScL7z2n9dP_ck1L_s0qQsgKIo1jN-t6K2NeKr3UYEqB3jHPzw/viewform" target="_blank" class="uk-button button-color-1st">{% t network.call_2 %}</a>
      </div>
    </div>
  </div>
</div>

<div id="network" class="uk-section section-no-color animated fadeIn delay-1s fast">
  <div class="uk-container uk-width-3-4@m uk-text-center " uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <h2 class="font-color-2nd-0">{% t network.title_4 %}</h2>
        <div uk-filter="target: .js-filter">
          <p class="font-little-title uk-hidden">{% t network.action_1 %}</p>
          <div class="uk-grid-small uk-child-width-auto uk-flex uk-flex-center uk-hidden" uk-grid>
          <div>
              <ul class="uk-subnav uk-subnav-pill pill-active-2nd uk-flex uk-flex-center" uk-margin>
                <li uk-filter-control="filter: [data-country='Ecuador']; group: country"><a class="pill-2nd" href="#">{% t network.filter_1_1 %}</a></li>
                <li uk-filter-control="filter: [data-country='El salvador']; group: country"><a class="pill-2nd" href="#">{% t network.filter_1_2 %}</a></li>
                <li uk-filter-control="filter: [data-country='Guatemala']; group: country"><a class="pill-2nd" href="#">{% t network.filter_1_3 %}</a></li>
                <li uk-filter-control="filter: [data-country='México']; group: country"><a class="pill-2nd" href="#">{% t network.filter_1_4 %}</a></li>
              </ul>
            </div>
          </div>
          <p class="font-little-title" style="margin-top: 4em">{% t network.action_2 %}</p>
          <div class="uk-grid-small uk-child-width-auto uk-flex uk-flex-center" uk-grid>
            <div>
              <ul class="uk-subnav uk-subnav-pill pill-active-3rd uk-flex uk-flex-center" uk-margin>
                <li uk-filter-control="filter: [data-tags*='democracia']; group: area"><a class="pill-3rd" href="#">{% t network.filter_2_1 %}</a></li>
                <li uk-filter-control="filter: [data-tags*='educacion']; group: area"><a class="pill-3rd" href="#">{% t network.filter_2_2 %}</a></li>
                <li uk-filter-control="filter: [data-tags*='genero']; group: area"><a class="pill-3rd" href="#">{% t network.filter_2_3 %}</a></li>
                <li uk-filter-control="filter: [data-tags*='gobierno']; group: area"><a class="pill-3rd" href="#">{% t network.filter_2_4 %}</a></li>
                <li uk-filter-control="filter: [data-tags*='ambiente']; group: area"><a class="pill-3rd" href="#">{% t network.filter_2_5 %}</a></li>
                <li uk-filter-control="filter: [data-tags*='participacion']; group: area"><a class="pill-3rd" href="#">{% t network.filter_2_6 %}</a></li>
                <li uk-filter-control="filter: [data-tags*='transparencia']; group: area"><a class="pill-3rd" href="#">{% t network.filter_2_7 %}</a></li>
              </ul>
            </div>
          </div>
          <p class="font-little-title uk-hidden" style="margin-top: 4em">Limpiar filtros</p>
          <div class="uk-grid-small uk-child-width-auto uk-flex uk-flex-center" uk-grid>
            <div style="margin: 4em 0 3em">
              <ul class="uk-subnav uk-subnav-pill pill-active-1st" uk-margin>
                <li class="uk-active" uk-filter-control><a class="pill-1st" href="#">Ver todxs</a></li>
              </ul>
            </div>
          </div>
          <ul class="js-filter uk-child-width-1-1 uk-child-width-1-3@m uk-text-center uk-flex uk-flex-center" uk-grid="masonry: false">
            {% for member in site.network %}
              <li data-country="{{member.country}}" data-tags="{{member.area_1}} {{member.area_2}} {{member.area_3}}">
                <div class="uk-card uk-card-default card-network">
                    <a href="#{{member.modal}}" uk-toggle>
                      <div class="uk-media-top">
                        <img class="uk-border-circle" data-src="{{member.image}}" width="200" height="200" alt="{{member.name}} picture" style="margin: 2em 0 -1em" uk-img>
                      </div>
                    </a>
                    <div class="uk-card-body">
                      <span class="uk-label bg-2nd" style="margin: 1em 0 -0.5em;">{{member.country}}</span>
                      <p class="font-small hover-no-color">{{member.municipality}}</p>
                      <a href="#{{member.modal}}" uk-toggle>
                        <h4 class="font-color-1st-0" style="margin: -0.3em 0 -0.5em;">{{member.name}}</h4>
                      </a>
                      <p class="font-mono font-small"><a href="#{{member.modal}}" uk-toggle>Ver perfil -></a></p>
                      <!-- This is the modal -->
                      <div id="{{member.modal}}" class="uk-flex-top" uk-modal>
                          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-text-center">
                          <button class="uk-modal-close-default" type="button" uk-close></button>
                            <!-- Imagen-->
                            <div>
                              <img class="uk-border-circle" data-src="{{member.image}}" width="200" height="200" alt="{{member.name}} picture" style="margin: 2em 0 0" uk-img>
                            </div>
                              <!-- Datos generales-->
                              <span class="uk-label bg-2nd" style="margin: 1em 0 -0.5em;">{{member.country}}</span>
                              <p><b>{{member.municipality}}</b></p>
                              <h4 class="font-color-1st-0" style="margin: -0.3em 0 -0.5em;">{{member.name}}</h4>
                              <p class="font-small">{{member.bio}}</p>
                              <!-- Áreas de trabajo-->
                              <div style="margin-bottom: 1.5em">
                                {% if member.area_1_pill == null and member.area_2_pill == null and member.area_3_pill == null %}
                                {% else %}
                                  <p class="font-little-title" style="margin: 2em 0 -0.5em">Áreas de trabajo</p>
                                {% endif %}
                                {% if member.area_1_pill != null %}
                                  <span class="uk-label bg-3rd" style="margin: 1em 0 -0.5em">{{member.area_1_pill}}</span>
                                {% endif %}
                                {% if member.area_2_pill != null %}
                                  <span class="uk-label bg-3rd" style="margin: 1em 0 -0.5em">{{member.area_2_pill}}</span>
                                {% endif %}
                                {% if member.area_3_pill != null %}
                                  <span class="uk-label bg-3rd" style="margin-top: 1em">{{member.area_3_pill}}</span>
                                {% endif %}
                              </div>
                              <!-- Contacto-->
                              <div class="uk-flex uk-flex-middle uk-flex-center">
                                {% if member.linkedin == null and member.twitter == null and member.facebook == null and member.youtube == null and member.website == null %}
                                {% else %}
                                  <p class="font-little-title" style="margin: 2em 1em 2em">Contacto</p>
                                {% endif %}

                                {% if member.linkedin != null %}
                                  <a target="_blank" href="{{member.linkedin}}" style="font-size: 1.6em"><i class="uil uil-linkedin"></i></a>
                                {% endif %}
                                {% if member.twitter != null %}
                                  <a target="_blank" href="{{member.twitter}}" style="font-size: 1.6em"><i class="uil uil-twitter"></i></a>
                                {% endif %}
                                {% if member.facebook != null %}
                                  <a target="_blank" href="{{member.facebook}}" style="font-size: 1.6em"><i class="uil uil-facebook"></i></a>
                                {% endif %}
                                {% if member.youtube != null %}
                                  <a target="_blank" href="{{member.youtube}}" style="font-size: 1.6em"><i class="uil uil-youtube"></i></a>
                                {% endif %}
                                {% if member.website != null %}
                                  <a target="_blank" href="{{member.website}}" style="font-size: 1.6em"><i class="uil uil-globe"></i></a>
                                {% endif %}
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
