---
layout: default-publicaciones
---

  <div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-visible@m animated fadeIn" data-src="{{ page.welcome_desktop }}" uk-img>
    <!-- Desktop -->
    <div class="uk-container uk-width-1-1@m uk-text-center uk-flex uk-flex-center uk-flex-column uk-flex-align-center">
        <h4 class="animated fadeInUp">{{ page.sub-title | escape }}</h4>
        <h2 class="animated fadeInUp">{{ page.title | escape }}</h2>
    </div>
    <!-- End desktop -->
  </div>

  <div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-hidden@m animated fadeIn" data-src="{{ page.welcome_mobile }}" uk-img>
    <!-- Mobile -->
    <div class="uk-container uk-width-1-1@m uk-text-center uk-flex uk-flex-center uk-flex-column uk-flex-align-center">
        <h4 class="animated fadeInUp">{{ page.sub-title | escape }}</h4>
        <h2 class="animated fadeInUp">{{ page.title | escape }}</h2>
    </div>
    <!-- End mobile -->
  </div>

    {{ content }}
